<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="yppf_cgi" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\ProgramData\Miniconda3\python.exe|C:\ProgramData\Miniconda3\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <security>
            <requestFiltering allowDoubleEscaping="true" />
        </security>
        <httpRedirect enabled="false" destination="https://yppf.yuanpei.life" exactDestination="true" childOnly="true" />
    </system.webServer>
    <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="D:\software\YPPF" />

    <!-- Optional settings -->
    <add key="DJANGO_SETTINGS_MODULE" value="boottest.settings" />
  </appSettings>
</configuration>
