  @font-face {
    font-family: "Siyuan SongTi regular";
    src: url("../fonts/Siyuan-SongTi-regular.ttf") format("truetype");
  }

  /* UTILITIES */
  .flex {
    display: flex;
  }

  .gap-20dvw {
    gap: 20dvw;
  }

  .mt-35 {
    margin-top: 35px;
  }

  .mt-50 {
    margin-top: 50px;
  }

  .fs-25b {
    font-size: 25px;
    font-weight: bold;
  }

  .fs-36b {
    font-size: 36px;
    font-weight: bold;
  }

  .fc-rose {
    font-weight: 900;
    color: #ff5757;
  }

  /* ELEMENTS */
  body {
    font-family: Helvetica, sans-serif, STHeiTi;
    font-size: 14px;
    line-height: 1.5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  ol,
  li {
    list-style-position: outside;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 10px 0 0 0;
    padding: 0;
    color: rgb(60, 60, 60);
    font-size: 18px;
    font-family: "Siyuan SongTi regular";
    line-height: 35px;
    word-break: break-all;
  }


  button {
    cursor: pointer;
  }

  /* LIBRARIES */
  .fp-tableCell {
    position: relative;
  }

  /* PAGE-SPECIFIC */
  /* Audio player */
  #music-container {
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 100000;
  }

  button#play-music {
    border: none;
    background-color: transparent
  }

  #play-music #playing {
    display: none;
  }

  .page {
    overflow: hidden;
  }

  .content {
    position: absolute;
  }

  .bg-back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* page-home */
  #page-home {
    padding-bottom: 0 !important;
  }

  #page-home .bg-back {
    background-image: url("../img/summary2023/homepage/底图.jpeg");
  }

  #page-home .title {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/summary2023/homepage/标题.jpeg") no-repeat;
    background-size: 100% auto;
    background-position: left 35%;
  }

  #page-home .envelope {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/summary2023/homepage/信封.jpeg") no-repeat;
    background-size: 100% auto;
    background-position: left bottom;
  }

  #page-home .content1 {
    position: absolute;
    left: 10%;
    font-size: 25px;
    line-height: 25px;
  }

  #page-home .content2 {
    position: absolute;
    top: 90%;
    left: 1%;
    right: 0;
    font-size: 14px;
    text-align: center;
    line-height: 14px;
  }

  #page-home #continue-button {
    position: absolute;
    opacity: 0;
  }

  #page-home .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  #page-home .agreement {
    display: none;
    overflow: auto;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 60%;
    padding: 20px;
    box-sizing: border-box;
    background: white;
    z-index: 10000;
  }

  #page-home .agreement .rule-wrapper {
    width: 100%;
  }

  #page-home .agreement .rule-title {
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }

  #page-home .agreement .rule-content {
    font-size: 14px;
    text-align: justify;
    line-height: 22px;
  }

  #page-home .agreement p.rule-content {
    text-indent: 2em;
  }

  #page-home .agreement ol.rule-content {
    margin-left: 3em;
  }

  #page-home .agreement .rule-button {
    background-color: #15558d;
    border: 2px solid #15558d;
    border-radius: 0.25rem;
    color: white;
    font-size: 14px;
    text-align: center;
    display: block;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  /* 地下室部分 */
  /* 引入 */
  #page-1-1-1 .bg-back {
    background-image: url("../img/summary2024/p1-1-1.png");
  }

  #page-1-1-1 .content {
    top: 20%;
    left: 10%;
  }

  #page-1-1-2 .bg-back {
    background-image: url("../img/summary2024/p1-1-2.png");
  }

  #page-1-1-2 .content {
    top: 35%;
    left: 0;
    right: 0;
    text-align: center;
  }

  /* B1空间使用情况总览 */
  #page-1-2 .bg-back {
    background-image: url("../img/summary2024/p1-2.png");
    ;
  }

  #page-1-2 .content {
    top: 15%;
    left: 10%;
  }

  /* B2空间（功能室）使用情况总览 */
  #page-1-3 .bg-back {
    background-image: url("../img/summary2024/p1-3.png");
  }

  #page-1-3 .content {
    top: 15%;
    left: 0;
    right: 0;
    text-align: center;
  }

  /* 过渡个人Part */
  #page-1-4 .bg-back {
    background-image: url("../img/summary2024/p1-4.png");
  }

  #page-1-4 .content {
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
  }

  /* 自习室 */
  #page-1-5 .bg-back {
    background-image: url("../img/summary2024/p1-5.png");
  }

  #page-1-5 .content {
    top: 25%;
    left: 0;
    right: 0;
    text-align: center;
  }

  /* 研讨室 */
  #page-1-6 .bg-back {
    background-image: url("../img/summary2024/p1-6.png");
  }

  #page-1-6 .content {
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
  }

  /* 功能室 */
  #page-1-7 .bg-back {
    background-image: url("../img/summary2024/p1-7.png");
  }

  #page-1-7 .content {
    top: 25%;
    left: 8%;
    text-align: left;
  }

  /* 亲密关系 */
  #page-1-8 .bg-back {
    background-image: url("../img/summary2024/p1-8.png");
  }

  #page-1-8 .content {
    top: 25%;
    left: 0;
    right: 0;
    text-align: center;
  }

  /* 个人预约总览 */
  #page-1-9 .bg-back {
    background-image: url("../img/summary2024/p1-9.png");
  }

  #page-1-9 .content {
    top: 25%;
    left: 0;
    right: 0;
    text-align: center;
  }

  /* 书院部分 */
  /* YPPF 引入 */
  #page-2-1 .bg-back {
    background-image: url("../img/summary2024/p2-1.png");
  }

  #page-2-1 .content {
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
  }

  /* YPPF 使用总览 */
  #page-2-2 .bg-back {
    background-image: url("../img/summary2024/p2-2.png");
  }

  #page-2-2 .content {
    top: 16%;
    left: 10%;
  }

  /* 个人登录情况 */
  #page-2-3 .bg-back {
    background-image: url("../img/summary2024/p2-3.png");
  }

  #page-2-3 .content {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
  }

  /* 个人小组活动参与情况 */
  #page-2-4 .bg-back {
    background-image: url("../img/summary2024/p2-4.png");
  }

  #page-2-4 .content {
    top: 25%;
    left: 0;
    right: 0;
    text-align: center;
  }

  /* 个人书院课选修情况 */
  #page-2-5 .bg-back {
    background-image: url("../img/summary2024/p2-5.png");
  }

  #page-2-5 .content {
    top: 12%;
    left: 10%;
  }

  /* 元气值收入 */
  #page-2-6 .bg-back {
    background-image: url("../img/summary2024/p2-6.png");
  }

  #page-2-6 .content {
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
  }

  /* 元气值商城 */
  #page-2-7 .bg-back {
    background-image: url("../img/summary2024/p2-7.png");
  }

  #page-2-7 .content {
    top: 12%;
    left: 10%;
  }

  /* 学术地图 */
  #page-2-8 .bg-back {
    background-image: url("../img/summary2024/p2-8.png");
  }

  #page-2-8 .content {
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
  }

  /* 结束页 */
  #page-2-9 .bg-back {
    background-image: url("../img/summary2024/p2-9.png");
  }

  #page-2-9 .content {
    top: 15%;
    left: 0;
    right: 0;
    text-align: center;
  }

  /* 展示页 */
  #page-2-10 .bg-back {
    background-image: url("../img/summary2024/p2-10.png");
  }

  #page-2-10 .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  #page-2-10 .content-panel {
    margin: 5dvh 10dvw 5dvh 10dvw;
  }

  #mbti-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    width: 100%;
    height: 60dvh;
    margin-top: 32px;
  }

  #mbti-table .mbti-cell {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0.375rem;
    box-shadow: 0 10px 15px -3px rgb(255 255 255 / 0.1), 0 4px 6px -4px rgb(255 255 255/0.1)
  }

  #mbti-table .mbti-cell h2 {
    position: absolute;
    top: -45%;
    font-size: 90px;
    font-weight: 900;
    text-shadow: 0 20px 25px rgb(0 0 0 / 0.1), 0 8px 10px rgb(0 0 0 / 0.1);
  }

  #mbti-table .mbti-cell p {
    line-height: 18px;
    text-align: center;
  }