{% extends "base.html" %}

{% load static %}

{% block add_css_file %}
    <link href="{% static 'assets/css/select2/select2.min.css' %}" rel="stylesheet" />
    <style>
        .custom-file-input:lang(zh)~.custom-file-label::after {
        content: "上传图片";}
    </style>
{% endblock %}

{% block mainpage %}

<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">
        <div class="container">
            {% if html_display.warn_code == 2 %}
            <div class="alert alert-success  text-center">{{html_display.warn_message}}</div>
            {% elif html_display.warn_code == 1%}
            <div class="alert alert-warning  text-center">{{html_display.warn_message}}</div>
            {% endif %}
            <div class="row layout-top-spacing">

                <div class="col-lg-12 col-sm-12 col-12 layout-spacing">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <div class="statbox widget box box-shadow">

                                <!--  BEGIN HEADER AREA  -->
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">

                                            {%if not is_new_application%}
                                                <br>
                                                <br>
                                                {% with application.get_status_display as status %}
                                                <div align="center">
                                                    <h4><a href="/viewActivity/{{application.activity.id}}"><u>{{application.activity.title}}</u></a>
                                                        ({{application.activity.start.month}}月{{application.activity.start.day}}日)
                                                        {%if status == "待审核"%}
                                                        <span class="badge badge-primary">{{status}}</span>
                                                        {%elif status == "已通过"%}
                                                        <span class="badge badge-success">{{status}}</span>
                                                        {%elif status == "已取消"%}
                                                        <span class="badge badge-dark">{{status}}</span>
                                                        {%else%}
                                                        <span class="badge badge-danger">{{status}}</span>
                                                        {%endif%}
                                                    </h4>
                                                </div>
                                                {%endwith%}
                                                <br>


                                                <div class="d-flex justify-content-between">
                                                    <div \>
                                                        <h4>申请时间：{{application.time}}</h4>
                                                    </div>
                                                    <div align="right">
                                                        <h4>
                                                            申请小组：
                                                            <img src={{ applicant.get_user_ava }} width="24" height="24"
                                                                 alt="avatar">
                                                            <a href="{{ applicant.get_absolute_url }}">
                                                                <u>{{ applicant.get_display_name }}</u></a>
                                                        </h4>
                                                    </div>
                                                </div>


                                             {% else %}
                                             <div class="d-flex justify-content-between">
                                                <div>
                                                    <h4>新建活动结项</h4>
                                                </div>
                                   
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <!--  BEGIN CONTENT AREA  -->
                                <div class="widget-content widget-content-area">

                                    <form role="form" method="POST" enctype="multipart/form-data">
                                        {%if  is_new_application %}
                                        <div class="form-group">
                                            <label>
                                                活动
                                                <a data-toggle="tooltip" data-placement="bottom" title="已结束的活动才可发起报销">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                        class="bi bi-question-circle-fill" viewBox="0 0 22 22">
                                                        <path
                                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                                                    </svg>
                                                </a>
                                            </label>
                                            {% if activities %}
                                                <select name="activity_id" class="form-control">
                                                    {% for activity in activities %}
                                                        <option value={{activity.id}}
                                                        >{{activity.title}} ({{activity.start.month}}月{{activity.start.day}}日
                                                            )</option>
                                                    {% endfor %}
                                                </select>
                                            {%else%}
                                            <select  class="form-control">
                                                <option>当前无活动可总结</option>
                                            </select>
                                            {%endif%}
                                        </div>
                                        {%endif%}


                                           
                                        <br>

                                        <label>活动总结图片<a
                                                            data-toggle="tooltip" data-placement="bottom" title="活动总结图片在老师通过审核后将被挂接到活动主页，还有机会被算法选中放在首页让大家都看到哦。注意：如需修改活动总结图片，请重新上传所有的活动总结图片。">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                                class="bi bi-question-circle-fill" viewBox="0 0 22 22">
                                                                <path
                                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                                                            </svg>
                                                        </a>
                                        </label>
                                        <br>
                                        {%if not is_new_application%}
                                            {% if summary_photo %}
                                            <div style="max-height:1000px;overflow:auto;">
                                                <img src="{{ summary_photo.url }}" >
                                                <!--移动端图片大小需要修正!-->
                                             </div>
                                             <br/>
                                            {%elif allow_audit_submit%}
                                            <textarea disabled="disabled" class="form-control">小组“{{ applicant.get_display_name }}”未上传活动总结图片
                                            </textarea>
                                            {%endif%}
                                        {%endif%}
                                        {%if allow_form_edit %}
                                        <div class="form-group">
                                            <div class="custom-file" lang="zh">

                                                <input onchange="showsummaryFilename(this.files)" type="file"
                                                       class="custom-file-input" id="summary" name="summaryimages"
                                                       accept="image/*" multiple>
                                                <label id="summaryfile" class="custom-file-label"
                                                       for="customFile"
                                                >{% if summary_photo %}更新活动总结图片{% else %}上传活动总结图片{% endif %}</label>

                                            </div>
                                        </div>
                                        {%endif%}
                                        <br>


                                        {% if not is_new_application and allow_form_edit %}
                                        <div class="form-group card-label"> 
                                            <label>参与人员<a
                                                data-toggle="tooltip" data-placement="bottom" title='原有参与人员不支持删除，即使通过X号删除下次进入该界面还是会存在哦。'>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                    class="bi bi-question-circle-fill" viewBox="0 0 22 22">
                                                    <path
                                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                                                </svg>
                                            </a>
                                            </label>
                                            <select class="search-members" name="students" value="" id="select-participants" multiple="multiple" style="width: 100%; z-index: 200;">
                                            </select>
                                        </div>
                                        {% endif %}


                                        <br>

                                        {%if not is_new_application%}
                                            {%if allow_audit_submit %}
                                            <div align="center">
                                                <table>
                                                    <tr>
                                                        <button type="submit" class="btn btn-primary btn-lg mb-4 mr-2"
                                                                name="post_type"
                                                                value="accept_submit">
                                                            通过
                                                        </button>
                                                    </tr>

                                                    <tr>
                                                        <button type="submit" class="btn btn-warning btn-lg mb-4 mr-2"
                                                                 name="post_type"
                                                                value="refuse_submit">
                                                            拒绝
                                                        </button>
                                                    </tr>
                                                </table>
                                            </div>
                                            {%elif allow_form_edit%}
                                            <div align="center">
                                                <table>
                                                    <tr>
                                                        <button type="submit" class="btn btn-primary btn-lg mb-4 mr-2"
                                                                 name="post_type"
                                                                value="modify_submit"
                                                                onclick="return confirm('确认提交活动结项申请？')">修改并提交
                                                        </button>
                                                    </tr>
                                                    <tr>
                                                        <button type="submit" class="btn btn-primary btn-lg mb-4 mr-2"
                                                                 name="post_type"
                                                                value="cancel_submit"
                                                                onclick="return confirm('确认取消活动结项申请？')"
                                                        >取消申请
                                                        </button>
                                                    </tr>
                                                </table>
                                            </div>

                                        {%endif%}
                                        {%else %}
                                        <button type="submit" class="btn btn-primary btn-block mb-4 mr-2"
                                                 name="post_type"
                                                value="new_submit">
                                            提交
                                        </button>
                                        {%endif%}


                                    </form>
                                    {% include 'comment.html' %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    
</div>
<!--  END CONTENT AREA  -->

{% endblock %}
{% block add_js_file %}
<script src={% static "assets/js/select2/select2.min.js" %}></script>
{% comment %} 提供本项目的用户搜索函数matchUser {% endcomment %}
<script src="{% static 'assets/js/select2/user-matcher.js' %}"></script>

{% if not is_new_application and allow_form_edit %}
{{ json_context | json_script:'context-data' }}
<script>
    /**
     * @typedef {object} UserInfo - 用户信息对象
     * @property {number} id - 用户 ID
     * @property {string} text - 文本表示，如姓名
     * @property {string} [pinyin] - 文本的拼音
     * @property {string} [acronym] - 文本的首字母缩写
     * @extends SelectData
     */

    /**
     * 上下文数据
     * @type {Context}
     * @typedef {object} Context
     * @property {UserInfo[]} user_infos - 可选参与人员列表
     * @property {string[]} [participant_ids] - 已有参与人员的用户名列表
     */
    const CONTEXT = JSON.parse(document.getElementById('context-data').textContent);
</script>
<script>
    $(document).ready(function () {
        $('#select-participants').select2({
            theme: "classic",
            placeholder: "成员(姓名/拼音首字母搜索)",
            allowClear: false,
            data: CONTEXT.user_infos,
            matcher: matchUser,
        });

        if (CONTEXT.participant_ids) {
            $('#select-participants').val(CONTEXT.participant_ids).trigger('change');
        }
    });
</script>
{% endif %}

<script>
{% comment %}
function showFilename(files){
    var text = "";
    for (i = 0; i < files.length; i++)
    {
    text += (" "+files[i].name);
    }
    if (text == "")
        text = "上传报销材料图片";
    $("#uploadfile").html(text);
}
{% endcomment %}
function showsummaryFilename(files){
    var text = "";
    for (i = 0; i < files.length; i++)
    {
    text += (" "+files[i].name);
    }
    if (text == "")
        text = {% if summary_photo is not None %}"更新活动总结图片"{% else %}"上传一张活动总结图片"{% endif %};
    $("#summaryfile").html(text);
}
{%endblock%}

