{% load static %}
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>拒绝权限</title>
    <link rel="stylesheet" href="{% static 'birthboard/birthboard_approve_denied.css' %}">
</head>
<body>
<div class="container">
    <div class="title-block">
        <div class="title-strip" aria-label="生日祝福投放审核" style="margin-bottom: 0rem;">
            <img src="{{ MEDIA_URL }}birthboard/wyypsrdp.gif" alt="生日祝福投放审核" style="width: 1000px;">
        </div>
    </div>
    <div class="denied-title" style="margin-top:3rem">{{ user_name }}</div>
    <div>
        <img src="{{ MEDIA_URL }}birthboard/xbs.gif" alt="小瘪三" style="width: 400px; margin-bottom: 1rem;">
    </div>
    <div class="denied-title" >没有权限</div>
    <div>
        <img src="{{ MEDIA_URL }}birthboard/gwcpx.gif" alt="给我擦皮鞋" style="width: 600px; margin-bottom: 1rem;">
    </div>
    <!-- <div class="denied-subtitle">
        {{ user_name }}，你尚未被授予生日祝福投放审核权限。<br>
        如需申请，请联系管理员将你添加为审核员。
    </div> -->
    <!-- <img class="denied-image" src="{{ MEDIA_URL }}birthboard/wpxyzdqx.gif" alt="权限不足"> -->
    <div>
        <a href="{% url 'birthboard' %}" class="back-link">返回</a>
    </div>
</div>
</body>
</html>
