version: '3.9'

services:
  mysql:
    image: mysql:8
    volumes:
      - yppf-mysql-data:/var/lib/mysql
      - yppf-mysql-config:/etc/mysql
    command:
      [
        "mysqld",
        "--character-set-server=utf8mb4",
        "--collation-server=utf8mb4_bin"
      ]
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: yppf
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "localhost",
          "-uroot",
          "-psecret"
        ]
      interval: 5s
      timeout: 5s
      retries: 100

  yppf:
    image: yuanpei/profile:dev1.2
    depends_on:
      mysql:
        condition: service_healthy
    working_dir: /workspace
    environment:
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASSWORD=secret
      - DB_DATABASE=yppf
    volumes:
      - ../:/workspace

volumes:
  yppf-mysql-data:
  yppf-mysql-config:
