{% load static %}
{% for room in rooms %}
<div class="profile-widget">
	<div class="doc-img">
		<img class="img-fluid" alt="User Image" src="{% static 'Appointment/assets/img/RoomIcon/' %}{{room.Rid}}.png">
	</div>
	<div class="pro-content">
		<h3 class="title">
			<p>{{room}}</p>
		</h3>
		<ul class="available-info">
			<li>
				<i class="far fa fa-child"></i> {{room.Rmin}}-{{room.Rmax}}人可用
			</li>
			<li>
				<i class="far fa fa-history"></i> {{room.Rstart}}-{{room.Rfinish}}
				<i class="fas fa-info-circle" data-toggle="tooltip" title="可用时间"></i>
			</li>
		</ul>
		<div class="row row-sm" style="text-align:center">
			<div class="col-12">
				<a href="arrange_time?Rid={{room.Rid}}" class="btn book-btn">预约</a>
			</div>
		</div>
	</div>
</div>
{% empty %}
<div class="w-100 text-center text-muted py-4">暂无可预约的房间</div>
{% endfor %}
