{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title>Underground Appointment</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <!-- Favicons -->
        <link href="{% static 'Appointment/assets/img/yp_favicon.png' %}" rel="icon">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'Appointment/assets/css/bootstrap.min.css' %}">
        <!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'Appointment/assets/plugins/fontawesome/css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'Appointment/assets/plugins/fontawesome/css/all.min.css' %}">
        <!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'Appointment/assets/css/style.css' %}">
        <!-- Multiselect CSS-->
        <link href="{% static 'Appointment/assets/select2/css/select2.min.css' %}" rel="stylesheet" />
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
			<script src="{% static 'Appointment/assets/js/html5shiv.min.js' %}"></script>
			<script src="{% static 'Appointment/assets/js/respond.min.js' %}"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Main Wrapper -->
        <div class="main-wrapper">
            <!-- Breadcrumb -->
            <div class="breadcrumb-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-12 col-12">
                            <h4 class="breadcrumb-title">
                                <a href='index'>主页</a> / 填写信息
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Breadcrumb -->
            <!-- Page Content -->
            <div class="content">
                <div class="container">
                    {% if warn_code == 1 %}
                        <div class="alert alert-warning  text-center">{{ warn_message }}</div>
                    {% elif warn_code == 2 %}
                        <div class="alert alert-success  text-center">{{ warn_message }}</div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-5 col-lg-4 theiaStickySidebar">
                            <!-- Booking Summary -->
                            <div class="card booking-card">
                                <div class="card-header">
                                    <h4 class="card-title">预约信息</h4>
                                </div>
                                <div class="card-body">
                                    <!-- Booking Doctor Info -->
                                    <div class="booking-doc-info">
                                        <a href="#" class="booking-doc-img">
                                            <img src="{% static 'Appointment/assets/img/RoomIcon/' %}{{ room_object.Rid }}.png" alt="Room Image">
                                        </a>
                                        <div class="booking-info">
                                            <h4>
                                                <a href="#">{{ room_object }}</a>
                                            </h4>
                                            <div class="clinic-details">
                                                <p class="doc-location">
                                                    <i class="far fa fa-child"></i>
                                                    {{ appoint_params.Rmin }}-{{ room_object.Rmax }}人可用
                                                    <br />
                                                    <i class="far fa fa-history"></i>
                                                    {{ room_object.Rstart }}-{{ room_object.Rfinish }}
                                                    <i class="fas fa-info-circle" data-toggle="tooltip" title="可用时间"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Booking Doctor Info -->
                                    <div class="booking-summary">
                                        <div class="booking-item-wrap">
                                            <ul class="booking-date">
                                                <li>
                                                    发起人<span>{{ appoint_params.Sname }}</span>
                                                </li>
                                                <li>
                                                    {% if appoint_params.longterm %}
                                                        预约日期<span>{{ appoint_params.weekday }}</span>
                                                    {% else %}
                                                        预约日期<span>{{ appoint_params.date }} ({{ appoint_params.weekday }})</span>
                                                    {% endif %}
                                                </li>
                                                <li>
                                                    开始时间<span>{{ appoint_params.starttime }}</span>
                                                </li>
                                                <li>
                                                    结束时间<span>{{ appoint_params.endtime }}</span>
                                                </li>
                                            </ul>
                                            <!--
											<div class="booking-total">
												<ul class="booking-total-list">
													<li>
														<span>Total</span>
														<span class="total-cost">$160</span>
													</li>
												</ul>
											</div>
											-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Booking Summary -->
                        </div>
                        <div class="col-md-7 col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <!-- Checkout Form -->
                                    <form action="check_out" method="POST">
                                        {% csrf_token %}
                                        <!-- Personal Information -->
                                        <div class="info-widget">
                                            <h4 class="card-title">信息填写</h4>
                                            <div class="row">
                                                <div class="col-md-12 {{ is_org|yesno:'col-lg-6,col-lg-12' }}">
                                                    <div class="form-group card-label">
                                                        <select class="search-members" name="students" value="" id="multiselect" multiple="multiple" style="width: 100%; z-index: 200;">
                                                            {% if warn_code %}
                                                                {% for selected_stu in selected_stu_list %}
                                                                    <option id="{{ selected_stu.id }}" value="{{ selected_stu.id }}" selected="selected">
                                                                        {{ selected_stu.text }}
                                                                    </option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </div>
                                                </div>
                                                {% if is_org %}
                                                    <div class="col-md-12 col-lg-6">
                                                        <div class="form-group card-label d-flex" style="height:34px">
                                                            <button class="btn btn-sm btn-primary flex-fill" type="button" id="group-filter">
                                                                筛选小组成员<i class="far fa-fw fa-square ml-1"></i>
                                                            </button>
                                                            <button class="btn btn-sm btn-primary flex-fill ml-2" type="button" id="group-importer">导入小组成员</button>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="form-group card-label">
                                                        <label>非元培学生个数</label>
                                                        <input class="form-control" name="non_yp_num" type="text" placeholder="0" value="{{ contents.non_yp_num }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="form-group card-label">
                                                        <label>用途</label>
                                                        <!--<input class="form-control" type="text" placeholder="必填 公开">-->
                                                        <textarea rows="5" class="form-control" name="Ausage" placeholder="必填 公开">{{contents.Ausage}}</textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="form-group card-label">
                                                        <label>活动通知</label>
                                                        <textarea rows="5" class="form-control" name="announcement" placeholder="参与成员可见">{{contents.announcement}}</textarea>
                                                    </div>
                                                </div>
                                                {% if is_org %}
                                                    <div class="col-md-12 col-sm-12 ">
                                                        <div class="form-group d-flex align-items-center">
                                                            <input type="checkbox" name="longterm" id="longterm" />
                                                            <label for="longterm" class="my-0 ml-1" style="font-size:12px;">长期预约</label>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            {% if is_org %}
                                                <div class="tab-content pt-0">
                                                    <div class="row tab-pane" id="longterm-fields" role="tabpanel">
                                                        <div class="col-md-12 col-sm-12">
                                                            <div class="form-group card-label">
                                                                <label>预约周数</label>
                                                                <input class="form-control"
                                                                       name="times"
                                                                       placeholder="最多不超过8周，如有需要可在到期前一键续约"
                                                                       value="{{ contents.times }}"
                                                                       type="text"
                                                                       min="0"
                                                                       max="8"
                                                                       step="1"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12">
                                                            <div class="form-group card-label">
                                                                <label>开始时间</label>
                                                                <div class="text-secondary"
                                                                     style="border: 1px solid #dbdbdb;
                                                                            border-radius: 4px;
                                                                            box-shadow: 0 1px 3px 0 rgb(0 0 0 / 5%);
                                                                            height: 50px;
                                                                            margin-top: -13px;
                                                                            padding: 15px 15px 0;
                                                                            transition: border-color .3s;">
                                                                    <input class="align-middle" name="start_week" type="radio" id="this-week" value="0"/>
                                                                    <label for="this-week" class="my-0 align-middle" style="font-size:12px;width:3rem;">本周开始</label>
                                                                    <input class="align-middle ml-1 " name="start_week" type="radio" id="next-week" value="1"/>
                                                                    <label for="next-week" class="my-0 align-middle" style="font-size:12px;width:3rem;">下周开始</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12">
                                                            <div class="form-group card-label">
                                                                <label>时间间隔</label>
                                                                <div class="text-secondary"
                                                                     style="border: 1px solid #dbdbdb;
                                                                            border-radius: 4px;
                                                                            box-shadow: 0 1px 3px 0 rgb(0 0 0 / 5%);
                                                                            height: 50px;
                                                                            margin-top: -13px;
                                                                            padding: 15px 15px 0;
                                                                            transition: border-color .3s;">
                                                                    <input class="align-middle" name="interval" type="radio" id="weekly" value="1"/>
                                                                    <label for="weekly" class="my-0 align-middle" style="font-size:12px;width:3rem;">
                                                                        每周一次
                                                                    </label>
                                                                    <input class="align-middle ml-1 " name="interval" type="radio" id="fortnightly" value="2"/>
                                                                    <label for="fortnightly" class="my-0 align-middle" style="font-size:12px;width:3rem;">
                                                                        隔周一次
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="terms-accept">
                                                <div class="custom-checkbox">
                                                    <!--<input type="checkbox" id="terms_accept" name="regulation" checked>-->
                                                    {% if no_clause %}
                                                        <label for="terms_accept">
                                                            我已阅读并同意 <a href="#">地下室运行条例</a>
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% for k,v in appoint_params.items %}
                                                {% if k != "longterm" and k != "start_week" %}<input type="hidden" name="{{ k }}" value="{{ v }}"/>{% endif %}
                                            {% endfor %}
                                        </div>
                                        <!-- /Personal Information -->
                                        <!-- Submit Section -->
                                        <div class="submit-section mt-4">
                                            <button type="submit" class="btn btn-primary submit-btn">
                                                提交
                                            </button>
                                        </div>
                                        <!-- /Submit Section -->
                                    </form>
                                    <!-- /Checkout Form -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Content -->
            <!-- Footer -->
            <footer class="footer">
                <!-- Footer Bottom -->
                <div class="footer-bottom ">
                    <div class="container-fluid">
                        <!-- Copyright -->
                        <div class="copyright">
                            <div class="row">
                                <div class=" col-lg-1">
                                    <div class="footer-logo">
                                        <img src="{% static 'Appointment/assets/img/yuan_logo_white.png' %} " alt="logo">
                                    </div>
                                </div>
                                <div class=" col-lg-11">
                                    <!-- Copyright Menu -->
                                    <div class="copyright-menu">
                                        <ul class="policy-menu">
                                            <li>
                                                <a href="https://yuanpei.pku.edu.cn">智慧校园开发组 元培学院</a>
                                            </li>
                                        </ul>
                                        <ul class="policy-menu">
                                            <li>
                                                <a>&copy; All rights Reserved.</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /Copyright Menu -->
                                </div>
                            </div>
                        </div>
                        <!-- /Copyright -->
                    </div>
                </div>
                <!-- /Footer Bottom -->
            </footer>
            <!-- /Footer -->
            <script></script>
        </div>
        <!-- /Main Wrapper -->
        <!-- jQuery -->
        <script src="{% static 'Appointment/assets/js/jquery.min.js' %}"></script>
        <!-- Bootstrap Core JS -->
        <script src="{% static 'Appointment/assets/js/popper.min.js' %}"></script>
        <script src="{% static 'Appointment/assets/js/bootstrap.min.js' %}"></script>
        <!-- Sticky Sidebar JS -->
        <script src="{% static 'Appointment/assets/plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
        <script src="{% static 'Appointment/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
        <!-- Custom JS -->
        <script src="{% static 'Appointment/assets/js/script.js' %}"></script>
        <!-- Select2 JS -->
        <script src="{% static 'Appointment/assets/select2/js/select2.min.js' %}"></script>
        <script>
            function matchCustom(params, data) {
                // If there are no search terms, return all of the data
                if ($.trim(params.term) === '') {
                    return data;
                }
                // Do not display the item if there is no 'text' property
                if (typeof data.text === 'undefined') {
                    return null;
                }
                // `params.term` should be the term that is used for searching
                // `data.text` is the text that is displayed for the data object
                //if (data.text.indexOf(params.term) > -1 || String($(data.element).data('pinyin')).indexOf(params.term) > -1) {
                if (data.text.indexOf(params.term) > -1 || data.pinyin.indexOf(params.term) > -1) {
                    //var modifiedData = $.extend({}, data, true);
                    //modifiedData.text += ' (matched)';
                    return data;
                    // You can return modified objects from here
                    // This includes matching the `children` how you want in nested data sets
                    //return modifiedData;
                }
                // Return `null` if the term should not be displayed
                return null;
            }
            let stu_data = {{ js_stu_list| safe }};
            let stu_group_data={{ js_stu_group_list| safe }}
            let group_filter=false;

            $(document).ready(function () {
                $('.search-members').select2({
                    theme: "classic",
                    placeholder: "成员(姓名/拼音首字母搜索)",
                    allowClear: true,
                    data: stu_data,
                    matcher: matchCustom,
                });
                // 添加筛选小组成员和导入小组成员功能
                $('#group-filter').on("click",function(){
                    group_filter=!group_filter
                    $('#group-filter>i').toggleClass("fa-square");
                    $('#group-filter>i').toggleClass("fa-check-square");
                    // TODO: 筛选小组成员
                    if(group_filter){
                        $('.search-members').empty().select2({
                            theme: "classic",
                            placeholder: "成员(姓名/拼音首字母搜索)",
                            allowClear: true,
                            data: stu_group_data,
                            matcher: matchCustom,
                        }).trigger('change');
                    }
                    else{
                        $('.search-members').empty().select2({
                            theme: "classic",
                            placeholder: "成员(姓名/拼音首字母搜索)",
                            allowClear: true,
                            data: stu_data,
                            matcher: matchCustom,
                        }).trigger('change');
                    }
                })
                $('#group-importer').on("click",function(){
                    // 导入小组成员
                    $('.search-members').val(stu_group_data.map(s=>s.id)).trigger('change');
                    // 修复导入后搜索框重绘导致的闪烁
                    $(".select2-search__field").toggleClass("d-none");
                    setTimeout(()=>{$(".select2-search__field").toggleClass("d-none")})
                })
            });
        </script>
        <script>
            // 根据长期预约 checkbox 值显示/隐藏相关表单字段
            let longterm= {{ appoint_params.longterm |yesno:'true,false,false'}}
            let start_week={{ appoint_params.start_week|default_if_none:-1}}
            $(document).ready(function () {
                if($("#longterm").length==0) return;
                if(longterm){
                    $("#longterm").prop("checked",true);
                    if(start_week===0){
                        $("#this-week").prop("checked",true);
                        }
                    else if(start_week===1){
                        $("#next-week").prop("checked",true);
                    }
                    $("#weekly").prop("checked",true);
                    $("#longterm-fields").addClass("active");
                }
                $("#longterm").on("click",function(){
                    $("#longterm-fields").toggleClass("active");
                    if(!this.checked){
                        $("#longterm-fields input").prop("disabled",true);
                    }
                    else{
                        $("#longterm-fields input").removeAttr('disabled');
                    }
                })
            });
        </script>
    </body>
</html>
