{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>房间使用规范</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<!-- Favicons -->
	<link href="{% static 'Appointment/assets/img/AI_logo_red.png' %} " rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'Appointment/assets/css/bootstrap.min.css' %}">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'Appointment/assets/plugins/fontawesome/css/fontawesome.min.css' %} ">
	<link rel="stylesheet" href="{% static 'Appointment/assets/plugins/fontawesome/css/all.min.css' %} ">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'Appointment/assets/css/style.css' %} ">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
			<script src="{% static 'Appointment/assets/js/html5shiv.min.js"></script>
			<script src="{% static 'Appointment/assets/js/respond.min.js"></script>
		<![endif]-->
		
</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">
		<div class="breadcrumb-bar">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-12 col-12">
						<h4 class="breadcrumb-title"><a href='index'>主页</a> / 房间使用规范</h4>
					</div>

				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->

		<!-- Page Content -->
		<div class="content">
			<div class="container-fluid">
			{% if warn_code == 1 %}
			<div class="alert alert-warning  text-center" >{{ warn_message }}</div>
			{% elif warn_code == 2 %}
			<div class="alert alert-success  text-center" >{{ warn_message }}</div>
			{% endif %}

                <div class="form-container outer">

                    <center>
                        <div class="form-form">
                            <div class="form-content">
        
                                <form class="text-left" id="form" method="POST">
        
                                    <div class="widget-content widget-content-area">
        
                                        <div class="widget-header">
                                            <div class="row">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                    <h3 style="text-align: center; padding-top: 20px; padding-bottom: 20px;">房间使用规范</h3>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- <div class="row"> -->
                                        <div class="col">
											<h4 style="text-align: center; padding-top: 10px; padding-bottom: 10px;">第一部分 公共空间</h4>
                                            <br/>
                                            <p>1.房间公共空间（包括会议室、各个科研房间等）禁止长时间存放个人物品，每天7：00-8：00保洁阿姨会将房间遗留物品转移到<b>茶水吧认领处</b>，保洁物业管理人员及院办对转移的物品没有保管的责任和义务，如物品遗失由使用者个人负责。</p>
                                            <br/>
                                            <p>2.房间遗留物品在茶水吧储物间存放一周，院办将对认领物品公告栏公示一周，希望同学们尽快联系保洁阿姨或院办行政办公室老师领取，公示期结束后，遗留物品会被清理。</p>
                                            <br/>
                                            <p>3.科研工位上禁止进餐，希望大家前往水吧进餐，并在用餐后及时清理垃圾，共同维护整洁的房间环境。</p>
                                            <br/>
											<h4 style="text-align: center; padding-top: 10px; padding-bottom: 10px;">第二部分 会议室使用</h4>
											<br/>
                                            <p>1.为了维护会议室的安静和整洁，会议结束后请将垃圾清理，恢复会议室整洁干净环境。</p>
                                            <br/>
                                            <p>2.请在会议结束后关闭大屏幕、空调、灯等电源。</p>
                                            <br/>
											<h4 style="text-align: center; padding-top: 10px; padding-bottom: 10px;">第三部分 会议室预约</h4>

											<br/>
											<p>1.会议室预约本着先到先得的原则，在不损坏房间设施、使用后恢复房间整洁的前提下对使用房间的方式不作限制。</p>
											<br/>
											<p>2.违约扣分的情况：<ul>
												<li>预约开始时间前后15分钟内始终无人刷卡或刷脸使用；</li>
												<li>不及时清理垃圾及关闭会议室电源将取消一个月会议室预约资格。</li>
											</ul></p>
											<br/>
											<p>3.房间空间资源有限，美好的科研办公环境需要大家共同维护，如果遇到问题希望大家积极相互沟通。</p>
											<br/>        
                                        </div>
                                        <!-- </div> -->
                                    </div>
                                </form>
        
        
                            </div>
                        </div>
                    </center>
                </div>
			</div>

		</div>
		<!-- /Page Content -->

		<!-- Footer -->
		<footer class="footer">


			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container-fluid">

					<!-- Copyright -->
					<div class="copyright">
						<div class="row">
							<div class=" col-lg-1">
								<div class="footer-logo">
									<img src="{% static 'Appointment/assets/img/AI_logo_white.png' %} " alt="logo">
								</div>

							</div>
							<div class=" col-lg-11">

								<!-- Copyright Menu -->
								<div class="copyright-menu">

									<ul class="policy-menu">
										<li><a href="https://www.ai.pku.edu.cn/">北京大学人工智能研究院</a></li>
									</ul>
									<ul class="policy-menu">
										<li><a>&copy; All rights Reserved.</a></li>
									</ul>
								</div>
								<!-- /Copyright Menu -->

							</div>
						</div>
					</div>
					<!-- /Copyright -->

				</div>
			</div>
			<!-- /Footer Bottom -->

		</footer>
		<!-- /Footer -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="{% static 'Appointment/assets/js/jquery.min.js' %} "></script>

	<!-- Bootstrap Core JS -->
	<script src="{% static 'Appointment/assets/js/popper.min.js' %} "></script>
	<script src="{% static 'Appointment/assets/js/bootstrap.min.js' %}"></script>

	<!-- Custom JS -->
	<script src="{% static 'Appointment/assets/js/script.js' %} "></script>

</body>
</html>