{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>地下室使用规范 | 元培地下空间</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<!-- Favicons -->
	<link href="{% static 'Appointment/assets/img/yp_favicon.png' %} " rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'Appointment/assets/css/bootstrap.min.css' %}">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'Appointment/assets/plugins/fontawesome/css/fontawesome.min.css' %} ">
	<link rel="stylesheet" href="{% static 'Appointment/assets/plugins/fontawesome/css/all.min.css' %} ">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'Appointment/assets/css/style.css' %} ">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
			<script src="{% static 'Appointment/assets/js/html5shiv.min.js"></script>
			<script src="{% static 'Appointment/assets/js/respond.min.js"></script>
		<![endif]-->
		
</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">
		<div class="breadcrumb-bar">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-12 col-12">
						<h4 class="breadcrumb-title"><a href='index'>主页</a> / 地下室使用规范</h4>
					</div>

				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->

		<!-- Page Content -->
		<div class="content">
			<div class="container-fluid">
			{% if warn_code == 1 %}
			<div class="alert alert-warning  text-center" >{{ warn_message }}</div>
			{% elif warn_code == 2 %}
			<div class="alert alert-success  text-center" >{{ warn_message }}</div>
			{% endif %}

                <div class="form-container outer">

                    <center>
                        <div class="form-form">
                            <div class="form-content">
        
                                <form class="text-left" id="form" method="POST" action="{% url 'Appointment:confirm_instructions' %}">
                                    {% csrf_token %}
        
                                    <div class="widget-content widget-content-area">
        
                                        <div class="widget-header">
                                            <div class="row">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                    <h3 style="text-align: center; padding-top: 20px; padding-bottom: 20px;">35楼地下室使用规范</h3>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col">
                                            <h4 style="text-align: center; padding-top: 10px; padding-bottom: 10px;">研讨室使用规范</h4>
                                            <br/>
                                            <p>1.研讨室采用智慧书院系统线上预约方式申请使用。申请使用研讨室时，需明确填写使用时间、参加人员、预约用途等。申请通过后，可以在预约时段刷校园卡进入研讨室，刷卡即完成签到。严禁使用包含研讨室在内的任何地下空间进行违反国家法律法规、校规校纪和学院有关规章制度的活动。</p>
                                            <br/>
                                            <p>2.研讨室功能包括组织讨论、会议、集体活动等。为促进书院地下空间资源合理配置，活动参与人数需满足研讨室规定最低人数要求方可预约使用。使用当天预约研讨室时，最低人数要求降为2人。</p>
                                            <br/>
                                            <p>3.学生组织或书院课程可以向元培学院申请进行长期预约。学生会内联权益部和智慧书院项目组可以对长期预约进行临时调整。</p>
                                            <br/>
                                            <p>4.研讨室可以进行临时预约。距离下一场预约还有15分钟以上时，可以直接刷校园卡进入研讨室。临时预约有效时间到刷卡后最接近的整点或半点为止。</p>
                                            <br/>
                                            <p>5.研讨室使用者需按时结束借用，超出预约时段借用按未预约使用处理，物业值班人员或下一场预约的使用者有权要求借用者离开。</p>
                                            <br/>
                                            <p>6.研讨室使用者需爱惜室内设施，不得破坏室内原有设施，不得在桌椅、墙面、立柜等设备表面涂鸦、刻画。贵重物品设备由专人负责操作，不得擅自使用和操作。发现研讨室内设施损坏或故障，需及时向物业值班人员报告。未经元培学院综合办公室和物业值班人员允许，不得私自将室内桌椅等设备公物搬离研讨室挪借他用。</p>
                                            <br/>
                                            <p>7.研讨室使用者需保持室内清洁。不得携带有刺激性气味的食品或饮品进入研讨室。</p>
                                            <br/>
                                            <p>8.研讨室内（含立柜）禁止存放个人物品。在研讨室内存放或遗留的个人物品视为遗失物，将定期进行清理，物主需凭借有效证件联系物业值班人员或学生会内联权益部取回。</p>
                                            <br/>
                                            <p>9.学生组织或书院课程可以在研讨室立柜存放组织用品。存放前需要向物业登记，并且在柜子上张贴标签。各组织需将物品存放在指定的柜子中并进行日常维护和管理，在其他区域存放与遗失物等同处理。</p>
                                            <br/>
                                            <p>10.研讨室使用完毕后，使用者需及时关闭各种电器，擦净白板，清理垃圾污渍，复原座椅桌子，将房间恢复原状。确保室内设备没有损坏后，关灯离开。</p>
                                            <br/>
                                            <h4 style="text-align: center; padding-top: 10px; padding-bottom: 10px;">自习室使用规范</h4>
                                            <br/>
                                            <p>1.自习室面向元培学院所有同学开放，使用者凭校园卡刷卡进入。B108房间24小时开放，B106房间在期中、期末时段24小时开放，其他自习室每天07：00开放，次日01：30清场。开放时间有临时调整时以另行通知为准。</p>
                                            <br/>
                                            <p>2.自习室禁止占座。因事临时离开的，应在一小时内返回。若一小时内未返回，其他同学有权将物品转移至自习室临时存放处（黑架子）。严禁隔夜占座。</p>
                                            <br/>
                                            <p>3.自习室内必须保持安静，避免影响他人学习。进入自习室后，需将手机调成静音。不得喧哗、聊天、嬉戏打闹、接打电话或外放电子设备音频。不得使用机械键盘等噪音明显设备，推荐使用无声鼠标、薄膜键盘、鼠标垫等降低噪音。</p>
                                            <br/>
                                            <p>4.在无键盘自习室（B119）自习时，需最大限度保持安静。无键盘自习室禁止使用所有类型的实体键盘，包括但不限于笔记本电脑键盘、iPad妙控键盘、外接静音键盘等，仅允许使用触控笔或手指手写输入。</p>
                                            <br/>
                                            <p>5.自习室使用者需爱惜室内设施，不得破坏室内原有设施，不得在桌椅、墙面、立柜等设备表面涂鸦、刻画。发现自习室内设施损坏或故障，需及时向物业值班人员报告。未经元培学院综合办公室和物业值班人员允许，不得私自将室内桌椅等设备公物搬离自习室挪借他用。</p>
                                            <br/>
                                            <p>6.自习室使用者需保持室内清洁。自习室内可以饮用饮品，但不得食用食品。不得携带有刺激性气味的食品或饮品进入自习室。</p>
                                            <br/>
                                            <p>7.自习室内（含立柜）禁止存放个人物品。在自习室内存放或遗留的个人物品视为遗失物，将定期进行清理，物主需凭借有效证件联系物业值班人员或学生会内联权益部取回。</p>
                                            <br/>
                                            <p>8.自习完毕后，使用者需带齐个人物品，清理遗留垃圾，复原座椅，做到人走位空再离开。</p>
                                            <br/>
                                        </div>
                                    </div>
                                    {% if participant %}
                                    <div class="text-center pb-4">
                                        {% if participant.has_read_instructions %}
                                        <p class="text-success" role="status">您已确认阅读地下室使用规范。</p>
                                        {% else %}
                                        <button type="submit" class="btn btn-primary">我已阅读地下室使用规范</button>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </form>
        
        
                            </div>
                        </div>
                    </center>
                </div>
			</div>

		</div>
		<!-- /Page Content -->

		<!-- Footer -->
		<footer class="footer">


			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container-fluid">

					<!-- Copyright -->
					<div class="copyright">
						<div class="row">
							<div class=" col-lg-1">
								<div class="footer-logo">
									<img src="{% static 'Appointment/assets/img/yuan_logo_white.png' %} " alt="logo">
								</div>

							</div>
							<div class=" col-lg-11">

								<!-- Copyright Menu -->
								<div class="copyright-menu">

									<ul class="policy-menu">
										<li><a href="https://github.com/Yuanpei-Intelligence/YPPF">智慧校园开发组 元培学院</a></li>
									</ul>
									<ul class="policy-menu">
										<li><a>&copy; All rights Reserved.</a></li>
									</ul>
								</div>
								<!-- /Copyright Menu -->

							</div>
						</div>
					</div>
					<!-- /Copyright -->

				</div>
			</div>
			<!-- /Footer Bottom -->

		</footer>
		<!-- /Footer -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="{% static 'Appointment/assets/js/jquery.min.js' %} "></script>

	<!-- Bootstrap Core JS -->
	<script src="{% static 'Appointment/assets/js/popper.min.js' %} "></script>
	<script src="{% static 'Appointment/assets/js/bootstrap.min.js' %}"></script>

	<!-- Custom JS -->
	<script src="{% static 'Appointment/assets/js/script.js' %} "></script>

</body>
</html>
