{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title>我的地下室年度回忆</title>
  <link type="image/x-icon" href="{% static 'Appointment/assets/img/yp_favicon.png' %} " rel="icon">
  <meta name="theme-color" content="#f00">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui">
  <meta name="full-screen" content="yes">
  <meta name="browsermode" content="application">
  <meta name="x5-fullscreen" content="true">
  <meta name="x5-page-mode" content="app">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="format-detection" content="telephone=no, email=no">
  <link rel="stylesheet" href="{% static 'Appointment/assets/css/jquery.fullpage.css' %}">
  <link rel="stylesheet" href="{% static 'Appointment/assets/css/main.css' %}">
</head>
</head>

<body>
  <div id="app">






    <section class="section page page-1 page-home">
      <div class="bg-back"></div>
      <div class="bg-white"></div>
      <div class="title-wrapper">
        <h1 class="title title-1"></h1>
        <h1 class="title title-2"></h1>
      </div>
      <a class="button">
        <span>立即<br>查看</span>
      </a>
    </section>





    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para">Hi，{{ Sname }}</p>
        <p class="para mt-10">这是我们的初遇，还是重逢呢</p>
        <p class="para mt-35">那么</p>
        <p class="para mt-10">迈下阶梯</p>
        <p class="para mt-10">去看看你与地下空间在过去一年的共同记忆吧</p>
      </div>
    </section>



    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para">你是否曾与我对视呢？</p>
        <p class="para mt-35">你好，</p>
        <p class="para mt-10">我是地下室入口的那面凸面镜~</p>
        <p class="para mt-10">我记得我们的每一次相遇，</p>
        <p class="para mt-10">也记得你的每一次来去匆匆的模样。</p>
      </div>
    </section>

    {% if study_room_num %}
    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para">这一年中，</p>
        <p class="para mt-10">咔哒，咔哒，自习室的门扉同你问过<span class="fs-20 fc-red">{{study_room_num}}</span>次好，</p>
        <p class="para mt-10">也记得你这一年在自习室中有<span class="fs-20 fc-red">{{study_room_day}}</span>天的共同时光。</p>
        <p class="para mt-10">其中，<span class="fs-20 fc-red">{{study_room_top}}</span>与你共同见证<span class="fs-20 fc-red">{{study_room_top_day}}</span>天的共同时光。</p>
        <p class="para mt-35">你知道，在地下室的某一角，多少属于你的忙碌沉淀于此，静静生长。</p>
      </div>
    </section>
    {% endif %}

    {% if early_day_num %}
    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para"><span class="fs-20 fc-red">{{early_room_day}}</span></p>
        <p class="para mt-10">告别眷恋的床，</p>
        <p class="para mt-10">和初生的朝阳问好，</p>
        <p class="para mt-10">你早早开启了美好的一天。</p>
        <p class="para mt-10">你在<span class="fs-20 fc-red">{{early_room_time}}</span>来到了<span class="fs-20 fc-red">{{early_room}}</span></p>
        <p class="para mt-35">这一年中有<span class="fs-20 fc-red">{{early_day_num}}</span>天，你在8:00前的清晨便来到了地下空间</p>
        <p class="para mt-10">早安，愿你在每一个自律的清晨元气满满！</p>
      </div>
    </section>
    {% endif %}

    {% if late_room_num %}
    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para"><span class="fs-20 fc-red">{{late_room_year}}年{{late_room_month}}月{{late_room_day}}日</span></p>
        <p class="para mt-10"><span class="fs-20 fc-red">{{late_room}}</span>陪伴你直到<span class="fs-20 fc-red">{{late_room_time}}</span></p>
        <p class="para mt-35">那一天，有<span class="fs-20 fc-red">{{late_room_people}}</span>人也在地下室的另一角研磨属于自己的夜。</p>
        <p class="para mt-10">你们是否在地下空间相遇，</p>
        <p class="para mt-10">共同见证了地球上最后的夜晚呢？</p>
        <p class="para mt-10">也许你甚至能够见到新一天的朝阳？</p>
        <p class="para mt-35">时针走过23点，像这样在地下空间等待午夜的钟声敲响之时，你一共经历了<span class="fs-20 fc-red">{{late_room_num}}</span>次。</p>
        <p class="para mt-10">无论如何，记得好好休息~</p>
        <p class="para mt-10">梦中的星空总会为你留出最佳观赏位置。</p>
      </div>
    </section>
    {% endif %}

    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para">Hi~你好！</p>
        <p class="para mt-10">我是新入住这里的咖啡角~</p>
        <p class="para mt-10">我想我已经记住你最喜欢的口味啦！</p>
        <p class="para mt-10">哦等等，我这里也有一些记录，</p>
        <p class="para mt-10">希望能唤醒你的一些记忆！</p>
      </div>
    </section>

    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para">在过去的一年中，</p>
        <p class="para mt-10">你总共预约了<span class="fs-20 fc-red">{{discuss_appoint_num}}</span>次研讨室，总预约时长为<span class="fs-20 fc-red">{{discuss_appoint_hour}}</span>小时，</p>
        <p class="para mt-10">超过了<span class="fs-20 fc-red">{{discuss_appoint_pct}}</span>%的同学。</p>
        {% if discuss_appoint_num %}
        <p class="para mt-10">其中，你在<span class="fs-20 fc-red">{{discuss_appoint_long_room}}</span>共经历了<span class="fs-20 fc-red">{{discuss_appoint_long_hour}}</span>小时的激烈讨论，</p>
        <p class="para mt-10">那些流转的时间到底见证了多少灵感的碰撞呢？</p>
        {% endif %}
      </div>
    </section>

    {% if appoint_num %}
    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para">这一年，你的年度预约关键词为</p>
          <div class="waves">
          <div class="wave wave-1"></div>
          <div class="wave wave-2"></div>
          <div class="wave wave-3"></div>
          <div class="wave wave-4"></div>
        </div>
        <ul class="lines">
          <li class="line line-1"><span class="text">{{Skeywords.0}}</span></li>
          <li class="line line-2"><span class="text">{{Skeywords_num.0}}</span></li>
          <li class="line line-3"><span class="text">{{Skeywords.1}}</span></li>
          <li class="line line-4"><span class="text">{{Skeywords_num.1}}</span></li>
          <li class="line line-5"><span class="text">{{Skeywords.2}}</span></li>
          <li class="line line-6"><span class="text">{{Skeywords_num.2}}</span></li>
        </ul>
        <p class="para mt-35">欢乐、疲惫、热爱、专注…</p>
        <p class="para mt-10">无论是学习工作，还是轻松的欢聚，这里都由你记录，由你定义。</p>
      </div>
    </section>
    {% endif %}

    {% if appoint_num %}
    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para">还记得<span class="fs-20 fc-red">{{appiont_most_day}}</span>吗？</p>
        <p class="para mt-10">这一天中，你共有<span class="fs-20 fc-red">{{appoint_most_num}}</span>条预约</p>
        <p class="para mt-10">那一天，整个地下空间都记得你忙碌奔走的模样吧。</p>
        <p class="para mt-10">你留下了什么特别的记忆呢？</p>
      </div>
    </section>
    {% endif %}

    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para">（不知是哪里传来了窸窸窣窣的声音...）</p>
        <p class="para mt-10">你要下楼吗？</p>
        <p class="para mt-10">我们是住在绿植墙上的每一抹绿色！</p>
        <p class="para mt-35">从每一扇窗户中安静地注视着，</p>
        <p class="para mt-10">每一个特别的灵魂、</p>
        <p class="para mt-10">每一种特别的生活...</p>
        <p class="para mt-10">你也想跳舞吗？</p>
      </div>
    </section>

    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para">在过去的一年中，</p>
        <p class="para mt-10">你预约了<span class="fs-20 fc-red">{{func_appoint_num}}</span>次功能室，总预约时长为<span class="fs-20 fc-red">{{func_appoint_hour}}</span>小时</p>
        <p class="para mt-10">超过了<span class="fs-20 fc-red">{{func_appoint_pct}}</span>%的元培er</p>
        {% if func_appoint_num %}
        <p class="para mt-35">其中，你最常去<span class="fs-20 fc-red">{{func_appoint_most}}</span></p>
        <p class="para mt-10">你一定有一份特别的热爱！</p>
        {% endif %}
      </div>
    </section>

    {% if appoint_num %}
    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para">在茫茫世界中，</p>
        <p class="para mt-10">在碌碌时光中，</p>
        <p class="para mt-10">相遇、相知、相陪，也许是最大的幸运。</p>
        <p class="para mt-35">我们在这片海洋中为你找到了另一片共鸣的浪花：<span class="fs-20 fc-red">{{co_mate}}</span></p>
        <p class="para mt-10">过去的一年，</p>
        <p class="para mt-10">你们在地下空间共同经历了<span class="fs-20 fc-red">{{co_appoint_hour}}</span>小时的时光，预约次数超<span class="fs-20 fc-red">{{co_appoint_num}}</span>次，</p>
        <p class="para mt-10">你们的常用预约关键词为：<span class="fs-20 fc-red">{{co_keyword}}</span>。</p>
        <p class="para mt-10">在这一年，你们是<span class="fs-20 fc-red">{{co_title}}</span></p>
        <p class="para mt-10">你们的匹配度超过了<span class="fs-20 fc-red">{{co_pct}}%</span>的同学！</p>
        <p class="para mt-35">致陪伴！致共同！</p>
      </div>
    </section>
    {% endif %}

    {% if sharp_appoint_num %}
    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para">你的极限是什么？</p>
        <p class="para mt-10">至少在地下空间，你总共极限预约<span class="fs-20 fc-red">{{sharp_appoint_num}}</span>次</p>
        <p class="para mt-10">其中，在<span class="fs-20 fc-red">{{sharp_appoint_day}}</span>，你为<span class="fs-20 fc-red">{{sharp_appoint_reason}}</span>，在预约时间前<span class="fs-20 fc-red">{{sharp_appoint_min}}</span>成功预约了<span class="fs-20 fc-red">{{sharp_appoint_room}}</span>，</p>
        <p class="para mt-10">恭喜你在人生的二十岁实现了光速入住自由。</p>
        <p class="para mt-35">而在过去的一年，你留下了<span class="fs-20 fc-red">{{disobey_num}}</span>条违规记录</p>
        {% if disobey_num %}
        <p class="para mt-10">嗯...怎么不算在违规的极限边缘反复试探呢？</p>
        <p class="para mt-10">温馨提示：要好好遵守地下空间使用规则哦~</p>
        {% else %}
        <p class="para mt-10">恭喜你达成了“地下空间极限守序记录保持者”成就！接下来也要继续保持呀~</p>
        {% endif %}
      </div>
    </section>
    {% endif %}

    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para">我们的地下空间溯回旅行即将到达终点站</p>
        <p class="para mt-10">这一年中，你在地下空间总使用时长为<span class="fs-20 fc-red">{{appoint_hour}}</span>小时，总使用次数为<span class="fs-20 fc-red">{{appoint_num}}</span>次</p>
        <p class="para mt-10">当然，也许你更偏好在公共讨论区、在书房、在绿植墙下....在地下空间的每一个角落，每一种生活中，拉近灵魂与灵魂之间的距离，或是消磨属于自己的时光。</p>
        <p class="para mt-10">那么，在地下空间，你的生活是...</p>
        <p class="para mt-10">{{poem_word1}} {{poem_word2}} {{poem_word3}} {{poem_word4}}</p>
      </div>
    </section>

<!-- 个人成长档案部分 -->
  

    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para">回溯完有关地下物理空间的记忆</p>
        <p class="para mt-10">让我们再去YPers共同的线上家园看看吧</p>
      </div>
    </section>

    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para">这一年里</p>
        <p class="para mt-10">YPers一共创建起<span class="fs-20 fc-red">{{total_club_num}}</span>个学生小组与<span class="fs-20 fc-red">{{total_courseorg_num}}</span>个书院课程小组</p>
        <p class="para mt-10">总计发起了<span class="fs-20 fc-red">{{total_act_num}}</span>次活动，总时长为<span class="fs-20 fc-red">{{total_act_hour}}</span>个小时</p>
        <p class="para mt-10">“嘤其鸣矣，求其友声”</p>
        <p class="para mt-10">大家因相似的兴趣爱好聚集在一起</p>
        <p class="para mt-10">交流、陪伴、成长……</p>
        <p class="para mt-10">化孤独为共同</p>
      </div>
    </section>

    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para">这一年中</p>
        {% if IScreate %}
        <p class="para mt-10">你创建了<span class="fs-20 fc-red"></span>{{myclub_name}}</p>
        {% endif %}
        <p class="para mt-10">参加了<span class="fs-20 fc-red">{{club_num}}</span>个学生小组与<span class="fs-20 fc-red">{{course_org_num}}</span>个书院课程小组</p>
        <p class="para mt-10">参与了<span class="fs-20 fc-red">{{act_num}}</span>个由小组发起的活动</p>
        <p class="para mt-10">新的学期</p>
        <p class="para mt-10">也请多多参与线上家园的营建哦~</p>
        <p class="para mt-10">解锁成就<span class="fs-20 fc-red">{{activity_award}}</span></p>
      </div>
    </section>

    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para">在丰富的线上社区之外</p>
        <p class="para mt-10">多元的书院课程</p>
        <p class="para mt-10">同样濡染着YPers的共同生活</p>
        <p class="para mt-10">在这一年里，学院共开设了<span class="fs-20 fc-red">{{total_course_num}}</span>门书院课</p>
        <p class="para mt-10">总计开展课程活动<span class="fs-20 fc-red">{{total_course_act_num}}</span>次，总时长为<span class="fs-20 fc-red">{{total_course_act_hour}}</span>个小时</p>
        <p class="para mt-10">有<span class="fs-20 fc-red">{{have_course_num}}</span>位同学至少选修了一门书院课</p>
        <p class="para mt-10">有<span class="fs-20 fc-red">{{have_three_course_num}}</span>位同学选修了三门及以上的书院课</p>
      </div>
    </section>

    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para">在这一年里</p>
        <p class="para mt-10">你选修了<span class="fs-20 fc-red">{{course_num}}</span>门课程，共计<span class="fs-20 fc-red">{{course_hour}}</span>个学时</p>
        <p class="para mt-10">分布在<span class="fs-20 fc-red">{{course_type}}</span>类</p>
        <p class="para mt-10">其中，你在<span class="fs-20 fc-red">{{course_most_time_name}}</span>投入的时间最长，共计<span class="fs-20 fc-red">{{course_most_hour}}</span>个学时</p>
        <p class="para mt-10">参与<span class="fs-20 fc-red">{{course_most_num_name}}</span>的次数最多，共计<span class="fs-20 fc-red">{{course_most_num}}</span>次</p>
        {% if IsOneType %}
        <p class="para mt-10">解锁成就<span class="fs-20 fc-red">垂直深耕</span></p>
        <p class="para mt-10">砥砺深耕，笃行致远，“一万小时定律”在向你招手！</p>
        {% endif %}
        {% if IsManyType %}
        <p class="para mt-10">解锁成就<span class="fs-20 fc-red">通识先锋</span></p>
        <p class="para mt-10">通识教育的先锋，我辈学子的楷模。</p>
        {% endif %}
      </div>
    </section>

    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para">回忆起学期初紧张刺激的选课战况</p>
        <p class="para mt-10">你依然记忆犹新</p>
        <p class="para mt-10">你或许是非酋体质，选的全掉</p>
        <p class="para mt-10">又或许是欧皇再世，选课都中</p>
        <p class="para mt-10">不论如何，都衷心祝愿你</p>
        <p class="para mt-10">9.2选课网开盘</p>
        <p class="para mt-10">好运</p>
      </div>
    </section>

    <section class="section page page-2">
      <div class="bg-back"></div>
      <div class="content">
        <p class="para">我们的旅途还未结束，</p>
        <p class="para mt-10">也许未来，</p>
        <p class="para mt-10">还有满载美好的相遇、</p>
        <p class="para mt-10">还有令人欣喜的忙碌、/p>
        <p class="para mt-10">还有无限的灵感与热爱...</p>
        <p class="para mt-10">也许，元培地下早已成为你生活的一部分，待你续写...</p>
        <p class="para mt-10">那么，从这里，开启新的旅程吧！</p>
        <div class="buttons">
          <a href="javascript:;" class="button">重温我的年度回忆</a>
        </div>
        <div class="content-annotation">
          <p class="para" style="font-size: 8px; color: grey; line-height: 10px;">制作｜A B</p>
          <p class="para" style="font-size: 8px; color: grey; line-height: 10px;">文案｜C D</p>
          <p class="para" style="font-size: 8px; color: grey; line-height: 10px;">感谢JohnieXu在Github的开源项目</p>
        </div>
      </div>
    </section>



  </div>
  <!-- lib -->
  <script src="{% static 'Appointment/assets/js/jquery.min.js' %}"></script>
  <!-- <script src="https://unpkg.com/jplayer@2.9.2/dist/jplayer/jquery.jplayer.min.js"></script> -->
  <script src="{% static 'Appointment/assets/js/jquery.fullpage.js' %}"></script>
  <!-- components -->
  <script src="{% static 'Appointment/./assets/js/App.js' %}"></script>
  <!-- main -->
  <script lang="javascript">
    jQuery(document).ready(function ($) {
      var app = new App();
      var ajaxData = {
      }
      var page1Css = {
        background: 'red'
      }
      var bg = {
        // bgLight: 'http://s3.music.126.net/nact/s/client/images/year2017/cover/cover_bg.jpg?91115a3fd39e5158b3387c3eec828793',
        // bgBack: 'http://s3.music.126.net/nact/s/client/images/year2017/cover/light.png?282c69970cb1ace98b08e594888bcc5e',
        // bgBack: '../img/cover.png'
      }

      $('#app').fullpage({
        onLeave: function (index, nextIndex, direction) {
          if (index == 1) {
            rst = window.confirm('点击确认则视为允许我们访问你的必要数据，但是我们保证不会将其泄露给其他人')
            if (!rst) {
              return false
            }
          }
          console.log(index + ' leave direction: ' + direction);
        },
        afterLoad: function (anchorLink, index) {
          console.log(index + ' loaded');
        },
        sectionColor: ['yellow', 'green', 'blue', 'purple'],
        fadingEffect: true
      });
      /*前往正文页面=>立即查看*/
      $('#app .page-1 .button').click(function () {
        $.fn.fullpage.moveSectionDown();
      });
      /*回顶部=>重温TA的2017*/
      $('#app .page-16 .buttons .button').click(function () {
        $.fn.fullpage.moveTo(1, 0);
        // console.log('aaa');
      });
      /*测试*/
      // $.fn.fullpage.moveTo(16, 0);
    });

  </script>
</body>

</html>
