{% extends "base.html" %}

{% load static %}

{% block mainpage %}

<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">

    {% if html_display.warn_code == 1 %}
    <div class="alert alert-warning  text-center">{{ html_display.warn_message }}</div>
    {% elif html_display.warn_code == 2 %}
    <div class="alert alert-success  text-center">{{ html_display.warn_message }}</div>
    {% endif %}

    <!--  BEGIN PHOTO SECTION  -->
    <div class="d-flex m-0 p-0 overflow-hidden" style="height: 35vh">
        <div class="d-flex w-100 align-self-center">
            {% if summary_photo_exists %}
            <img class="w-100" src={{ summary_photo }} alt="summary photo">
            {% else %}
            <img class="w-100" src={{ firstpic }} alt="first photo">
            {% endif %}
        </div>
        <div class="row m-0 w-100 position-absolute" style="height: 35vh;">
            <div class="w-100 h-100 m-0 p-0 position-absolute">
                <div class="row w-100 m-0" style="height: 60%"></div>
                <div class="row w-100 m-0"
                    style="height: 40%; background: -webkit-linear-gradient(top, #00000000 0%, #000000dd 100%);">
                </div>
            </div>

        </div>
    </div>
    <!--  END PHOTO SECTION  -->

    <!--  BEGIN ACTIVITY INFORMATION  -->
    <div class="row w-100 mx-0">

        <div class="col-12 w-100 px-0">
            <div class="statbox widget box box-shadow">

                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>活动详细介绍</h4>
                        </div>
                    </div>
                </div>

                <div class="widget-content widget-content-area">

                    <!--  活动信息  -->
                    <div class="code-section-container show-code mt-0">

                        <h1>
                            {{ title }}
                            {% if status == "审核中" %}
                            <span class="badge badge-pill badge-warning">审核中</span>
                            {% elif status == "等待中" %}
                            <span class="badge badge-pill badge-info">等待中</span>
                            {% elif status == "已取消" or status == "已结束" %}
                            <span class="badge badge-pill badge-danger">{{ status }}</span>
                            {% else %}
                            <span class="badge badge-pill badge-success">{{ status }}</span>
                            {% endif %}
                        </h1>

                        <h5 class="mb-5">
                            <u>
                                <a href="/orginfo/{{ org_name }}">
                                    {{ org_name }} - {{ org_type }}
                                </a>
                            </u>
                        </h5>

                        <div class="media-body">
                            <p class="meta-time">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-calendar">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                                <span class="ml-3">
                                    {{ start_time }} - {{ end_time }}
                                </span>
                            </p>

                            <p class="meta-time">
                                <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                                    <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                                    <circle cx="12" cy="10" r="3"></circle>
                                </svg>
                                <span class="ml-3">
                                    {{ activity.location }}
                                </span>
                            </p>

                            <p class="meta-time">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path d="M18.36 6.64a9 9 0 1 1-12.73 0" />
                                    <line x1="12" y1="2" x2="12" y2="12" />
                                </svg>
                                <span class="ml-3">
                                    {{ apply_deadline }}&nbsp;截止
                                </span>
                            </p>

                            <p>
                                <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                                    <path d="M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5z"></path>
                                    <line x1="16" y1="8" x2="2" y2="22"></line>
                                    <line x1="17.5" y1="15" x2="9" y2="15"></line>
                                </svg>
                                <span class="ml-3">
                                    {{ apply_manner }}
                                </span>
                            </p>

                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <line x1="12" y1="1" x2="12" y2="23" />
                                    <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6" />
                                </svg>
                                <span class="ml-3">
                                    {{ price }}&nbsp;元气值
                                </span>
                            </p>

                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
                                    <circle cx="9" cy="7" r="4" />
                                    <path d="M23 21v-2a4 4 0 0 0-3-3.87" />
                                    <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                                </svg>
                                <span class="ml-3">
                                    {{ current_participants }} / {{ capacity }}&nbsp;报名
                                </span>
                            </p>

                            {% if show_url == True %}
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="10" />
                                    <line x1="2" y1="12" x2="22" y2="12" />
                                    <path
                                        d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z" />
                                </svg>
                                <span class="ml-3">
                                    <a href="{{aURL}}"><abbr title="link">跳转至活动链接</abbr></a>
                                </span>
                            </p>
                            {% endif %}
                            <br />
                            <p>
                                {{introduction}}
                            </p>
                            <br />
                        </div>

                        <!--  按钮部分  -->
                        <div>

                            {% if examine %}
                            <button class="btn btn-primary btn-block mb-4 mr-2" data-toggle="collapse"
                                data-target="#extend-area" onclick="location='/examineActivity/{{aid}}'">
                                审批活动
                            </button>
                            {% endif %}
                            {% if person %}
                            {% if pStatus == "无记录" and status == "报名中" %}
                            <form method="POST">
                                <input type="hidden" name="option" value="apply">
                                <button class="btn btn-primary btn-block mb-4 mr-2">立即报名</button>
                            </form>
                            {% elif pStatus == "无记录" and status != "审核中" %}
                            {% if status == "等待中" %}
                            <a href="javascript:void(0);" class="btn btn-danger btn-block mb-4 mr-2">报名截止</a>
                            {% endif %}
                            {% elif pStatus == "申请中" %}
                            <a href="javascript:void(0);" class="btn btn-secondary btn-block mb-4 mr-2">申请中</a>
                            <form method="POST">
                                <input type="hidden" name="option" value="quit">
                                <button class="btn btn-danger btn-block mb-4 mr-2">退出活动</button>
                            </form>
                            {% elif pStatus == "申请失败" %}
                            <a href="javascript:void(0);" class="btn btn-danger btn-block mb-4 mr-2">申请失败</a>
                            {% elif pStatus == "已报名" %}
                            <a href="javascript:void(0);" class="btn btn-primary btn-block mb-4 mr-2">已报名</a>
                            <form method="POST">
                                <input type="hidden" name="option" value="quit">
                                <button class="btn btn-danger btn-block mb-4 mr-2">退出活动</button>
                            </form>
                            {% elif pStatus == "已参与" %}
                            <a href="javascript:void(0);" class="btn btn-primary btn-block mb-4 mr-2">已参与</a>
                            {% elif pStatus == "未参与" %}
                            <a href="javascript:void(0);" class="btn btn-warning btn-block mb-4 mr-2">未参与</a>
                            {% elif pStatus == "放弃" %}
                            <a href="javascript:void(0);" class="btn btn-danger btn-block mb-4 mr-2">已退出</a>
                            {% endif %}
                            {% elif ownership %}
                            {% if status == "已结束" %}
                            <button class="btn btn-success btn-block mb-4 mr-2" data-toggle="collapse"
                                data-target="#summaryphoto">
                                上传总结照片
                            </button>
                            <!--  如果要上传照片，则展示下面的部分  -->
                            <form method="POST" enctype="multipart/form-data">
                                <div id="summaryphoto" class="collapse">
                                    <div class="form-group">
                                        <div class="col">
                                            <input onchange="showFilenameLocal(this.files)" type="file"
                                                class="custom-file-input" id="images" name="images" accept="image/*">
                                            <label id="upload_annouce_photo" name="upload_annouce_photo"
                                                class="custom-file-label" for="customFile"> 请上传一张图片 </label>
                                        </div>
                                    </div>
                                    <input type="hidden" name="option" value="submitphoto">
                                    <button type="submit" class="btn btn-primary btn-block mb-4 mr-2">确认上传</button>
                                </div>
                            </form>
                            <form method="POST">
                                <input type="hidden" name="option" value="payment">
                                <button class="btn btn-primary btn-block mb-4 mr-2">申请报销</button>
                            </form>
                            {% endif %}
                            {% if status == "审核中" or status == "报名中" or status == "等待中" %}
                            <form method="POST">
                                <input type="hidden" name="option" value="edit">
                                <button class="btn btn-primary btn-block mb-4 mr-2">修改信息</button>
                            </form>
                            <form method="POST">
                                <input type="hidden" name="option" value="cancel">
                                <button class="btn btn-danger btn-block mb-4 mr-2">取消活动</button>
                            </form>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>





                        {% if ownership and need_checkin and status == "报名中" %}
                        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 layout-top-spacing">
                            <div class="container">
                                <div class="row col-lg-12 col-md-12 mb-5 p-0">
                                <div class="statbox widget box box-shadow">
                                    <div class="widget-header">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                <h4>签到二维码</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content widget-content-area">
                                        <img class="d-block w-100" id="qrcode" src="{{aQRcode}}" alt="Third slide">
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 layout-top-spacing">
                            <div class="row">
                            <a href="/orginfo/{{org_name}}">
                                <div class="statbox widget box box-shadow">
                                    <div class="widget-header">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                <h4>组织者</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content widget-content-area">
                                        <div class="media">
                                            <div class="media-body">
                                                <h4>{{org_name}} - {{org_type}}</h4>
                                                <p>{{org.introduction}}</p>      
                                            </div>
                                            <img src="{{org_avatar_path}}" height="60px" width="60px" alt="avatar">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="row">
                                <p></p>
                            </div>
                            {% if summary_photo_exists %}
                            <div class="row">
                                <div class="statbox widget box box-shadow">
                                    <div class="widget-header">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                <h4>总结照片</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="{{summary_photo}}" height="100%" width="100%" alt="avatar">
                                </div>
                            {% endif %}
                            </div>
                        </div>
                        {% endif %}





    </div>
    <!--  END ACTIVITY INFORMATION  -->
</div>

<script type="text/javascript">
    function showFilenameLocal(files) {
        var text = "";
        for (i = 0; i < files.length; i++) {
            text += (" " + files[i].name);
        }
        if (text == "")
            text = "请上传一张图片";
        $("#upload_annouce_photo").html(text);
    }
</script>
<!--  END CONTENT AREA  -->

{% endblock %}