{% extends "base.html" %}

{% load static %}

{% block mainpage %}
<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    {% include 'org_left_narbar.html' %}

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="container">
            <div class="container">
                <div class="row layout-top-spacing">
                    <div class="col-lg-12 col-sm-12 col-12 layout-spacing">
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div class="statbox widget box box-shadow">

                                    <!--  BEGIN HEADER AREA  -->
                                    <div class="widget-header">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                <h4>详细信息</h4>
                                            </div>
                                        </div>
                                    </div>

                                    <!--  BEGIN CONTENT AREA  -->
                                    <div class="widget-content widget-content-area">

                                        <form class="form-horizontal" role="form" method="POST">

                                            <div class="input-group mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"
                                                          id="inputGroup-sizing-default">活动名称
                                                    </span>
                                                </div>
                                                <input type="text" id="aname" name="aname" class="form-control"
                                                       aria-label="Default"
                                                       aria-describedby="inputGroup-sizing-default">
                                            </div>

                                            <div class="form-group">
                                                <label for="aintro">活动简介</label>
                                                <textarea id="aintro" name="content" class="form-control"
                                                          rows="3"></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label for="signupSdate" class="col-sm-2 control-label">报名开始日期</label>
                                                <input id="signupSdate" name="signupSdate" type="date">
                                                <label for="signupStime" class="col-sm-2 control-label">报名开始时间</label>
                                                <input id="signupStime" name="signupStime" type="time">
                                            </div>

                                            <div class="form-group">
                                                <label for="signupEdate" class="col-sm-2 control-label">报名截止日期</label>
                                                <input id="signupEdate" name="signupEdate" type="date">
                                                <label for="signupEtime" class="col-sm-2 control-label">报名截止时间</label>
                                                <input id="signupEtime" name="signupEtime" type="time">
                                            </div>

                                            <div class="form-group">
                                                <label for="actSdate" class="col-sm-2 control-label">活动开始日期</label>
                                                <input id="actSdate" name="actSdate" type="date">
                                                <label for="actStime" class="col-sm-2 control-label">活动开始时间</label>
                                                <input id="actStime" name="actStime" type="time">
                                            </div>

                                            <div class="form-group">
                                                <label for="actEdate" class="col-sm-2 control-label">活动结束日期</label>
                                                <input id="actEdate" name="actEdate" type="date">
                                                <label for="actEtime" class="col-sm-2 control-label">活动结束时间</label>
                                                <input id="actEtime" name="actEtime" type="time">
                                            </div>

                                            <div class="form-group">
                                                <label for="publishdate" class="col-sm-2 control-label">信息发布日期</label>
                                                <input id="publishdate" name="publishdate" type="date">
                                                <label for="publishtime" class="col-sm-2 control-label">信息发布时间</label>
                                                <input id="publishtime" name="publishtime" type="time">
                                            </div>
                                            <div class="form-group">
                                                <label for="location" class="col-sm-2 control-label">活动地点</label>
                                                <input type="text" id="location" name="location" aria-label="Default"
                                                       aria-describedby="inputGroup-sizing-default">
                                            </div>
                                            <div class="form-group">
                                                <label for="price" class="col-sm-2 control-label">活动定价</label>
                                                <input type="number" id="aprice" name="aprice" step="0.1"
                                                       placeholder="精确到小数点后一位"
                                                       οnkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,1})?).*$/g, '$1')"/>
                                            </div>

                                            <div class="input-group mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"
                                                          id="inputGroup-sizing-default">活动最大人数</span>
                                                </div>
                                                <input type="text" id="maxpeople" name="maxpeople" class="form-control"
                                                       aria-label="Default" placeholder="最大100人"
                                                       aria-describedby="inputGroup-sizing-default">
                                            </div>

                                            <div class="input-group mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"
                                                          id="inputGroup-sizing-default">活动链接(url)</span>
                                                </div>
                                                <input type="text" id="URL" name="URL" class="form-control"
                                                       aria-label="Default"
                                                       aria-describedby="inputGroup-sizing-default">
                                            </div>
                                            <button type="submit" class="btn btn-success btn-block mb-4 mr-2" value="">
                                                提交
                                            </button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--  END CONTENT AREA  -->

</div>
<!-- END MAIN CONTAINER -->

{% endblock %}