{% extends "base.html" %}

{% load static %}

{% block mainpage %}

<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content pb-3" style="overflow: hidden;">

    {% if html_display.warn_code == 1 %}
    <div class="alert alert-warning text-center" style="position: absolute; width: 100%; z-index: 100;">{{ html_display.warn_message }}</div>
    {% elif html_display.warn_code == 2 %}
    <div class="alert alert-success text-center" style="position: absolute; width: 100%; z-index: 100;">{{ html_display.warn_message }}</div>
    {% endif %}

    {% if inform_share %}
    <script type="text/javascript">
        let share_confirm = confirm("{{alert_message}}");
        if (share_confirm) {
            const req = new XMLHttpRequest();
            let url = '/viewActivity/' + '{{aid}}';
            req.open('POST', url, true);
            req.responseType = 'blob';
            req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); //设置请求头
            req.send("option=" + "cancelInformShare"); //输入参数 参数的值为option="share"
        }
    </script>
    {% endif %}


    <!--  BEGIN UPPER SECTION  -->
    <div class="d-flex m-0 p-0 overflow-hidden">

        <!--  BEGIN BLURRED BG  -->
        {% if summary_photo_exists %}
        <div class="w-100" id="bg" style="background-image: url({{ firstpic }}); filter: blur(20px); -webkit-filter: blur(20px); background-position: center; background-repeat: no-repeat; background-size: cover;">
        {% else %}
        <div class="w-100" id="bg" style="background-image: url({{ firstpic }}); filter: blur(20px); -webkit-filter: blur(20px); background-position: center; background-repeat: no-repeat; background-size: cover;">
        {% endif %}
            <div class="w-100 h-100 m-0 p-0">
                <div class="row w-100 m-0" style="height: 20%;"></div>
                <div class="row w-100 m-0" style="height: 30%; background: -webkit-linear-gradient(top, #ffffff00 0%, #ffffffaa 100%);"></div>
                <div class="row w-100 m-0" style="height: 50%; background-color: #ffffff;"></div>
            </div>
        </div>
        <!--  END BLURRED BG  -->

        <!--  BEGIN FRONT SCENE  -->
        <div style="position: absolute; width: 100%; top: -8px;">  <!--  hide the top corner  -->

            <!--  BEGIN PHOTO  -->
            <div id="front-photo" style="position: absolute; width: 66%; height: 30vh; margin-left: 17%; margin-right: 17%; padding-left: 80px; padding-right: 80px;">
                <div id="style1" class="carousel slide style-custom-1 h-100" data-ride="carousel">
                    <div class="carousel-inner h-100">
                        <div class="h-100 carousel-item active">
                            <img class="d-block w-100 slide-image" style="width: 100%; height: 100%; object-fit: cover;" src={{ firstpic }}></img>
                        </div>
                        {% if summary_photo_exists %}
                                {%for summary_photo in summary_photos.all %}
                                <div class="h-100 carousel-item">
                                    <img class="d-block w-100 slide-image" style="width: 100%; height: 100%; object-fit: cover;" src="/media/{{ summary_photo.image }}"></img>
                                </div>
                                
                                {%endfor%}
                        {% endif %}
                    </div>
                    <a class="carousel-control-prev" href="#style1" role="button" data-slide="prev">
                           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                           <span class="sr-only">Previous</span>
                    </a>
                   <a class="carousel-control-next" href="#style1" role="button" data-slide="next">
                           <span class="carousel-control-next-icon" aria-hidden="true"></span>
                           <span class="sr-only">Next</span>
                   </a> 
               </div>
            </div>
            <!--  END PHOTO  -->
            
            <div id="front-scene" style="width: 66%; height: 80%; margin: auto;">
                <div id="front-photo-place-holder" style="height: 30vh;"></div>

                <!--  BEGIN CALENDAR  -->
                <div id="calendar" style="position: absolute; left: 17%; top: 30vh;">
                    <div style="position: absolute; left: 0px; top: -70px; width: 70px; height: 70px; border-radius: 8px; overflow: hidden; box-shadow: 1px 1px 16px 2px rgba(0, 0, 0, 0.12);">
                        <!-- -------------------------------- MONTH -------------------------------- -->
                        <div class="d-flex" style="position: absolute; left: 0%; top: 0%; width: 100%; height: 30%; background-color: var(--danger)">
                            <div class="flex" style="width: 100%; margin: auto; text-align: center;">
                                <b class="text-light" style="font-size: 15px;">{{ start_month }}月</b>
                            </div>
                        </div>
                        <!-- --------------------------------- DAY --------------------------------- -->
                        <div class="d-flex" style="position: absolute; left: 0%; top: 30%; width: 100%; height: 70%; background-color: var(--white)">
                            <div class="flex" style="width: 100%; margin: auto; text-align: center;">
                                {% if start_date < 10 %}
                                <b class="text-dark" style="font-size: 30px;">{{ start_date }}日</b>
                                {% else %}
                                <b class="text-dark" style="font-size: 25px;">{{ start_date }}日</b>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!--  END CALENDAR  -->

                <!--  BEGIN HEADING  -->
                <div style="width: 100%; height: max-content; margin-top: 10px;">
                    <!-- -------------------------------- time --------------------------------- -->
                    <b class="text-danger">{{ activity.start }} - {{ activity.end }}</b>

                    <!-- -------------------------------- title -------------------------------- -->
                    <div class="flex d-flex justify-content-start">
                        <h2 class="flex text-dark" style="font-weight: bolder;">{{ title }}</h2>
                        <div class="flex my-auto ml-1">
                            {% if status == "等待中" %}
                            <span class="badge badge-pill badge-warning">
                                等待开始
                            {% else %}
                            {% if status == "审核中" %}
                            <span class="flex badge badge-pill badge-secondary">
                            {% elif status == "已取消" %}
                            <span class="badge badge-pill badge-dark">
                            {% elif status == "未过审" or status == "已撤销" or status == "已结束" %}
                            <span class="badge badge-pill badge-danger">
                            {% elif status == "报名中" %}
                            <span class="badge badge-pill badge-info">
                            {% elif status == "进行中" %}
                            <span class="badge badge-pill badge-success">
                            {% endif %}
                                {{ status }}
                            {% endif %}
                            </span>
                            {% if activity.inner %}
                            <span class="badge badge-pill badge-success">内部活动</span>
                            {% endif %}
                        </div>
                    </div>

                    <!-- --------------------------- org and status ---------------------------- -->
                    <div class="d-flex justify-content-between" style="margin-top: -8px; font-size: small; color:gray;">
                        <div class="flex">
                            <b>{{ org_name }}</b>
                            发布于
                            <span>{{ activity.publish_time }}</span>
                        </div>
                        <div class="flex">
                        {% if person %}
                        <span class="badge badge-light">{{ pStatus }}</span>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <!--  END HEADING  -->

                <!-- ------------------------------ div line ------------------------------- -->
                <div id="div-line" style="width: 100%; height: 1px; margin: auto; margin-top: 5px; background-color:rgba(0, 0, 0, 0.2)"></div>

            </div>

            <!-- ----------------------------- adapt width ----------------------------- -->
            <script type="text/javascript">
                setTimeout(resizeWidth, 0);
                window.addEventListener(`load`, resizeWidth);
                window.addEventListener(`resize`, resizeWidth);

                const front_scene = document.querySelector(`#front-scene`);
                const fron_photo = document.querySelector(`#front-photo`);
                const fron_photo_ph = document.querySelector(`#front-photo-place-holder`);
                const fron_img = fron_photo.querySelector(`img`);
                const calendar = document.querySelector(`#calendar`);
                const cal_inn = calendar.querySelector(`div`);
                function resizeWidth(event) {
                    const lower = document.querySelector(`#lower`);
                    if (this.innerWidth <= 767) {
                        lower.style.width = `95%`;
                        front_scene.style.width = `83%`;
                        fron_photo.style.marginLeft = `0%`;
                        fron_photo.style.marginRight = `0%`;
                        fron_photo.style.paddingLeft = `0px`;
                        fron_photo.style.paddingRight = `0px`;
                        fron_photo.style.width = `100%`;
                        fron_photo_ph.style.marginBottom = `30px`;
                        fron_img.style.borderRadius = `0px`;
                        fron_img.style.boxShadow = `none`;
                        calendar.style.left = `8%`;
                        cal_inn.style.top = `-50px`;
                    } else {
                        lower.style.width = `70%`;
                        front_scene.style.width = `66%`;
                        fron_photo.style.marginLeft = `17%`;
                        fron_photo.style.marginRight = `17%`;
                        fron_photo.style.paddingLeft = `80px`;
                        fron_photo.style.paddingRight = `80px`;
                        fron_photo.style.width = `66%`;
                        fron_photo_ph.style.marginBottom = `0px`;
                        fron_img.style.borderRadius = `8px`;
                        fron_img.style.boxShadow = `1px 1px 16px 2px rgba(0, 0, 0, 0.12)`;
                        calendar.style.left = `17%`;
                        cal_inn.style.top = `-70px`;
                    }
                }
            </script>

            <!-- -------------------------- constrain height --------------------------- -->
            <script type="text/javascript">
                setTimeout(resizeHeight, 0);
                window.addEventListener(`load`, resizeHeight);
                window.addEventListener(`resize`, resizeHeight);

                const bg = document.querySelector(`#bg`);
                const div_line = document.querySelector(`#div-line`);
                function resizeHeight(event){
                    bg.style.height = `${div_line.offsetTop - 8}px`
                };
            </script>

        </div>
        <!--  END FRONT SCENE  -->

    </div>
    <!--  END UPPER SECTION  -->

    <div class="row m-0 mx-auto" id="lower" style="width: 70%;">

        <div class="col-md-9 col-sm-12 px-1">

            <div class="container w-100 px-0">

                <!--  BEGIN ACTIVITY INFORMATION  -->
                <div class="statbox widget box box-shadow layout-top-spacing">

                    <div class="widget-header">
                        <div class="d-flex justify-content-between">
                            <h4 style="padding-left: 12px;">活动信息</h4>
                            <h4 style="padding-left: 12px;">
                                <small>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                            width="18"
                                            height="18"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            >
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                </svg>
                                {{ activity.visit_times }}
                                </small>
                            </h4>
                        </div>
                    </div>

                    <div class="widget-content widget-content-area">

                        <!--  活动信息  -->
                        <div class="code-section-container show-code my-0">

                            <div class="media-body">
                                <p class="meta-time">
                                    <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor"
                                        stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                        class="css-i6dzq1">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <polyline points="12 6 12 12 16 14"></polyline>
                                    </svg>
                                    <span class="ml-3">
                                        持续&nbsp;{{ duration }}
                                    </span>
                                </p>

                                <p class="meta-time">
                                    <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor"
                                        stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                        class="css-i6dzq1">
                                        <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                                        <circle cx="12" cy="10" r="3"></circle>
                                    </svg>
                                    <span class="ml-3">
                                        {{ activity.location }}
                                    </span>
                                </p>

                                <p class="meta-time">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path d="M18.36 6.64a9 9 0 1 1-12.73 0" />
                                        <line x1="12" y1="2" x2="12" y2="12" />
                                    </svg>
                                    <span class="ml-3">
                                        {{ apply_deadline }}&nbsp;截止
                                    </span>
                                </p>

                                <p>
                                    <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor"
                                        stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                        class="css-i6dzq1">
                                        <path d="M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5z"></path>
                                        <line x1="16" y1="8" x2="2" y2="22"></line>
                                        <line x1="17.5" y1="15" x2="9" y2="15"></line>
                                    </svg>
                                    <span class="ml-3">
                                        {{ apply_manner }}
                                        ·
                                        {% if activity.need_checkin %}
                                        需要签到
                                        {% else %}
                                        无需签到
                                        {% endif %}
                                    </span>
                                </p>

                                {% if price %}
                                <p>
                                    <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><circle cx="12" cy="12" r="10"></circle><rect x="9" y="9" width="6" height="6"></rect></svg>
                                    <span class="ml-3">
                                        {{ price }}&nbsp;元气值
                                    </span>
                                </p>
                                {% endif %}

                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
                                        <circle cx="9" cy="7" r="4" />
                                        <path d="M23 21v-2a4 4 0 0 0-3-3.87" />
                                        <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                                    </svg>
                                    <span class="ml-3">
                                        {{ current_participants }} / {{ capacity }}&nbsp;已报名
                                    </span>
                                </p>

                                {% if show_url == True %}
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <circle cx="12" cy="12" r="10" />
                                        <line x1="2" y1="12" x2="22" y2="12" />
                                        <path
                                            d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z" />
                                    </svg>
                                    <span class="ml-3">
                                        <a href="{{aURL}}"><abbr title="link">跳转至活动链接</abbr></a>
                                    </span>
                                </p>
                                {% endif %}

                                </div>

                            <!--  按钮部分  -->
                            <div class="mt-4">

                                {% if examine %}
                                    {% if status == "审核中" or not activity.valid %}
                                    <button class="btn btn-primary btn-block mb-2" data-toggle="collapse"
                                        data-target="#extend-area" onclick="location='/examineActivity/{{aid}}'">
                                        审批活动
                                    </button>
                                    {% elif activity.valid %}
                                    <button class="btn btn-primary btn-block mb-2" data-toggle="collapse"
                                        data-target="#extend-area" onclick="location='/examineActivity/{{aid}}'">
                                        审核记录
                                    </button>
                                    {% endif %}

                                {% endif %}

                                {% if person %}

                                    {% if pStatus == "未参与" and status == "报名中" %}
                                    {% if not not_inner %}
                                    <form method="POST">
                                        <input type="hidden" name="option" value="apply">
                                        <button class="btn btn-primary btn-block mb-2" onclick="return confirm('确认报名？')">立即报名</button>
                                    </form>
                                    {% else %}
                                        <button class="btn btn-primary btn-block mb-2" disabled>立即报名
                                        <a data-toggle="tooltip" data-placement="bottom" title="该活动是小组内部活动，只有小组内部成员可以参与。">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                                class="bi bi-question-circle-fill" viewBox="0 0 22 22">
                                                <path
                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                                            </svg>
                                            
                                        </a>
                                        </button>
                                    {% endif %}

                                    {% elif pStatus == "申请中" or pStatus == "已报名" %}
                                    <form method="POST">
                                        <input type="hidden" name="option" value="quit">
                                        <button class="btn btn-danger btn-block mb-2"
                                            onclick="return confirm('确认退出活动？{% if activity.source == "学生" and activity.YQPoint > 0 %}{% if status != "报名中" %}当前状态将无法取回全部元气值！{% else %}用于报名的元气值将被退回至您的账户。{% endif %}{% endif %}')">
                                            退出活动
                                        </button>
                                    </form>

                                    {% endif %}

                                {% endif %}

                                {% if ownership %}
                                    {% if status == "进行中" or status == "报名中" or status == "等待中" or status == "已结束" %}
                                        <button class="btn btn-primary btn-block mb-2" id="export_enroll_excel" type="button">
                                            下载报名&签到信息
                                        </button>
                                    {% endif %}
                                    <!-- ---------------------------- begin summary ---------------------------- -->
                                    {% if status == "已结束" %}
                                    <!--<button class="btn btn-primary btn-block mb-2" data-toggle="collapse"
                                        data-target="#summaryphoto">
                                        上传/更新总结照片
                                    </button>
                                    <form method="POST" enctype="multipart/form-data">
                                        <div id="summaryphoto" class="collapse">
                                            <div class="form-group">
                                                <div class="col">
                                                    <input onchange="showFilenameLocal(this.files)" type="file"
                                                        class="custom-file-input" id="images" name="images"
                                                        accept="image/*">
                                                    <label id="upload_annouce_photo" name="upload_annouce_photo"
                                                        class="custom-file-label" for="customFile"> 请上传一张图片 </label>
                                                </div>
                                            </div>
                                            <input type="hidden" name="option" value="submitphoto">
                                            <button type="submit" class="btn btn-primary btn-block mb-2">确认上传</button>
                                        </div>
                                    </form>-->
                                    <form method="POST">
                                        <input type="hidden" name="option" value="payment">
                                        <button class="btn btn-primary btn-block mb-2">申请活动结项</button>
                                    </form>
                                    {% endif %}
                                    <!-- ----------------------------- end summary ----------------------------- -->
                                    <!-- --------------------------begin checkinoffline------------------------- -->
                                    {% if status == "已结束" %}
                                    <form method="POST">
                                        <input type="hidden" name="option" value="checkinoffline">
                                        <button class="btn btn-primary btn-block mb-2">调整签到信息</button>>
                                    </form>
                                    {% endif %}
                                   <!-- --------------------------end checkinoffline--------------------------- -->
                                    <!-- --------------------------- begin settings ---------------------------- -->
                                    {% if status == "审核中" or status == "报名中" or status == "等待中" %}
                                    <form method="POST">
                                        <input type="hidden" name="option" value="edit">
                                        <button class="btn btn-primary btn-block mb-2">修改活动</button>
                                    </form>
                                    <form method="POST">
                                        <input type="hidden" name="option" value="cancel">
                                        <button class="btn btn-danger btn-block mb-2">取消活动</button>
                                    </form>
                                    {% endif %}
                                    <!-- ---------------------------- end settings ----------------------------- -->

                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
                <!--  END ACTIVITY INFORMATION  -->

                <!--  BEGIN ORGANIZAOR & PARTICIPANTS  -->
                <div class="statbox widget box box-shadow layout-top-spacing">

                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4 style="padding-left: 12px;">人员信息</h4>
                            </div>
                        </div>
                    </div>


                    <div class="widget-content widget-content-area">

                        <h5>发起者</h5>
                        <div class="d-flex justify-content-start">
                            <div style="width: max-content; border-radius: 25px; ">
                                <a href='/orginfo/?name={{org_name}}'>
                                <img src="{{ org_avatar_path }}" class="flex" alt="organization avatar" height="50px" width="50px">
                                </a>
                            </div>
                            <span class="flex flex-grow-1 mx-3">
                                <div class="d-flex justify-content-between">
                                    <a href='/orginfo/?name={{org_name}}'><u><h5 class="flex" style="height: 21px;">{{ org_name }}</h5></u></a>
                                    <p class="mb-0" style="color: gray;">{{ org_type }}</p>
                                </div>
                                <p class="mb-0" style="color: gray;">{{ org.introduction }}</p>
                            </span>
                        </div>

                        <div class="mb-4"></div>

                        <h5>
                            参与者
                            <a data-toggle="tooltip" data-placement="bottom" title="状态为已签到的人员在头像右上显示绿色徽记，未签到的人员为红色">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-question-circle-fill" viewBox="0 0 22 22">
                                    <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                                </svg>
                            </a>
                        </h5>
                        {% if participants is None or participants|length == 0 %}
                        <div style="text-align: center;">还没有参与者哦～</div>
                        {% else %}
                        <div class="row" style="margin-left: -4px;">
                            <style>
                                .messages {
                                    position: absolute;
                                    width: 12px;
                                    height: 12px;
                                    left: 80%;
                                    top: -3px;
                                    border-radius: 12px;
                                }
                            </style>
                            {% for person in participants %}
                            <span class="col-0 m-1" style="border-radius: 8px; position: relative;">
                                <a href="{{ person.person_id.get_absolute_url }}">
                                    <img src="{{ person.person_id.get_user_ava }}" class="flex" alt="participant's avatar" style="border-radius: 8px; " height="50px" width="50px">
                                    
                                    {% if person.status == "未签到" %}

                                    <div class="messages" style="background-color: rgb(255, 132, 132);">   
                                        <a data-toggle="tooltip" data-placement="bottom" title="未签到">&nbsp;
                                        </a>
                                    </div>
                                    {% elif person.status == "已参与" %}
                                    <div class="messages" style="background-color: rgb(163, 219, 161);">
                                        <a data-toggle="tooltip" data-placement="bottom" title="已签到">&nbsp;
                                        </a>
                                    </div>
                                    {% endif %}
                                </a>
                            </span>
                            {% endfor %}
                        </div>
                        {% endif %}
    
                    </div>

                </div>
                <!--  END ORGANIZAOR & PARTICIPANTS  -->

            </div>

            </div>

            {% if introduction or ownership and show_QRcode %}
            <!--  BEGIN RELAVENT INFORMATION  -->
            <div class="col-md-3 col-sm-12 px-1">

                {% if introduction %}
                <!--  BEGIN INTRODUCTION  -->
                <div class="container w-100 px-0 layout-top-spacing">
                    <div class="statbox widget box box-shadow">

                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4 style="padding-left: 10px;">详细介绍</h4>
                            </div>
                        </div>
                    </div>

                    <div class="widget-content widget-content-area">
                        <p style="word-break: break-all;">
                            {{ introduction }}
                        </p>
                    </div>

                    </div>
                </div>
                <!--  END INTRODUCTION  -->
                {% endif %}

                {% if ownership and show_QRcode %}
                <!--  BEGIN QR CODE  -->
                <div class="container w-100 px-0 layout-top-spacing">
                    <div class="statbox widget box box-shadow">

                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>签到二维码</h4>
                                </div>
                            </div>
                        </div>

                        <div class="widget-content widget-content-area">
                            <img class="d-block w-100" id="qrcode" src="{{ aQRcode }}" alt="check-in QR code">
                        </div>

                    </div>
                </div>
                <!--  END QR CODE  -->
                {% endif %}

            </div>
            <!--  END RELAVENT INFORMATION  -->
            {% endif %}

        </div>
    </div>
</div>

<script type="text/javascript">
    function showFilenameLocal(files) {
        var text = "";
        for (i = 0; i < files.length; i++) {
            text += (" " + files[i].name);
        }
        if (text == "")
            text = "请上传一张图片";
        $("#upload_annouce_photo").html(text);
    }
</script>

<!--  END CONTENT AREA  -->

{% endblock %}
{% block add_js_file %}
<script>
    $("#export_enroll_excel").click(function () {
     const req = new XMLHttpRequest();
     var url='/viewActivity/'+"{{aid}}"
     req.open('POST', url, true);
     req.responseType = 'blob';
     req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); //设置请求头
     req.send("option="+"enroll"); //输入参数
    req.onload = function() {
       const data = req.response;
       const a = document.createElement('a');
       const blob = new Blob([data]);
       const blobUrl = window.URL.createObjectURL(blob);
       downloadenroll(blobUrl) ;
     };
   });
   function downloadenroll(blobUrl) {
     const a = document.createElement('a');
     a.style.display = 'none';
     var name="{{activity.title}}({{activity.start.month}}月{{activity.start.day}}日)报名&签到信息统计.xls"
     a.download = name;
     a.href = blobUrl;
     a.click();
     document.body.removeChild(a);
    }
</script>

{% endblock %}