{% extends "base.html" %}

{% load static %}

{% block add_css_file %}
<link href={% static "datetimepicker/css/bootstrap-datetimepicker-standalone.css" %} rel="stylesheet" type="text/css" />
<link href={% static "datetimepicker/css/bootstrap-datetimepicker.css" %} rel="stylesheet" type="text/css" />
<link href={% static "datetimepicker/css/bootstrap-datetimepicker.min.css" %} rel="stylesheet" type="text/css" />
{% endblock %}

{% block mainpage %}
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="container">
            <div class="container">
                {% if html_display.warn_code %}
                <div class="alert alert-warning  text-center">{{ html_display.warn_message }}</div>
                {% endif %}
                <div class="row layout-top-spacing">

                    <div class="col-lg-12 col-sm-12 col-12 layout-spacing">
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div class="statbox widget box box-shadow">

                                    <!--  BEGIN HEADER AREA  -->
                                    <div class="widget-header">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                {% if edit %}
                                                <h4>编辑活动</h4>
                                                {% else %}
                                                <h4>创建活动</h4>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <!--  BEGIN CONTENT AREA  -->
                                    <div class="widget-content widget-content-area">

                                        <form role="form" method="POST">
                                            <p>活动信息</p>
                                            <div class="form-group">
                                                <input type="text" id="aname" name="aname" class="form-control"
                                                    aria-label="Default" placeholder="{{title}}">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="location" name="location" class="form-control"
                                                    aria-label="Default" placeholder="{{location}}">
                                            </div>
                                            <div class="form-group">
                                                {% if edit %}
                                                <p class="form-control">
                                                    {{budget}}
                                                </p>
                                                {% else %}
                                                <input type="text" id="budget" name="budget" class="form-control"
                                                    aria-label="Default" placeholder="活动预算">
                                                {% endif %}
                                            </div>



                                            <div class="form-group">

                                                <div class="row">
                                                    <div class="col">
                                                        <input type='text' class="form-control" id='datetimepicker3'
                                                            name="actstart" placeholder="{{start}}" />
                                                    </div>
                                                    <div class="col">
                                                        <input type='text' class="form-control" id='datetimepicker4'
                                                            name="actend" placeholder="{{end}}" />
                                                    </div>
                                                </div>
                                            </div>


                                            <!--
                                            <div class="input-group mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroup-sizing-default">活动名称
                                                    </span>
                                                </div>
                                                <input type="text" id="aname" name="aname" class="form-control"
                                                    aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                            </div>

                                            
                                            -->
                                            <hr>
                                            <p>报名信息</p>
                                            <!--
                                            <div class="form-group">
                                                <label for="price" class="col-sm-2 control-label">活动定价</label>
                                                <input type="number" id="aprice" name="aprice" step="0.1"
                                                    placeholder="精确到小数点后一位"
                                                    οnkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,1})?).*$/g, '$1')" />
                                            </div>
                                            -->
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    {% if edit %}
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-outline-primary"
                                                            type="button"
                                                            aria-expanded="false">{{signscheme}}
                                                        </button>
                                                    </div>
                                                    <input type="number" class="form-control"
                                                        aria-label="Text input with dropdown button" id="aprice"
                                                        name="aprice" placeholder="{{amount}}" step="0.1"
                                                        οnkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,1})?).*$/g, '$1')">
                                                    {% else %}
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-outline-primary dropdown-toggle"
                                                            type="button" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false" id="pricebutton">报名模式
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" onclick="shows($(this).text())"
                                                                name="get" value="get">先到先得</a>
                                                            <a class="dropdown-item" onclick="shows($(this).text())"
                                                                name="bid" value="bid">投点参与</a>
                                                        </div>
                                                        <input type="hidden" id="signschema" name="signschema"
                                                            value="" />
                                                    </div>
                                                    <input type="number" class="form-control"
                                                        aria-label="Text input with dropdown button" id="aprice"
                                                        name="aprice" placeholder="最小精度为0.1" step="0.1"
                                                        οnkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,1})?).*$/g, '$1')">
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col">
                                                        <input type="text" id="maxpeople" name="maxpeople"
                                                            class="form-control" aria-label="Default"
                                                            placeholder="{{capacity}}">
                                                    </div>
                                                    <div class="col"
                                                        style="display: flex; flex-direction: column;justify-content: center;text-align: center;">
                                                        <center>
                                                            <div class="form-check"
                                                                style="align-content: center; vertical-align: middle;">
                                                                {% if no_limit %}
                                                                <input class="form-check-input" type="checkbox"
                                                                    value="1" id="unlimited_capacity"
                                                                    name="unlimited_capacity" checked>
                                                                {% else %}
                                                                <input class="form-check-input" type="checkbox"
                                                                    value="1" id="unlimited_capacity"
                                                                    name="unlimited_capacity">
                                                                {% endif %}
                                                                <label class="form-check-label" for="defaultCheck1">
                                                                    无人数限制
                                                                </label>

                                                            </div>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--
                                            <div class="form-group">

                                                <div class="row">
                                                    <div class="col">
                                                        <input type='text' class="form-control" id='datetimepicker1'
                                                            name="signstart" placeholder="报名开始时间" />
                                                    </div>
                                                    <div class="col">
                                                        <input type='text' class="form-control" id='datetimepicker2'
                                                            name="signend" placeholder="报名截止时间" />
                                                    </div>
                                                </div>
                                            </div>
                                            -->
                                            <div class="form-group">
                                                <label for="aintro">报名截止于</label>
                                                
                                                <select id="inputState" name="prepare_scheme" class="form-control selectpicker">
                                                    <option value="0">活动开始前1小时</option>
                                                    <option value="1" selected>活动开始前1天</option>
                                                    <option value="2">活动开始前3天</option>
                                                    <option value="3">活动开始前1周</option>
                                                </select>
                                            </div>
                                            <!--
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="whether_record" name="whether_record">
                                                
                                                <label class="form-check-label" for="defaultCheck1">
                                                    活动已备案?
                                                </label>
                                                
                                            </div>
                                            -->


                                            <!--
                                            <div class="form-group">
                                                <label for="signupSdate" class="col-sm-2 control-label">报名开始日期</label>
                                                <input id="signupSdate" name="signupSdate" type="date"
                                                    value="{{html_display.today}}">
                                                <label for="signupStime" class="col-sm-2 control-label">报名开始时间</label>
                                                <input id="signupStime" name="signupStime" type="time">
                                            </div>

                                            <div class="form-group">
                                                <label for="signupEdate" class="col-sm-2 control-label">报名截止日期</label>
                                                <input id="signupEdate" name="signupEdate" type="date">
                                                <label for="signupEtime" class="col-sm-2 control-label">报名截止时间</label>
                                                <input id="signupEtime" name="signupEtime" type="time">
                                            </div>

                                            <div class="form-group">
                                                <label for="actSdate" class="col-sm-2 control-label">活动开始日期</label>
                                                <input id="actSdate" name="actSdate" type="date">
                                                <label for="actStime" class="col-sm-2 control-label">活动开始时间</label>
                                                <input id="actStime" name="actStime" type="time">
                                            </div>

                                            <div class="form-group">
                                                <label for="actEdate" class="col-sm-2 control-label">活动结束日期</label>
                                                <input id="actEdate" name="actEdate" type="date">
                                                <label for="actEtime" class="col-sm-2 control-label">活动结束时间</label>
                                                <input id="actEtime" name="actEtime" type="time">
                                            </div>



                                            
                                            <div class="form-group">
                                                <label for="location" class="col-sm-2 control-label">活动地点</label>
                                                <input type="text" id="location" name="location" aria-label="Default"
                                                    aria-describedby="inputGroup-sizing-default">
                                            </div>                                            <div class="input-group mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"
                                                        id="inputGroup-sizing-default">活动最大人数</span>
                                                </div>
                                                <input type="text" id="maxpeople" name="maxpeople" class="form-control"
                                                    aria-label="Default" placeholder="最大100人"
                                                    aria-describedby="inputGroup-sizing-default">
                                            </div>
                                            -->
                                            <hr>

                                            <p>宣传信息</p>
                                            <div class="form-group">
                                                <label for="aintro">活动简介</label>
                                                <textarea id="aintro" name="content" class="form-control" rows="3"
                                                    placeholder="{{introduction}}"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="aintro">活动推送链接(url)</label>
                                                <input type="text" id="URL" name="URL" class="form-control"
                                                    placeholder="{{url}}">
                                            </div>
                                            <!--
                                            <div class="input-group mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"
                                                        id="inputGroup-sizing-default">活动推送链接(url)</span>
                                                </div>
                                                <input type="text" id="URL" name="URL" class="form-control"
                                                    aria-label="Default" aria-describedby="inputGroup-sizing-default"
                                                    placeholder="">
                                            </div>
                                            -->
                                            {% if edit %}
                                            <input type="hidden" name="edit" value="True">
                                            <input type="hidden" name="aid", value="{{aid}}">
                                            {% endif %}
                                            <button type="submit" class="btn btn-primary btn-block mb-4 mr-2" value="">
                                                提交
                                            </button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--  END CONTENT AREA  -->



{% endblock %}

{% block add_js_file %}
<!--<script src={% static "datetimepicker/js/collapse.js" %}></script>-->
<script src={% static "datetimepicker/js/bootstrap-datetimepicker.min.js" %}></script>


<script>
    $("input[name='unlimited_capacity']").on('change', function () {
        //输出选中状态
        if (false === $(this).prop("checked")) {
            document.getElementById('maxpeople').disabled = false;
        } else {
            document.getElementById('maxpeople').disabled = true;
            document.getElementById('maxpeople').placeholder = "";
        }
    });
    function shows(a) {
        $('#pricebutton').text(a);
        if ("先到先得" === a) {
            document.getElementById('aprice').value = "";
            document.getElementById('aprice').placeholder = "参与活动元气值价格";
            document.getElementById('signschema').value = "0"
        } else {
            document.getElementById('aprice').value = "";
            document.getElementById('aprice').placeholder = "元气值投点最低额度";
            document.getElementById('signschema').value = "1"
        }
    }

</script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            //format: 'LT'
            sideBySide: true,
        });
        $('#datetimepicker2').datetimepicker({
            //format: 'LT'
            sideBySide: true
        });
        $('#datetimepicker3').datetimepicker({
            //format: 'LT'
            sideBySide: true
        });
        $('#datetimepicker4').datetimepicker({
            //format: 'LT'
            sideBySide: true
        });
    });

</script>
{% if edit %}

<script type="text/javascript">
    var obj=document.getElementById("inputState");
    obj.value={{endbefore}}
</script>
{% endif %}
{% if no_limit  %}
<script type="text/javascript">
    document.getElementById('maxpeople').disabled = true;
    document.getElementById('maxpeople').placeholder = "";
</script>
{% endif %}
{% endblock %}