<!--begin comment-->
<style type="text/css">
img {
    max-width: 300px;
    max-height:600px;
}
</style>
<div id="comments_display" class="widget-header">
    {%if  commentable == 1 or comments.len > 0 %}
    <label><h4>评论区</h4></label>
    {%endif%}
    {%for comment in comments%}
    <div class="form-group">
        <div class="d-flex justify-content-between">
            <div>
                <p style="color: rgb(66, 67, 68);"><i class="fa fa-calendar-o"></i>{{comment.time}}</p>
            </div>
            <div align="right">
                <img src={{ comment.ava }} width="24" height="24" alt="avatar">
                    <a href='{{comment.URL}}'><u>{{comment.commentator_name}}</u></a>
            </div>
        </div>
        {%if comment.text != ""%}
        <textarea name="comment" class="form-control" disabled="disabled">{{comment.text}}</textarea>
        {%endif%}
        {%if comment.len > 0 %}
            <div style="height:500px;overflow:auto;">
            {%for image in comment.comment_photos.all%}
            <img  src={{image.imagepath}} >
            <!--移动端图片大小需要修正!-->
            {%endfor%}
            </div>
        {%endif%}
        <hr>
    </div>
    {% endfor %}
</div>
{%if commentable %}
<form role="form" method="POST" enctype="multipart/form-data">
    <div>
        <br>
        <br>
        <div class="form-group">
            <textarea type="text" id="comment" name="comment"
                      class="form-control"
                      aria-label="Default" rows="3"
                      placeholder="添加评论"></textarea>
            <br>
            <div>
                <label title="评论图片">
                    <div style="text-align:left;">
                        <input type="file" accept="image/*" name="comment_images"
                               multiple>
                    </div>
                    <div class="custom-file" lang="zh">
                        <input onchange="showFilename(this.files)" type="file" class="custom-file-input"
                               id="customFile" name="comment_images" accept="image/*"  multiple>
                        <label id="uploadfile" class="custom-file-label" for="customFile">上传图片</label>
                    </div>
                </label>
                <div style="text-align:right;">
                    <button type="submit"
                            class="btn btn-primary btn-sm mb-4 mr-2"
                            name="comment_submit" value="1">
                        回复
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<!--end comment-->
{%endif%}
{% block add_js_file %}
<script>
function showFilename(files){
    var text = "";
    for (i = 0; i < files.length; i++)
    {
    text += (" "+files[i].name);
    }
    $("#uploadfile").html(text);
}
 </script>
{%endblock%}
{% block add_css_file %}
<style>
    .custom-file-input:lang(zh)~.custom-file-label::after {
    content: "上传";}
</style>
{%endblock%}