<!DOCTYPE html>
<html lang="zh">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title> 验证码登录 | 忘记密码 </title>
    
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <!-- <link href="fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet"> -->
    <link href={% static "outer/fonts.googleapis.com/source1.css" %} rel="stylesheet">
    <link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet" type="text/css" />
    <link href={% static "assets/css/plugins.css" %} rel="stylesheet" type="text/css" />
    <link href={% static "assets/css/authentication/form-2.css" %} rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href={% static "assets/css/forms/theme-checkbox-radio.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "assets/css/forms/switches.css" %}>
</head>

{% if display.alert %}
<script>
    alert('{{ display.warn_message }}')
</script>
{% endif %}

<body class="form no-image-content">
    

    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h1 class="">验证码登录</h1>
                        <p class="signup-link recovery">验证码将被发送至您的微信或邮箱, 登录后即可修改密码!</p>
                        <form class="text-left" id="form" method="POST">
                            <div class="form">

                                <div id="username-field" class="field-wrapper input">
                                    <div class="d-flex justify-content-between">
                                        <label for="username">账户</label>
                                        <a href="/index/" class="forgot-pass-link">返回登录</a>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
                                    <input id="username" name="username" type="text" class="form-control" {% if username %} value="{{ username }}" {% endif %} placeholder="学号/小组号/小组名">
                                </div>
                                
                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper">
                                    
                                    <div class="btn-group btn-block">
                                        <button type="button" id="send_info" class="btn btn-outline-primary"  data-toggle="dropdown">发送验证码</button>
                                        <div class="dropdown-menu">
                                        <button type="button" id="send_wechat" class="dropdown-item" >企业微信</button>
                                        <button type="button" id="send_email" class="dropdown-item">个人邮箱</button>
                                        
                                        </div>
                                    
                                    </div>
                                    </div>
                                </div>

                                <div id="vertify_code-field" class="field-wrapper input">
                                    <div class="d-flex justify-content-between">
                                        <label for="vertify_code">验证码</label>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
                                    <input id="vertify_code" name="vertify_code" type="text" class="form-control" {% if vertify_code %} value="{{ vertify_code }}" {% endif %} placeholder="验证码" maxlength="6">
                                </div>

                                <input id="send_captcha" name="send_captcha" type="hidden" class="form-control" value="no">

                                <div class="d-sm-flex justify-content-between">

                                    <div class="field-wrapper">
                                        <button type="submit" id="submit_btn" class="btn btn-primary" value="">登录</button>
                                    </div>
                                </div>

                            </div>

                            {% if display.warn_code == 1 and not display.noshow %}
                            <div class="alert alert-warning  text-center">{{display.warn_message}}</div>
                            {% elif display.warn_code == 2 and not display.noshow %}
                            <div class="alert alert-success  text-center">{{display.warn_message}}</div>
                            {% endif %}

                        </form>

                    </div>                    
                </div>
            </div>
        </div>
    </div>

    
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src={% static "assets/js/libs/jquery-3.1.1.min.js" %}></script>
    <script src={% static "bootstrap/js/popper.min.js" %}></script>
    <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
    
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script>
        var info = document.getElementById("send_info");
        var wechat = document.getElementById("send_wechat");
        var email = document.getElementById("send_email");
        var submit = document.getElementById("submit_btn");
        var form = document.getElementById("form");
        var send_captcha = document.getElementById("send_captcha");
        var countdown = 60;

        function settime() {
            if (countdown == 0) {
                info.removeAttribute("disabled");
                info.innerHTML = "发送到";
                drop_list.removeAttribute("disabled");
                wechat.removeAttribute("disabled");
                wechat.innerHTML = "企业微信";
                email.removeAttribute("disabled");
                email.innerHTML = "个人邮箱";
                countdown = 60;
            } else {
                info.setAttribute("disabled", true);
                info.innerHTML = "重新发送(" + countdown + ")";
                wechat.setAttribute("disabled", true);
                email.setAttribute("disabled", true);
                countdown--;
                setTimeout("settime()", 1000);
            }
        }

        if (wechat) {
            wechat.addEventListener('click', function () {
                send_captcha.value = 'wechat';
                form.submit();
                settime();
            });
        }
        if (email) {
            email.addEventListener('click', function () {
                send_captcha.value = 'email';
                form.submit();
                settime();
            });
        }
        if (submit) {
            submit.addEventListener('click', function () {
                send_captcha.value = 'no';
            });
        }
        {% if display.colddown %}
            var countdown = parseInt({{display.colddown}});
            settime();
        {% endif %}
    </script>
</body>
</html>
