<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title> 忘记密码 | 验证码登录 </title>
    
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet" type="text/css" />
    <link href={% static "assets/css/plugins.css" %} rel="stylesheet" type="text/css" />
    <link href={% static "assets/css/authentication/form-2.css" %} rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href={% static "assets/css/forms/theme-checkbox-radio.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "assets/css/forms/switches.css" %}>
</head>

{% if err_code == 0 or err_code == 4 %}
<script>
    alert('{{ err_message }}')
</script>
{% endif %}

<body class="form no-image-content">
    

    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h1 class="">忘记密码</h1>
                        <p class="signup-link recovery">输入账号，验证码将被发送至您的邮箱</p>
                        <form class="text-left" id="form" method="POST">
                            <div class="form">

                                <div id="username-field" class="field-wrapper input">
                                    <div class="d-flex justify-content-between">
                                        <label for="username">账号</label>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
                                    <input id="username" name="username" type="text" class="form-control" {% if username %} value="{{ username }}" {% endif %} placeholder="账号">
                                </div>
                                
                                <div class="d-sm-flex justify-content-between">

                                    <div class="field-wrapper">
                                        <button type="submit" id="send_btn" class="btn btn-primary" value="">发送验证码</button>
                                    </div>
                                </div>

                                <div id="vertify_code-field" class="field-wrapper input">
                                    <div class="d-flex justify-content-between">
                                        <label for="vertify_code">验证码</label>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
                                    <input id="vertify_code" name="vertify_code" type="text" class="form-control" {% if vertify_code %} value="{{ vertify_code }}" {% endif %} placeholder="验证码" maxlength="6">
                                </div>

                                <input id="send_captcha" name="send_captcha" type="hidden" class="form-control" value="yes">

                                <div class="d-sm-flex justify-content-between">

                                    <div class="field-wrapper">
                                        <button type="submit" id="submit_btn" class="btn btn-primary" value="">提交</button>
                                    </div>
                                </div>

                            </div>

                            {% if err_code %}
                            <div class="alert alert-warning  text-center">{{err_message}}</div>
                            {% endif %}

                        </form>

                    </div>                    
                </div>
            </div>
        </div>
    </div>

    
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src={% static "assets/js/libs/jquery-3.1.1.min.js" %}></script>
    <script src={% static "bootstrap/js/popper.min.js" %}></script>
    <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
    
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src={% static "assets/js/authentication/form-3.js" %}></script>
</body>
</html>
