<!DOCTYPE html>
<html lang="zh">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title> 新生注册 </title>

    <link href="{% static 'assets/css/loader.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'assets/js/loader.js' %}"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <link href="{% static 'plugins/flatpickr/flatpickr.css' %}" rel="stylesheet" type="text/css">
    <!-- <link href="plugins" -->

    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="{% static 'assets/css/scrollspyNav.css' %}" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  -->
</head>

<body>
    <div class="main-content" id="container">
        <!--  BEGIN CONTENT AREA  -->
        <div class="container">
            <div class="container">
                {% if err_msg %}
                <div class="alert alert-warning  text-center">{{err_msg}}</div>
                {% endif %}
                <div class="row layout-top-spacing">

                    <div class="col-lg-12 col-sm-12 col-12 layout-spacing">
                        <!-- <div class="row"> -->
                        <!-- <div class="col-md-12 mb-4"> -->
                        <div class="statbox widget box box-shadow">

                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4 style="text-align: center;">新生注册</h4>
                                    </div>
                                </div>
                            </div>

                            <form class="text-left" id="form" method="POST">

                                <div class="widget-content widget-content-area">
                                    <!-- <div class="row"> -->
                                    <div class="col-lg-6 col-12 mx-auto">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col">
                                                <div id="username-field" class="field-wrapper input">
                                                    <label for="sname">姓名</label>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                                    <input name="sname" type="text" class="form-control"
                                                        value="{{sname}}" required>
                                                </div>
                                                <div class="col">
                                                    <label for="gender">性别</label>
                                                    <select id="gender" name="gender"
                                                        class="form-control selectpicker" required>
                                                        <option style="display: none;" {% if not gender %}selected{% endif %}></option>
                                                        <option value="男" {% if gender == "男" %}selected{% endif %}>男</option>
                                                        <option value="女" {% if gender == "女" %}selected{% endif %}>女</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="sid">学号</label>
                                            <input name="sid" type="text" class="form-control"
                                                id="sid" maxlength="10" value="{{sid}}"
                                                required>
                                        </div>
                                        <div class="form-group">
                                            <label for="birthday">生日</label>
                                            <input name="birthday" id="birthday" {% if birthday %}value={{birthday}}{% endif %}
                                                class="form-control flatpickr flatpickr-input" type="text"
                                                placeholder="Select Date.." readonly="readonly" value="birthday"
                                                required>
                                        </div>
                                        <label for="birthplace">生源地</label>
                                        <div class="row mb-4">
                                            <div class="col">
                                                <select id="birthplace" name="birthplace"
                                                    class="form-control selectpicker" required>

                                                    <option {% if not place %}selected{% endif %} style="display: none;"></option>
                                                    {% for address in address_list %}
                                                    <option value="{{address}}" {% if address == birthplace %}selected{% endif %}>{{address}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">电子邮箱（可用于找回密码）</label>
                                            <input id="email" type="email" name="email" placeholder="email@mail.com"
                                                class="form-control" value="{{email}}"
                                                required>
                                        </div>

                                        <div class="d-sm-flex justify-content-between">

                                            <div class="field-wrapper">
                                                <button type="submit" id="register" class="btn btn-primary" value=""
                                                    style="display:block;margin:0 auto">完成注册！</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- </div> -->
                                </div>
                            </form>

                        </div>


                        <!-- </div> -->
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>

    <!--  END CONTENT AREA  -->
    </div>
    <!-- END MAIN CONTAINER -->



    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'assets/js/libs/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'plugins/flatpickr/flatpickr.js' %}"></script>
    <script src="{% static 'plugins/flatpickr/custom-flatpickr.js' %}"></script>

    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
    <script src="{% static 'plugins/highlight/highlight.pack.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'assets/js/scrollspyNav.js' %}"></script>
</body>

</html>