<div class="container">
<div class="row layout-top-spacing">
    <div class="col-lg-12 col-12 layout-top-spacing">
        <div class="bio layout-spacing ">
            <div class="widget-content widget-content-area">
                <div data-toggle="collapse" href="#help-content" role="button"
                            aria-expanded="true" aria-controls="collapseExample">       
                <h3>页面帮助</h3>
                <!-- <p></br></p> -->
                </div>
                <div class="collapse" id="help-content">
                    
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae tempore, voluptates minus quia voluptatum culpa quibusdam iste eaque et aliquid! Mollitia facere soluta praesentium repellat accusamus provident unde consectetur, cum perferendis ipsa necessitatibus porro aspernatur eos eveniet rerum non ullam veritatis officiis, officia eius. Aspernatur impedit alias minima molestiae, dicta laborum eum, necessitatibus qui eveniet animi quae! Facilis, minus numquam? Voluptatum, perspiciatis? Minima impedit itaque at cupiditate debitis, quam doloribus veritatis temporibus in dignissimos odio alias illum quod consequatur nesciunt voluptate nulla vitae perferendis ullam et vel enim excepturi delectus? Repellendus, qui quas nam amet mollitia accusamus asperiores voluptas eaque!</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>