<div class="col-lg-12 col-12 layout-top-spacing">
    <div class="bio layout-spacing ">
        <div class="widget-content widget-content-area">
            <div data-toggle="collapse" href="#help-content" role="button"
                aria-expanded="true" aria-controls="collapseExample" 
                onclick="let hc = $('#help-content')[0], ht = $('#help-title')[0];
                if(hc.getAttribute('class') != 'collapse') {ht.style.margin = '6px 0 0 0'}
                else {ht.style.margin = '6px 0 40px 0'}">       
                <h3 id="help-title">使用帮助</h3>
            </div>
            <div class="collapse" id="help-content">
                {% for para in bar_display.help_paragraphs %}
                    <p>{{para | safe}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
