<div class="container">
<div class="row layout-top-spacing">
    <div class="col-lg-12 col-12 layout-top-spacing">
        <div class="bio layout-spacing ">
            <div class="widget-content widget-content-area">
                <div data-toggle="collapse" href="#help-content" role="button"
                            aria-expanded="true" aria-controls="collapseExample">       
                    <h3>页面帮助</h3>
                <!-- <p></br></p> -->
                </div>
                <div class="collapse" id="help-content">
                    {% for para in help_paras %}
                        <p>{{para | safe}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>