<!DOCTYPE html>
<html lang="zh">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>登录页面 | 智能空间管理系统</title>

    <link type="image/x-icon" href="{% static '/assets/img/AI_logo_red.png' %}" rel="icon">
    

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <!-- <link href="fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet"> -->
    <link href={% static "outer/fonts.googleapis.com/source1.css" %} rel="stylesheet">
    <link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet" type="text/css" />
    <link href={% static "assets/css/plugins.css" %} rel="stylesheet" type="text/css" />
    <link href={% static "assets/css/authentication/form-1.css" %} rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href={% static "assets/css/forms/theme-checkbox-radio.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "assets/css/forms/switches.css" %}>

</head>

{% if load_alert_message %}
<script>
    alert('{{load_alert_message}}');
</script>
{% endif %}

<body class="form ">


    <div class="form-container ">
        <div class="form-form" style="background-image: url(/static/assets/img/YPIC_blur.png);  background-repeat: no-repeat; background-position: center;">
            <div style="backdrop-filter: blur(10px) grayscale(100%);">
            <div class="form-form-wrap" >
                <div class="form-container">
                    <div class="form-content">

                        {% if warn_code == 1 %}
                            <div class="alert alert-warning  text-center">{{warn_message}}</div>
                        {% elif warn_code == 2 %}
                            <div class="alert alert-success  text-center">{{warn_message}}</div>
                        {% endif %}

                        <h1 class="" align="center">
                            <a href="#"><span class="brand-name"> 人工智能研究院</span></a>
                        </h1>
                        <h2 class="" align="center">
                            <a href="#"><span class="brand-name">智能空间管理系统</span></a>
                        </h2>
                        <!--<p class="signup-link">New Here? <a href="/register/">注册新账户</a></p>-->
                        <form class="text-left" method="POST">

                            <div class="form">

                                <div id="username-field" class="field-wrapper input">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-user">
                                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="12" cy="7" r="4"></circle>
                                    </svg>
                                    <input id="username" name="username" type="text" class="form-control"
                                        placeholder="学号/小组号/小组名">
                                </div>

                                <div id="password-field" class="field-wrapper input mb-2">
                                    <!--
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-lock">
                                        <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                        <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                    </svg>
                                    -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" id="toggle-password" class="feather feather-eye">
                                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                        <circle cx="12" cy="12" r="3"></circle>
                                    </svg>
                                    <input id="password" name="password" type="password" class="form-control"
                                        placeholder="密码">

                                </div>

                                <div class="d-flex justify-content-between "
                                    style="display:block;margin:0 auto;align-items:center;">
                                    <div class="field-wrapper">
                                        <a class = "btn btn-outline-primary" href="/freshman/">新生注册</a>
                                    </div>   
                                    <div class="field-wrapper">
                                        <div class="btn-group">
                                        <a class = "btn btn-outline-primary" href="/forgetpw/">验证码</a>
                                        <!--
                                        <p class="d-inline-block">Show Password</p>
                                        <label class="switch s-primary">
                                            <input type="checkbox" id="toggle-password" class="d-none">
                                            <span class="slider round"></span>
                                        </label>
                                        -->
                                        <button type="submit" class="btn btn-primary" value="">登录</button>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="field-wrapper text-center" style="vertical-align: middle;">
                                        <a href="/forgetpw/" >忘记密码?</a>
                                    </div>
                                    -->
                                </div>

                                <!--
                                <div class="field-wrapper text-center keep-logged-in">
                                    <div class="n-chk new-checkbox checkbox-outline-primary">
                                        <label class="new-control new-checkbox checkbox-outline-primary">
                                            <input type="checkbox" class="new-control-input">
                                            <span class="new-control-indicator"></span>Keep me logged in
                                        </label>
                                    </div>
                                </div>
                            -->


                            </div>

                        </form>
                        <p class="terms-conditions" align='center'>© Yuanpei Intelligence Campus <a href="">All Rights
                                Reserved</a>.
                            <!-- <a href="/index/">Yuanpei Profile</a> is a product of Yuanpei College. -->
                        </p>

                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="form-image">
            <div class="l-image">
                <div id="style1" class="carousel slide style-custom-1 h-100" data-ride="carousel">
                    <div class="carousel-inner h-100">
                       <div class="h-100 carousel-item active">
                            <img src="/static/assets/img/AI_college_bg1.jpg" class="w-100 h-100" style="object-fit: cover;">
                        </div>
                        <div class="h-100 carousel-item">
                            <img src="/static/assets/img/AI_college_bg2.jpg" class="w-100 h-100" style="object-fit: cover;">
                        </div>
                        <div class="h-100 carousel-item">
                            <img src="/static/assets/img/AI_college_bg3.jpg" class="w-100 h-100" style="object-fit: cover;">
                        </div>
                   </div>
                    <a class="carousel-control-prev" href="#style1" role="button" data-slide="prev">
                           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                           <span class="sr-only">Previous</span>
                   </a>
                   <a class="carousel-control-next" href="#style1" role="button" data-slide="next">
                           <span class="carousel-control-next-icon" aria-hidden="true"></span>
                           <span class="sr-only">Next</span>
                   </a> 
               </div>
            </div>
        </div>

    </div>


    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src={% static "assets/js/libs/jquery-3.1.1.min.js" %}></script>
    <script src={% static "bootstrap/js/popper.min.js" %}></script>
    <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>

    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src={% static "assets/js/authentication/form-1.js" %}></script>
</body>

</html>
