{% extends "base.html" %}

{% load static %}


{% block mainpage %}
<style>
select[readonly] {
    background: #eee; /*Simular campo inativo - Sugestão @GabrielRodrigues*/
    pointer-events: none;
    touch-action: none;
}
</style>
<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">

    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link rel="stylesheet" type="text/css" href="{% static "plugins/dropify/dropify.min.css" %}">
    <link href="{% static "assets/css/users/account-setting.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "assets/css/select2/select2.min.css" %}" rel="stylesheet" />
    <!--  END CUSTOM STYLE FILE  -->
    
        <div class="container">
            {% if html_display.warn_code == 2 %}
            <div class="alert alert-success text-center">{{html_display.warn_message}}</div>
            {% elif html_display.warn_code == 1 %}
            <div class="alert alert-warning text-center">{{html_display.warn_message}}</div>
            {% endif %}
            <div class="row layout-top-spacing">

                <div class="col-lg-12 col-sm-12 col-12 layout-spacing">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <div class="statbox widget box box-shadow">

                                <!--  BEGIN HEADER AREA  -->
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                <br/><br/>
                                                <div align="center">
                                                    <h3>编辑我的学术地图</h3>
                                                </div>
                                                <br/>
                                                <div align="right">
                                                    <div class="custom-control custom-switch" style="margin-right:10px;">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="all_status_input" name="all_status_input"
                                                            onclick="change_all_status.call(this); this.blur();">
                                                        <input type="hidden" value="{{public_num}}">
                                                        <label class="custom-control-label" for="all_status_input"
                                                            id="checkbox2_all_status">
                                                            <font color="#5F747B" id="font_all_status">全部公开</font>
                                                        </label>
                                                    </div>
                                                </div>
                                                <br/>
                                        </div>
                                    </div>
                                </div>
                                <!--  END HEADER AREA  -->

                                <!--  BEGIN FORM AREA  -->
                                <div class="widget-content widget-content-area">
                                    <form role="form" method="POST" enctype="multipart/form-data">
                                        
                                        <div class="form-group card-label">
                                            <div style="display:flex; justify-content:space-between;">
                                                <label for="aintro">主修专业</label>
                                                <div align="right" class="custom-control custom-switch" style="display:inline-block;">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="major_status_input" name="major_status_input"
                                                        onclick="change_status.call(this);this.blur();">
                                                    <input type="hidden" value="{{major_status}}" id="major_status" name="major_status" class="form-control">
                                                    <label class="custom-control-label" for="major_status_input" id="checkbox2_major_status">
                                                        <font color={% if major_status == "公开" %} "#5F747B" {% else %} "#E1E1E1" {% endif %} 
                                                            id="font_major_status">{{major_status}}</font>
                                                    </label>
                                                </div>
                                            </div>
                                            <select class="majors" name="majors" value="" id="majors" multiple="multiple" 
                                                style="border-color:#C1C9D3; border-radius:4px; width:100%; height:45px;">
                                                {% for selected_major in selected_major_list %}
                                                    <option id="{{selected_major.id}}" value="{{selected_major.id}}" selected="selected">
                                                        {{selected_major.text}}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group card-label">
                                            <div style="display:flex; justify-content:space-between;">
                                                <label for="aintro">辅修专业</label>
                                                <div align="right" class="custom-control custom-switch" style="display:inline-block;">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="minor_status_input" name="minor_status_input"
                                                        onclick="change_status.call(this);this.blur();">
                                                    <input type="hidden" value="{{minor_status}}" id="minor_status" name="minor_status" class="form-control">
                                                    <label class="custom-control-label" for="minor_status_input" id="checkbox2_minor_status">
                                                        <font color={% if minor_status == "公开" %} "#5F747B" {% else %} "#E1E1E1" {% endif %} 
                                                            id="font_minor_status">{{minor_status}}</font>
                                                    </label>
                                                </div>
                                            </div>
                                            <select class="minors" name="minors" value="" id="minors" multiple="multiple" 
                                                style="border-color:#C1C9D3; border-radius:4px; width:100%; height:45px;">
                                                {% for selected_minor in selected_minor_list %}
                                                    <option id="{{selected_minor.id}}" value="{{selected_minor.id}}" selected="selected">
                                                        {{selected_minor.text}}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group card-label">
                                            <div style="display:flex; justify-content:space-between;">
                                                <label for="aintro">双学位专业</label>
                                                <div align="right" class="custom-control custom-switch" style="display:inline-block;">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="double_degree_status_input" name="double_degree_status_input"
                                                        onclick="change_status.call(this);this.blur();">
                                                    <input type="hidden" value="{{double_degree_status}}" id="double_degree_status" name="double_degree_status" class="form-control">
                                                    <label class="custom-control-label" for="double_degree_status_input" id="checkbox2_double_degree_status">
                                                        <font color={% if double_degree_status == "公开" %} "#5F747B" {% else %} "#E1E1E1" {% endif %} 
                                                            id="font_double_degree_status">{{double_degree_status}}</font>
                                                    </label>
                                                </div>
                                            </div>
                                            <select class="double_degrees" name="double_degrees" value="" id="double_degrees" multiple="multiple" 
                                                style="border-color:#C1C9D3; border-radius:4px; width:100%; height:45px;">
                                                {% for selected_double_degree in selected_double_degree_list %}
                                                    <option id="{{selected_double_degree.id}}" value="{{selected_double_degree.id}}" selected="selected">
                                                        {{selected_double_degree.text}}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group card-label">
                                            <div style="display:flex; justify-content:space-between;">
                                                <label for="aintro">参与项目</label>
                                                <div align="right" class="custom-control custom-switch" style="display:inline-block;">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="project_status_input" name="project_status_input"
                                                        onclick="change_status.call(this);this.blur();">
                                                    <input type="hidden" value="{{project_status}}" id="project_status" name="project_status" class="form-control">
                                                    <label class="custom-control-label" for="project_status_input" id="checkbox2_project_status">
                                                        <font color={% if project_status == "公开" %} "#5F747B" {% else %} "#E1E1E1" {% endif %} 
                                                            id="font_project_status">{{project_status}}</font>
                                                    </label>
                                                </div>
                                            </div>
                                            <select class="projects" name="projects" value="" id="projects" multiple="multiple" 
                                                style="border-color:#C1C9D3; border-radius:4px; width:100%; height:45px;">
                                                {% for selected_project in selected_project_list %}
                                                    <option id="{{selected_project.id}}" value="{{selected_project.id}}" selected="selected">
                                                        {{selected_project.text}}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group card-label">
                                            <div style="display:flex; justify-content:space-between;">
                                                <label for="aintro">本科生科研</label>
                                                <div align="right" class="custom-control custom-switch" style="display:inline-block;">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="scientific_research_status_input" name="scientific_research_status_input"
                                                        onclick="change_status.call(this);this.blur();">
                                                    <input type="hidden" value="{{scientific_research_status}}" id="scientific_research_status" name="scientific_research_status" class="form-control">
                                                    <label class="custom-control-label" for="scientific_research_status_input" id="checkbox2_scientific_research_status">
                                                        <font color={% if scientific_research_status == "公开" %} "#5F747B" {% else %} "#E1E1E1" {% endif %}
                                                            id="font_scientific_research_status">{{scientific_research_status}}</font>
                                                    </label>
                                                </div>
                                            </div>
                                            <input type="hidden" id="scientific_research" name="scientific_research" class="form-control" 
                                                value="{{scientific_research_input}}">
                                            <div class="input-group mb-3 justify-content-between">
                                                <button type="button" class="input-group-text col-3 col-md-1" id="add_button" 
                                                    style="display:block; font-size:2px; text-align:center;"
                                                    onclick="add_scientific_research.call(this)">添加项目</button>
                                                <div class="col-9 col-md-11" style="display:inline-block; border: 1px solid #C1C9D3; border-radius:4px; width:80%;">
                                                    {% spaceless %}
                                                    {% for scientific_research in scientific_research_list %}
                                                        <span class="badge badge-pill" style="overflow:hidden; text-overflow:ellipsis; 
                                                            white-space:normal; word-break:break-all; text-align:left; background-color:#eee; 
                                                            border-radius:4px; color:#666; margin:2px; margin-top:3px;" id="{{scientific_research}}__scientific_research">
                                                            <a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16" onclick="del_scientific_research.call(this)">
                                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                                            </svg></a>   {{scientific_research}}</span>
                                                    {% endfor %}
                                                    {% endspaceless %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group card-label">
                                            <div style="display:flex; justify-content:space-between;">
                                                <label for="aintro">挑战杯</label>
                                                <div align="right" class="custom-control custom-switch" style="display:inline-block;">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="challenge_cup_status_input" name="challenge_cup_status_input"
                                                        onclick="change_status.call(this);this.blur();">
                                                    <input type="hidden" value="{{challenge_cup_status}}" id="challenge_cup_status" name="challenge_cup_status" class="form-control">
                                                    <label class="custom-control-label" for="challenge_cup_status_input" id="checkbox2_challenge_cup_status">
                                                        <font color={% if challenge_cup_status == "公开" %} "#5F747B" {% else %} "#E1E1E1" {% endif %} 
                                                            id="font_challenge_cup_status">{{challenge_cup_status}}</font>
                                                    </label>
                                                </div>
                                            </div>
                                            <input type="hidden" id="challenge_cup" name="challenge_cup" class="form-control" 
                                                value="{{challenge_cup_input}}">
                                            <div class="input-group mb-3 justify-content-between">
                                                <button type="button" class="input-group-text col-3 col-md-1" id="add_button" 
                                                    style="display:block; font-size:2px; text-align:center;"
                                                    onclick="add_challenge_cup.call(this)">添加项目</button>
                                                <div class="col-9 col-md-11" style="display:inline-block; border: 1px solid #C1C9D3; border-radius:4px; width:80%;">
                                                    {% spaceless %}
                                                    {% for challenge_cup in challenge_cup_list %}
                                                        <span class="badge badge-pill" style="overflow:hidden; text-overflow:ellipsis; 
                                                            white-space:normal; word-break:break-all; text-align:left; background-color:#eee; 
                                                            border-radius:4px; color:#666; margin:2px; margin-top:3px;" id="{{challenge_cup}}__challenge_cup">
                                                            <a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16" onclick="del_challenge_cup.call(this)">
                                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                                            </svg></a>   {{challenge_cup}}</span>
                                                    {% endfor %}
                                                    {% endspaceless %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group card-label">
                                            <div style="display:flex; justify-content:space-between;">
                                                <label for="aintro">实习经历</label>
                                                <div align="right" class="custom-control custom-switch" style="display:inline-block;">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="internship_status_input" name="internship_status_input"
                                                        onclick="change_status.call(this);this.blur();">
                                                    <input type="hidden" value="{{internship_status}}" id="internship_status" name="internship_status" class="form-control">
                                                    <label class="custom-control-label" for="internship_status_input" id="checkbox2_internship_status">
                                                        <font color={% if internship_status == "公开" %} "#5F747B" {% else %} "#E1E1E1" {% endif %}
                                                            id="font_internship_status">{{internship_status}}</font>
                                                    </label>
                                                </div>
                                            </div>
                                            <input type="hidden" id="internship" name="internship" class="form-control" 
                                                value="{{internship_input}}">
                                            <div class="input-group mb-3 justify-content-between">
                                                <button type="button" class="input-group-text col-3 col-md-1" id="add_button" 
                                                    style="display:block; font-size:2px; text-align:center;"
                                                    onclick="add_internship.call(this)">添加项目</button>
                                                <div class="col-9 col-md-11" style="display:inline-block; border: 1px solid #C1C9D3; border-radius:4px; width:80%;">
                                                    {% spaceless %}
                                                    {% for internship in internship_list %}
                                                        <span class="badge badge-pill" style="overflow:hidden; text-overflow:ellipsis; 
                                                            white-space:normal; word-break:break-all; text-align:left; background-color:#eee; 
                                                            border-radius:4px; color:#666; margin:2px; margin-top:3px;" id="{{internship}}__internship">
                                                            <a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16" onclick="del_internship.call(this)">
                                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                                            </svg></a>   {{internship}}</span>
                                                    {% endfor %}
                                                    {% endspaceless %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group card-label">
                                            <div style="display:flex; justify-content:space-between;">
                                                <label for="aintro">科研方向</label>
                                                <div align="right" class="custom-control custom-switch" style="display:inline-block;">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="scientific_direction_status_input" name="scientific_direction_status_input"
                                                        onclick="change_status.call(this);this.blur();">
                                                    <input type="hidden" value="{{scientific_direction_status}}" id="scientific_direction_status" name="scientific_direction_status" class="form-control">
                                                    <label class="custom-control-label" for="scientific_direction_status_input" id="checkbox2_scientific_direction_status">
                                                        <font color={% if scientific_direction_status == "公开" %} "#5F747B" {% else %} "#E1E1E1" {% endif %} 
                                                            id="font_scientific_direction_status">{{scientific_direction_status}}</font>
                                                    </label>
                                                </div>
                                            </div>
                                            <input type="hidden" id="scientific_direction" name="scientific_direction" class="form-control" 
                                                value="{{scientific_direction_input}}">
                                            <div class="input-group mb-3 justify-content-between">
                                                <button type="button" class="input-group-text col-3 col-md-1" id="add_button" 
                                                    style="display:block; font-size:2px; text-align:center;"
                                                    onclick="add_scientific_direction.call(this)">添加项目</button>
                                                <div class="col-9 col-md-11" style="display:inline-block; border: 1px solid #C1C9D3; border-radius:4px; width:80%;">
                                                    {% spaceless %}
                                                    {% for scientific_direction in scientific_direction_list %}
                                                        <span class="badge badge-pill" style="overflow:hidden; text-overflow:ellipsis; 
                                                            white-space:normal; word-break:break-all; text-align:left; background-color:#eee; 
                                                            border-radius:4px; color:#666; margin:2px; margin-top:3px;" id="{{scientific_direction}}__scientific_direction">
                                                            <a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16" onclick="del_scientific_direction.call(this)">
                                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                                            </svg></a>   {{scientific_direction}}</span>
                                                    {% endfor %}
                                                    {% endspaceless %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group card-label">
                                            <div style="display:flex; justify-content:space-between;">
                                                <label for="aintro">毕业去向</label>
                                                <div align="right" class="custom-control custom-switch" style="display:inline-block;">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="graduation_status_input" name="graduation_status_input"
                                                        onclick="change_status.call(this);this.blur();">
                                                    <input type="hidden" value="{{graduation_status}}" id="graduation_status" name="graduation_status" class="form-control">
                                                    <label class="custom-control-label" for="graduation_status_input" id="checkbox2_graduation_status">
                                                        <font color={% if graduation_status == "公开" %} "#5F747B" {% else %} "#E1E1E1" {% endif %} 
                                                            id="font_graduation_status">{{graduation_status}}</font>
                                                    </label>
                                                </div>
                                            </div>
                                            <input type="hidden" id="graduation" name="graduation" class="form-control" 
                                                value="{{graduation_input}}">
                                            <div class="input-group mb-3 justify-content-between">
                                                <button type="button" class="input-group-text col-3 col-md-1" id="add_button" 
                                                    style="display:block; font-size:2px; text-align:center;"
                                                    onclick="add_graduation.call(this)">添加项目</button>
                                                <div class="col-9 col-md-11" style="display:inline-block; border: 1px solid #C1C9D3; border-radius:4px; width:80%;">
                                                    {% spaceless %}
                                                    {% for graduation in graduation_list %}
                                                        <span class="badge badge-pill" style="overflow:hidden; text-overflow:ellipsis; 
                                                            white-space:normal; word-break:break-all; text-align:left; background-color:#eee; 
                                                            border-radius:4px; color:#666; margin:2px; margin-top:3px;" id="{{graduation}}__graduation">
                                                            <a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16" onclick="del_graduation.call(this)">
                                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                                            </svg></a>   {{graduation}}</span>
                                                    {% endfor %}
                                                    {% endspaceless %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group card-label">
                                            <label for="aintro">是否允许他人提问
                                                <a data-toggle="tooltip" data-placement="bottom" title="他人将以实名或匿名的方式向你发起提问。">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                        class="bi bi-question-circle-fill" viewBox="0 0 22 22">
                                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                                                    </svg>
                                                </a>
                                            </label>
                                            <div class="custom-control custom-switch" style="display:inline-block; margin-left:20px;">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="accept_chat_input" name="accept_chat_input"
                                                    onclick="change_accept_chat.call(this);this.blur();">
                                                <input type="hidden" value="{{accept_chat}}" id="accept_chat" name="accept_chat" class="form-control">
                                                <label class="custom-control-label" for="accept_chat_input" id="checkbox2_accept_chat">
                                                </label>
                                            </div>
                                        </div>

                                        <br/>
                                        <div align="center">
                                            <button type="submit" class="btn btn-primary btn-lg mb-4 mr-2"
                                                value="modify" name="post_type" onclick="return confirm('确认修改学术地图？')">修改</button>
                                        </div>

                                    </form>
                                </div>
                                <!--  END FORM AREA  -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</div>
<!--  END CONTENT AREA  -->
{% endblock %}


{% block add_js_file %}
    <script src={% static "plugins/dropify/dropify.min.js" %}></script>
    <script src={% static "assets/js/users/account-settings.js" %}></script>
    <script src={% static "assets/js/select2/select2.min.js" %}></script>
    <script>
        function matchCustom(params, data) {
            // If there are no search terms, return all of the data
            if ($.trim(params.term) === '') {
                return data;
            }
            // Do not display the item if there is no 'text' property
            if (typeof data.text === 'undefined') {
                return null;
            }
            // `params.term` should be the term that is used for searching
            // `data.text` is the text that is displayed for the data object
            if (data.text.indexOf(params.term) > -1) {
                return data;
                // You can return modified objects from here
                // This includes matching the `children` how you want in nested data sets
                // var modifiedData = $.extend({}, data, true);
                // modifiedData.text += ' (matched)';
                //return modifiedData;
            }
            // Return `null` if the term should not be displayed
            return null;
        }

        let major_data = {{major_list|safe}};
        let minor_data = {{minor_list|safe}};
        let double_degree_data = {{double_degree_list|safe}};
        let project_data = {{project_list|safe}};
        const MAX_LENGTH = 4000;

        $(document).ready( function () {
            $('.majors').select2({
                theme: "classic",
                placeholder: "根据专业名称搜索",
                allowClear: true,
                data: major_data,
                matcher: matchCustom,
            });
            $('.minors').select2({
                theme: "classic",
                placeholder: "根据专业名称搜索",
                allowClear: true,
                data: minor_data,
                matcher: matchCustom,
            });
            $('.double_degrees').select2({
                theme: "classic",
                placeholder: "根据专业名称搜索",
                allowClear: true,
                data: double_degree_data,
                matcher: matchCustom,
            });
            $('.projects').select2({
                theme: "classic",
                placeholder: "根据项目名称搜索",
                allowClear: true,
                data: project_data,
                matcher: matchCustom,
            }); 
        });

        //设置所有checkbox的初始状态
        $(document).ready( function () {
            $('#all_status_input').prop("checked", "{{all_status}}" == "公开");
            $('#major_status_input').prop("checked", "{{major_status}}" == "公开");
            $('#minor_status_input').prop("checked", "{{minor_status}}" == "公开");
            $('#double_degree_status_input').prop("checked", "{{double_degree_status}}" == "公开");
            $('#project_status_input').prop("checked", "{{project_status}}" == "公开");
            $('#scientific_research_status_input').prop(
                "checked", "{{scientific_research_status}}" == "公开"
            );
            $('#challenge_cup_status_input').prop("checked", "{{challenge_cup_status}}" == "公开");
            $('#internship_status_input').prop("checked", "{{internship_status}}" == "公开");
            $('#scientific_direction_status_input').prop(
                "checked", "{{scientific_direction_status}}" == "公开"
            );
            $('#graduation_status_input').prop("checked", "{{graduation_status}}" == "公开");
            $('#accept_chat_input').prop("checked", "{{accept_chat}}" == "True");
        });

        function del_scientific_research() {
            deleting_span = this.parentNode.parentNode;
            remove_content = deleting_span.textContent.slice(3) + "(END OF AN ENTRY)";
            display_div = deleting_span.parentNode;
            hidden_input = display_div.parentNode.previousElementSibling;
            hidden_input.value = hidden_input.value.replace(remove_content, "");
            display_div.removeChild(deleting_span);
        }
        
        function add_scientific_research() {
            var item = prompt("在下面填写科研经历：");
            if (item.length > MAX_LENGTH) 
                return alert("您填写的科研经历太长了！请填写一条更简短的科研经历或者分条编辑~");
            if (item) {
                const hidden_input = this.parentNode.previousElementSibling;
                const sep_str = "(END OF AN ENTRY)";
                //先判断有没有重复填写
                if (hidden_input.value.indexOf(sep_str + item + sep_str) > -1) {
                    return alert("填写内容不能和已有的科研经历相同！");
                } else if (hidden_input.value.indexOf(item + sep_str) == 0) {
                    return alert("填写内容不能和已有的科研经历相同！");
                }
                //没有重复填写，向hidden_input写内容
                hidden_input.value += item + sep_str;
                display_div = this.nextElementSibling;
    
                display_div.innerHTML += '<span class="badge badge-pill" ' 
                    + 'style="overflow:hidden; text-overflow:ellipsis; white-space:normal; word-break:break-all; ' 
                    + 'text-align:left; background-color:#eee; border-radius:4px; color:#666; margin:2px; margin-top:3px;" ' 
                    + 'id="' + item + '__scientific_research"><a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" '
                    + 'class="bi bi-x-circle-fill" viewBox="0 0 16 16" onclick="del_scientific_research.call(this)">' 
                    + '<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg></a>   ' 
                    + item + '</span>';
            
            } else alert("填写内容不能为空！");
        }

        function del_challenge_cup() {
            deleting_span = this.parentNode.parentNode;
            remove_content = deleting_span.textContent.slice(3) + "(END OF AN ENTRY)";
            display_div = deleting_span.parentNode;
            hidden_input = display_div.parentNode.previousElementSibling;
            hidden_input.value = hidden_input.value.replace(remove_content, "");
            display_div.removeChild(deleting_span);
        }
        
        function add_challenge_cup() {
            var item = prompt("在下面填写挑战杯经历：");
            if (item.length > MAX_LENGTH) 
                return alert("您填写的挑战杯经历太长了！请填写一条更简短的挑战杯经历或者分条编辑~");
            if (item) {
                const hidden_input = this.parentNode.previousElementSibling;
                const sep_str = "(END OF AN ENTRY)";
                //先判断有没有重复填写
                if (hidden_input.value.indexOf(sep_str + item + sep_str) > -1) {
                    return alert("填写内容不能和已有的挑战杯经历相同！");
                } else if (hidden_input.value.indexOf(item + sep_str) == 0) {
                    return alert("填写内容不能和已有的挑战杯经历相同！");
                }
                //没有重复填写，向hidden_input写内容
                hidden_input.value += item + sep_str;
                display_div = this.nextElementSibling;
    
                display_div.innerHTML += '<span class="badge badge-pill" ' 
                    + 'style="overflow:hidden; text-overflow:ellipsis; white-space:normal; word-break:break-all; ' 
                    + 'text-align:left; background-color:#eee; border-radius:4px; color:#666; margin:2px; margin-top:3px;" ' 
                    + 'id="' + item + '__challenge_cup"><a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" '
                    + 'class="bi bi-x-circle-fill" viewBox="0 0 16 16" onclick="del_challenge_cup.call(this)">' 
                    + '<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg></a>   ' 
                    + item + '</span>';
            
            } else alert("填写内容不能为空！");
        }

        function del_internship() {
            deleting_span = this.parentNode.parentNode;
            remove_content = deleting_span.textContent.slice(3) + "(END OF AN ENTRY)";
            display_div = deleting_span.parentNode;
            hidden_input = display_div.parentNode.previousElementSibling;
            hidden_input.value = hidden_input.value.replace(remove_content, "");
            display_div.removeChild(deleting_span);
        }
        
        function add_internship() {
            var item = prompt("在下面填写实习经历：");
            if (item.length > MAX_LENGTH) 
                return alert("您填写的实习经历太长了！请填写一条更简短的实习经历或者分条编辑~");
            if (item) {
                const hidden_input = this.parentNode.previousElementSibling;
                const sep_str = "(END OF AN ENTRY)";
                //先判断有没有重复填写
                if (hidden_input.value.indexOf(sep_str + item + sep_str) > -1) {
                    return alert("填写内容不能和已有的实习经历相同！");
                } else if (hidden_input.value.indexOf(item + sep_str) == 0) {
                    return alert("填写内容不能和已有的实习经历相同！");
                }
                //没有重复填写，向hidden_input写内容
                hidden_input.value += item + sep_str;
                display_div = this.nextElementSibling;
    
                display_div.innerHTML += '<span class="badge badge-pill" ' 
                    + 'style="overflow:hidden; text-overflow:ellipsis; white-space:normal; word-break:break-all; ' 
                    + 'text-align:left; background-color:#eee; border-radius:4px; color:#666; margin:2px; margin-top:3px;" ' 
                    + 'id="' + item + '__internship"><a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" '
                    + 'class="bi bi-x-circle-fill" viewBox="0 0 16 16" onclick="del_internship.call(this)">' 
                    + '<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg></a>   ' 
                    + item + '</span>';
            
            } else alert("填写内容不能为空！");
        }

        function del_scientific_direction() {
            deleting_span = this.parentNode.parentNode;
            remove_content = deleting_span.textContent.slice(3) + "(END OF AN ENTRY)";
            display_div = deleting_span.parentNode;
            hidden_input = display_div.parentNode.previousElementSibling;
            hidden_input.value = hidden_input.value.replace(remove_content, "");
            display_div.removeChild(deleting_span);
        }
        
        function add_scientific_direction() {
            var item = prompt("在下面填写科研方向：");
            if (item.length > MAX_LENGTH) 
                return alert("您填写的科研方向太长了！请填写一条更简短的科研方向或者分条编辑~");
            if (item) {
                const hidden_input = this.parentNode.previousElementSibling;
                const sep_str = "(END OF AN ENTRY)";
                //先判断有没有重复填写
                if (hidden_input.value.indexOf(sep_str + item + sep_str) > -1) {
                    return alert("填写内容不能和已有的科研方向相同！");
                } else if (hidden_input.value.indexOf(item + sep_str) == 0) {
                    return alert("填写内容不能和已有的科研方向相同！");
                }
                //没有重复填写，向hidden_input写内容
                hidden_input.value += item + sep_str;
                display_div = this.nextElementSibling;
    
                display_div.innerHTML += '<span class="badge badge-pill" ' 
                    + 'style="overflow:hidden; text-overflow:ellipsis; white-space:normal; word-break:break-all; ' 
                    + 'text-align:left; background-color:#eee; border-radius:4px; color:#666; margin:2px; margin-top:3px;" ' 
                    + 'id="' + item + '__scientific_direction"><a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" '
                    + 'class="bi bi-x-circle-fill" viewBox="0 0 16 16" onclick="del_scientific_direction.call(this)">' 
                    + '<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg></a>   ' 
                    + item + '</span>';
            
            } else alert("填写内容不能为空！");
        }

        function del_graduation() {
            deleting_span = this.parentNode.parentNode;
            remove_content = deleting_span.textContent.slice(3) + "(END OF AN ENTRY)";
            display_div = deleting_span.parentNode;
            hidden_input = display_div.parentNode.previousElementSibling;
            hidden_input.value = hidden_input.value.replace(remove_content, "");
            display_div.removeChild(deleting_span);
        }
        
        function add_graduation() {
            var item = prompt("在下面填写毕业去向：");
            if (item.length > MAX_LENGTH) 
                return alert("您填写的毕业去向太长了！请填写一条更简短的毕业去向或者分条编辑~");
            if (item) {
                const hidden_input = this.parentNode.previousElementSibling;
                const sep_str = "(END OF AN ENTRY)";
                //先判断有没有重复填写
                if (hidden_input.value.indexOf(sep_str + item + sep_str) > -1) {
                    return alert("填写内容不能和已有的毕业去向相同！");
                } else if (hidden_input.value.indexOf(item + sep_str) == 0) {
                    return alert("填写内容不能和已有的毕业去向相同！");
                }
                //没有重复填写，向hidden_input写内容
                hidden_input.value += item + sep_str;
                display_div = this.nextElementSibling;
    
                display_div.innerHTML += '<span class="badge badge-pill" ' 
                    + 'style="overflow:hidden; text-overflow:ellipsis; white-space:normal; word-break:break-all; ' 
                    + 'text-align:left; background-color:#eee; border-radius:4px; color:#666; margin:2px; margin-top:3px;" ' 
                    + 'id="' + item + '__graduation"><a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" '
                    + 'class="bi bi-x-circle-fill" viewBox="0 0 16 16" onclick="del_graduation.call(this)">' 
                    + '<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg></a>   ' 
                    + item + '</span>';
            
            } else alert("填写内容不能为空！");
        }

        function change_all_status(){
            const checkboxes = document.getElementsByClassName('custom-control-input');
            const all_status_hidden = checkboxes[0].nextElementSibling;
            if (!checkboxes[0].checked) {
                all_status_hidden.value = "0";
                for (var i = 1; i <= {{total_num}}; i += 1) {
                    const checkbox = checkboxes[i];
                    if (checkbox.checked) {
                        checkbox.checked = false;
                        const status_font = checkbox.nextElementSibling.nextElementSibling.childNodes[1]; 
                        const status_hidden = checkbox.nextElementSibling;
                        status_font.color = "#E1E1E1";      
                        status_font.innerHTML = "私密";   
                        status_hidden.value = "私密";
                    }
                }
            } else {
                all_status_hidden.value = "{{total_num}}";
                for (var i = 1; i <= {{total_num}}; i += 1) {
                    const checkbox = checkboxes[i];
                    if (!checkbox.checked) {
                        checkbox.checked = true;
                        const status_font = checkbox.nextElementSibling.nextElementSibling.childNodes[1]; 
                        const status_hidden = checkbox.nextElementSibling;
                        status_font.color = "#5F747B";      
                        status_font.innerHTML = "公开";   
                        status_hidden.value = "公开";
                    }
                }
            }
        }

        function change_status() {
            const status_font = this.nextElementSibling.nextElementSibling.childNodes[1]; 
            const status_hidden = this.nextElementSibling;
            const all_status_input = document.getElementById("all_status_input");
            const all_status_hidden = all_status_input.nextElementSibling;
            if (!this.checked) {
                status_font.color = "#E1E1E1";      
                status_font.innerHTML = "私密";   
                status_hidden.value = "私密";
                all_status_hidden.value = String(Number(all_status_hidden.value) - 1);
                if (all_status_input.checked)
                    all_status_input.checked = false;
            } else {
                status_font.color = "#5F747B";      
                status_font.innerHTML = "公开";   
                status_hidden.value = "公开";
                all_status_hidden.value = String(Number(all_status_hidden.value) + 1);
                if (all_status_hidden.value == "{{total_num}}")
                    all_status_input.checked = true;
            }
        }

        function change_accept_chat () {
            const accept_hidden = this.nextElementSibling;
            if (!this.checked) accept_hidden.value = "False";
            else accept_hidden.value = "True";
        }

    </script>
{% endblock %}
