
{% extends "base.html" %}

{% load static %}


{% block mainpage %}
<style>
    select[readonly] {
  background: #eee; /*Simular campo inativo - Sugestão @GabrielRodrigues*/
  pointer-events: none;
  touch-action: none;
}
</style>
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <!--  BEGIN CUSTOM STYLE FILE  -->
        <div class="container">
            <div class="container">
                {% if html_display.warn_code == 2 %}
                <div class="alert alert-success  text-center">{{html_display.warn_message}}</div>
                {% elif html_display.warn_code == 1%}
                <div class="alert alert-warning  text-center">{{html_display.warn_message}}</div>
                {% endif %}
                <div class="row layout-top-spacing">

                    <div class="col-lg-12 col-sm-12 col-12 layout-spacing">
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div class="statbox widget box box-shadow">

                                    <!--  BEGIN HEADER AREA  -->
                                    <div class="widget-header">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                    <br>
                                                    <br>
                                                    <div align="center">
                                                    <h3>人事申请[{% if not is_new_application %}{{application.get_status_display}}{% else %}新建中{% endif %}]</h3>
                                                    </div>
                                                <br>
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <h4>向{{applied_org.oname}}申请</h4>
                                                        </div>
                                                    <div align="right">
                                                            <h4>
                                                            <img src={{ app_avatar_path }} width="24" height="24" alt="avatar">
                                                            <a href='/stuinfo/{{apply_person.name}}'>
                                                                <u>{{apply_person.name}}</u></a>
                                                            </h4>
                                                    </div>
                                                    </div>


                                            </div>
                                        </div>
                                    </div>
                                    <!--  BEGIN CONTENT AREA  -->
                                    <div class="widget-content widget-content-area">
                                        <form role="form" method="POST" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label for="aintro">人事变动类型</label>
                                                <select class="form-control selectpicker" data-live-search = "true" id="apply_type" name="apply_type" onchange = "type_change()" {%if not allow_form_edit %} readonly="readonly"{%endif%}>
                                                    {% for key, value in apply_type_list.items %}
                                                    {% if not value.disabled %}
                                                    <option value="{{value.display}}" {% if value.selected %} selected {% endif %} >
                                                        {{value.display}}
                                                    </option>
                                                    {% endif %}
                                                    {% endfor %}
                                                    <!--
                                                    <option  value="JOIN" {% if html.apply_type == "JOIN" %} selected {% endif %}>加入组织</option>
                                                    <option  value="TRANSFER" {% if html.apply_type == "TRANSFER" %} selected {% endif %}>修改职位</option>
                                                    <option  value="WITHDRAW" {% if html.apply_type == "WITHDRAW" %} selected {% endif %}>退出组织</option>
                                                    -->
                                                </select>
                                            </div>
                                            <div class="form-group" id="position_group">
                                                <label for="aintro">申请职位</label>
                                                <select class="form-control selectpicker" data-live-search = "true" id="apply_pos" name="apply_pos" {%if not allow_form_edit %} readonly="readonly"{%endif%}>
                                                    {% for value in position_name_list %}
                                                    {% if not value.disabled %}
                                                    <option value="{{value.display}}" {% if value.selected %} selected {% endif %} >
                                                        {{value.display}}
                                                    </option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                                <!--<textarea name="apply_pos" class="form-control" aria-label="Default" placeholder=
                                                        "申请职位不能为空"{%if edit == 0 and present == 1 %} disabled="disabled" {%endif%}
                                                >{% if edit %}{{html_display.apply_pos}}{% endif %}</textarea>
                                                -->
                                            </div>

                                            <div class="form-group">
                                                <label for="aintro">申请理由或陈述</label>
                                                <textarea name="apply_reason" class="form-control" rows="7" placeholder=
                                                        "解释你为什么申请加入，或陈述你的个人情况。发起申请后可以在评论区继续补充或上传图片。"{%if not allow_form_edit %} readonly="readonly"{%endif%}
                                                >{% if not is_new_application %}{{application.reason}}{% endif %}</textarea>
                                            </div>
                                            {%if allow_form_edit %}
                                                {% if not is_new_application %}
                                                    <div align="center">
                                                        
                                                                <button type="submit" class="btn btn-primary btn-lg mb-4 mr-2"
                                                            value="modify_submit" name="post_type">修改申请</button>
                                                            
                                                                <button type="submit" class="btn btn-lg mb-4 mr-2"
                                                            value="cancel_submit" name="post_type">取消申请</button>
                                                            
                                                    </div>
                                                {%else%}
                                                <button type="submit" class="btn btn-primary btn-block mb-4 mr-2"
                                                        value="new_submit" name="post_type">
                                                    提交申请
                                                </button>
                                                {% endif %}
                                            {% elif allow_audit_submit %}
                                                <div align="center">
                                                    <table>
                                                        <tr>
                                                            <button type="submit" class="btn btn-primary btn-lg mb-4 mr-2"
                                                        value="accept_submit" name="post_type">通过申请</button>
                                                        </tr>
                                                        <tr>
                                                            <button type="submit" class="btn btn-lg mb-4 mr-2"
                                                        value="refuse_submit" name="post_type">拒绝申请</button>
                                                        </tr>
                                                    </table>
                                                </div>
                                            {% endif %}

                                            
                                        </form>
                                        <br>
                                        <hr>
                                    {% include 'comment.html' %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--  END CONTENT AREA  -->


{% endblock %}

{% block add_js_file %}
<script>
    function type_change() {
        //输出选中状态
        var selecter = document.getElementById('apply_type');
        if ("退出组织" === selecter.value) {
            document.getElementById('position_group').hidden = true;
        } else {
            document.getElementById('position_group').hidden = false;
            // document.getElementById('maxpeople').placeholder = "";
        }
    };
</script>

{% endblock %}