<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title> 修改密码 | 元培成长档案 </title>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet" type="text/css" />
    <link href={% static "assets/css/plugins.css" rel="stylesheet" %} type="text/css" />
    <link href={% static "assets/css/authentication/form-2.css" %} rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href={% static "assets/css/forms/theme-checkbox-radio.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "assets/css/forms/switches.css" %}>
</head>
{% if isFirst %}
<script>
    alert('初次登录请修改密码！')
</script>
{% endif %}

<body class="form no-image-content">


    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">
                        <div class="d-flex user-meta">
                            <img src={{ava_path}} class="usr-profile" alt="avatar">
                            <div class="">
                                <p class="">修改密码</p>
                            </div>
                        </div>

                        <form class="text-left" method="POST">
                            <div class="form">

                                <div id="pw-field" class="field-wrapper input mb-2">
                                    <div class="d-flex justify-content-between">
                                        <label>原密码</label>
                                        <a href="/logout/" class="forgot-pass-link">Logout</a>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-lock">
                                        <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                        <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                    </svg>
                                    <input id="pw" name="pw" type="password" class="form-control"
                                        placeholder="Password">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" id="toggle-password_pw" class="feather feather-eye">
                                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                        <circle cx="12" cy="12" r="3"></circle>
                                    </svg>
                                    <!--modified by wxy-->
                                </div>



                                <div class="form">
                                    <div id="new-field" class="field-wrapper input mb-2">
                                        <div class="d-flex justify-content-between">
                                            <label for="new">新密码</label>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock">
                                            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                        </svg>
                                        <input id="new" name="new" type="password" class="form-control"
                                            placeholder="Password">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" id="toggle-password_new"
                                            class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                            <circle cx="12" cy="12" r="3"></circle>
                                        </svg>
                                        <!--modified by wxy-->
                                    </div>

                                    <div class="d-sm-flex justify-content-between">
                                        <div class="field-wrapper">
                                            <button type="submit" class="btn btn-primary" value=""
                                                id="change_pw">Change</button>
                                            <!--modified by wxy-->
                                        </div>

                                    </div>

                                </div>

                                {% if err_code != 0 %}
                                <div class="alert alert-warning  text-center">{{err_message}}</div>
                                {% endif %}
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src={% static "assets/js/libs/jquery-3.1.1.min.js" %}></script>
    <script src={% static "bootstrap/js/popper.min.js" %}></script>
    <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>

    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src={% static "assets/js/authentication/form-2.js" %}></script>

    <!--added by wxy-->

</body>

</html>