{% extends "base.html" %}


{% block mainpage %}


    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        {% if html_display.warn_code == 1 %}
        <div class="alert alert-warning  text-center">{{ html_display.warn_message }}</div>
        {% elif html_display.warn_code == 2 %}
        <div class="alert alert-success  text-center">{{ html_display.warn_message }}</div>
        {% endif %}
        <div class="container">
            <div class="layout-top-spacing">

                <div class="row">
                    <div class="col-0 col-xl-2 col-lg-2 col-md-2"></div>
                    <div class="col-12 col-xl-8 col-lg-8 col-md-8 layout-top-spacing">
                        <div class="card mx-auto">
                            <img class="card-img-top" src="/static/assets/img/YQPointCard.jpeg" alt="Card image" style="width:100%">
                            <div class="card-body">
                                {% if user_type == "Person" %}
                                <span>当前元气值：{{me.YQPoint}}</span>
                                {% else %}
                                <div class="row">
                                    <div class="col-6">
                                        <div class="">
                                            <span class="float-left" >当前元气值：</span>
                                            <span class="float-right" >{{me.YQPoint}}</span>
                                            <br/>
                                        </div>
                                        <div class="">
                                            <span class="float-left" >待收入元气值：</span>
                                            <span class="float-right" >{{amount.recv}}</span>
                                            <br/>
                                        </div>
                                        <div class="">
                                            <span class="float-left" >待支出元气值：</span>
                                            <span class="float-right" >{{amount.send}}</span>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                     </div>
                 </div>

                <div class="col-lg-12 col-12 layout-top-spacing">
                    <div class="bio layout-spacing ">
                        <div class="widget-content widget-content-area">
                            <h3>既存交易</h3>
                            <!--
                                    <ul class="nav nav-tabs nav-tabs-solid nav-justified">
                                        <li class="nav-item">
                                            <a class="nav-link " onclick="window.location='admin-index.html'"
                                                data-toggle="tab">未开始预约</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#solid-justified-tab2"
                                                data-toggle="tab">过去一周</a>
                                        </li>
                                    </ul>
                                    -->
                            <ul id="myTab" class="nav nav-tabs nav-tabs-solid nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#issued" data-toggle="tab">
                                        <h5>已处理</h5>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#unissued" data-toggle="tab">
                                        <h5>待处理</h5>
                                    </a>
                                </li>

                            </ul>

                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade in active show" id="issued">
                                    {% if issued_list|length == 0 %}
                                    <br />
                                    <p></p>
                                    <p style="text-align: center;">没有已处理的转账记录.</p>
                                    <br />
                                    {% else %}

                                    <div class="bio-skill-box">
                                        <div class="row">
                                            {% for record in issued_list %}
                                            <div class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 ">

                                                <div class=" b-skills">


                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <h5>
                                                                {{record.obj_direct}} <a
                                                                    href='{{record.obj_url}}'><u>{{record.obj}}</u></a>
                                                            </h5>
                                                        </div>
                                                        <div>
                                                            <h5>
                                                                <i class="	fa fa-rmb"></i>{{record.amount}}
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <p style="color: rgb(66, 67, 68);"><i
                                                                    class="fa fa-calendar-o"></i>
                                                                {{record.start_time}}发起</p>
                                                        </div>
                                                        <div>
                                                            <p style="color: rgb(66, 67, 68);">
                                                                {{record.finish_time}}处理</p>
                                                        </div>

                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <p style="color: rgb(66, 67, 68);"><i
                                                                    class="fa fa-envelope-o"></i>
                                                                {{record.message}}</p>
                                                        </div>
                                                        <div>
                                                            <p style="color: rgb(66, 67, 68);
                                                                    margin-left: 8px;
                                                                    display:block;
                                                                    white-space:nowrap; 
                                                                    overflow:hidden; ">
                                                                {{record.status}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="tab-pane fade " id="unissued">
                                    {% if to_list|length == 0 %}
                                    <br />
                                    <p></p>
                                    <p style="text-align: center;">没有待处理的转账记录.</p>
                                    <br />
                                    {% else %}
                                    <div class="bio-skill-box">
                                        <div class="row">
                                        {% for record in to_list %}
                                            <div class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 ">
                                                <div class=" b-skills">
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <h5>
                                                                {{record.obj_direct}} <a
                                                                    href='{{record.obj_url}}'><u>{{record.obj}}</u></a>
                                                            </h5>
                                                        </div>
                                                        <div>
                                                            <h5>
                                                                <i class="	fa fa-rmb"></i>
                                                                {{record.amount}}
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <p style="color: rgb(66, 67, 68);"><i
                                                                    class="fa fa-calendar-o"></i>
                                                                {{record.start_time}}</p>
                                                        </div>
                                                        <div>
                                                            <p style="color: rgb(66, 67, 68);">{{record.status}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    {% if record.obj_direct == 'From' %}
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <p style="color: rgb(66, 67, 68);"><i
                                                                    class="fa fa-envelope-o"></i>
                                                                {{record.message}}</p>
                                                        </div>
                                                        <form method="POST">
                                                            <div style="margin-left: 8px; ">
                                                                <div class="btn-group btn-group-sm">
                                                                    <button type="button"
                                                                        class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                                                        data-toggle="dropdown" style="display:block;
                                                                    white-space:nowrap; 
                                                                    overflow:hidden; ">
                                                                        <span class="">操作</span>
                                                                    </button>
                                                                    <div class="dropdown-menu">
                                                                        <button class="dropdown-item" type="submit"
                                                                            name='post_button'
                                                                            value="{{record.id}}+accept"
                                                                            onclick="return confirm('确定接收来自{{record.obj}}的转账?')">接收</button>
                                                                        <button class="dropdown-item" type="submit"
                                                                            name='post_button'
                                                                            value="{{record.id}}+reject"
                                                                            onclick="return confirm('确定拒绝来自{{record.obj}}的转账?')">拒绝</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    {% else %}
                                                    <p style="color: rgb(66, 67, 68);"><i
                                                            class="fa fa-envelope-o"></i>
                                                        {{record.message}}</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    {% endif %}
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--  END CONTENT AREA  -->


<script>
    $('.nav-tabs').on('shown.bs.tab', 'a', function (e) {
        if (e.relatedTarget) {
            $(e.relatedTarget).removeClass('active');
        }
    })
</script>

<script>
    $('.table').bootstrapTable({
        onLoadSuccess: function () {
            $('.table tr td').each(function () {

                $(this).attr("title", $(this).text());
                $(this).css("cursor", 'pointer');
            });

        }
    })
</script>
{% endblock %}
