{% comment %}
# XXX: User {{ .is_org }}
{% endcomment %}
{% extends "base.html" %}

{% block mainpage %}

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        {% if html_display.warn_code == 1 %}
        <div class="alert alert-warning  text-center">{{ html_display.warn_message }}</div>
        {% elif html_display.warn_code == 2 %}
        <div class="alert alert-success  text-center">{{ html_display.warn_message }}</div>
        {% endif %}
        <div class="container">
            <div class="layout-top-spacing">

                <div class="col-12 row mx-0">
                    <div class="col-0 col-xl-2 col-lg-2 col-md-2"></div>
                    <div class="col-sm-12 col-md-8 layout-top-spacing px-0">
                        <div class="card mx-auto">
                            <img class="card-img-top" src="/static/assets/img/YQPointCard.jpeg" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <b class="d-flex">
                                    <span class="flex">当前元气值</span>
                                    <span class="flex ml-auto">{{html_display.YQPoint}}</span>
                                    <br/>
                                </b>
                                {% if user.is_org %}
                                <b class="d-flex">
                                    <span class="flex">待收入元气值</span>
                                    <span class="flex ml-auto">{{amount.recv}}</span>
                                    <br/>
                                </b>
                                <b class="d-flex">
                                    <span class="flex">待支出元气值</span>
                                    <span class="flex ml-auto">{{amount.send}}</span>
                                    <br/>
                                </b>
                                {% endif %}
                            </div>
                        </div>
                     </div>
                 </div>
                {% if bar_display.help_paragraphs %}
                    {% include 'help.html' %}
                {% endif %}
                <div class="col-12 layout-top-spacing">
                    <div class="bio layout-spacing ">
                        <div class="widget-content widget-content-area">
                            <h3>元气值记录</h3>

                            <ul id="myTab" class="nav nav-tabs nav-tabs-solid nav-justified">
                                
                                <li class="nav-item">
                                    <a class="nav-link active" href="#send" data-toggle="tab">
                                        <h5>支出</h5>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#received" data-toggle="tab">
                                        <h5>收入</h5>
                                    </a>
                                </li>
                            </ul>

                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade" id="received">
                                    {% if not received_set %}
                                    <br />
                                    <p></p>
                                    <p style="text-align: center;">没有收入记录.</p>
                                    <br />
                                    {% else %}

                                    <div class="bio-skill-box">
                                        <div class="row">
                                            {% for record in received_set %}
                                            <div class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 ">

                                                <div class=" b-skills">


                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <h5>
                                                                <i class="fa fa-bullhorn"></i> {{record.source}}
                                                            </h5>
                                                        </div>
                                                        <div>
                                                            <h5 style="color: rgb(27, 85, 226);
                                                                    margin-left: 8px;
                                                                    display:block;
                                                                    white-space:nowrap; 
                                                                    overflow:hidden; ">
                                                                元气值 +{{record.delta}}
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <p style="color: rgb(66, 67, 68);"><i
                                                                class="fa fa-calendar-o"></i>
                                                                {{record.time}}</p>
                                                         </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="tab-pane fade in active show" id="send">
                                    {% if not send_set %}
                                    <br />
                                    <p></p>
                                    <p style="text-align: center;">没有支出记录.</p>
                                    <br />
                                    {% else %}

                                    <div class="bio-skill-box">
                                        <div class="row">
                                            {% for record in send_set %}
                                            <div class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 ">

                                                <div class=" b-skills">
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <h5>
                                                                <i class="	fa fa-bullhorn"></i> {{record.source}}
                                                            </h5>
                                                        </div>
                                                        <div>
                                                            <h5 class="text-success" style="
                                                                    margin-left: 8px;
                                                                    display:block;
                                                                    white-space:nowrap; 
                                                                    overflow:hidden; ">
                                                                元气值 {{record.delta}} 
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <p style="color: rgb(66, 67, 68);"><i
                                                                class="fa fa-calendar-o"></i>
                                                                {{record.time}}</p>
                                                         </div>
                                                    </div>

                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--  END CONTENT AREA  -->


<script>
    $('.nav-tabs').on('shown.bs.tab', 'a', function (e) {
        if (e.relatedTarget) {
            $(e.relatedTarget).removeClass('active');
        }
    })
</script>

<script>
    $('.table').bootstrapTable({
        onLoadSuccess: function () {
            $('.table tr td').each(function () {

                $(this).attr("title", $(this).text());
                $(this).css("cursor", 'pointer');
            });

        }
    })
</script>
{% endblock %}
