{% extends "base.html" %}

{% block add_css_file %}

{% endblock %}


{% block mainpage %}


<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">
    {% if html_display.warn_code == 1 %}
    <div class="alert alert-warning  text-center">{{ html_display.warn_message }}</div>
    {% elif html_display.warn_code == 2 %}
    <div class="alert alert-success  text-center">{{ html_display.warn_message }}</div>
    {% endif %}
        
        <div class="container">
            
            <div class="row layout-top-spacing">
                {% if bar_display.help_paragraphs %}
                    {% include 'help.html' %}
                {% endif %}
                <div class="col-lg-12 col-12 layout-top-spacing">
                    <div class="bio layout-spacing ">
                        <div class="widget-content widget-content-area">
                            <div class="d-flex justify-content-between">
                            <h3>通知信箱</h3>
                            <div class="btn-group">
                                <div style="margin-left: 8px; ">
                                    <a data-toggle="dropdown">
                                        <h5><i class="fa fa-ellipsis-h"></i></h5>
                                    </a>
                                    <div class="dropdown-menu" style="max-width: 200%; max-height: 300%;">
                                         <button class="dropdown-item"
                                         onclick="if(confirm('你确定要将全部消息标为已读吗?')){location.href = '/notifications/?read_name=readall';}" >全部已读</button>
                                        <button class="dropdown-item"
                                         onclick="if(confirm('你确定删除所有消息吗?')){location.href = '/notifications/?read_name=deleteall';}" >全部删除</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            
                            <ul id="myTab" class="nav nav-tabs nav-tabs-solid nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#home" data-toggle="tab">
                                        <h5><i class="fa fa-envelope-o"></i> 待处理</h5>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#done" data-toggle="tab">
                                        <h5><i class="fa fa-envelope-o"></i> 已处理</h5>
                                    </a>
                                </li>

                            </ul>

                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade in active show" id="home">
                                    <div id="undone-empty" style="display: none; margin-top: 40px; margin-bottom: -40px;">
                                        <p style="text-align: center;">您的信箱很干净！没有要处理的信息。</p>
                                    </div>
                                    <div class="bio-skill-box">
                                        <div id="undone-list" class="row">
                                            {% for note in notes_list %}
                                            <div class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 " id="undone={{note.id}}" {% if not note.status == "待处理" %} hidden {%endif%}>

                                                <div class=" b-skills">


                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <h5>
                                                                {% if note.URL %}
                                                                <a href='{{note.URL}}' {% if note.type == "知晓类" %} onclick="read.call(this);this.blur();" {% endif %} id="{{note.id}}"><u>{{note.title}}</u></a><br />
                                                                {% else %}
                                                                <u style="text-decoration: none">{{note.title}}</u><br />
                                                                {% endif %}
                                                            </h5>
                                                        </div>
                                                        <div>
                                                            {% if note.type == "知晓类" %}
                                                            <h5>
                                                                <button class="btn btn-primary" type="submit"
                                                                    name='post_button' value="{{note.id}}"
                                                                    onclick="read.call(this);this.blur();" id="{{note.id}}">知道啦</button>
                                                            </h5>
                                                            {% else %}
                                                            <h5>
                                                                <a href="#" class="btn btn-primary" tabindex="-1"
                                                                    role="button"
                                                                    onclick="window.location='{{note.URL}}'">去处理</a>
                                                            </h5>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    
                                                    <p style="color: rgb(66, 67, 68);">
                                                        <i class="fa fa-address-book" style="width: 14px;"></i>
                                                        <span class="ml-1">来自&nbsp;<b>{{note.sender}}</b></span>
                                                    </p>

                                                    <p style="color: rgb(66, 67, 68);">
                                                        <i class="fa fa-bell" style="width: 14px;"></i>
                                                        <span class="ml-1">{{note.start_time}}发出</span>
                                                    </p>

                                                    <p style="color: rgb(66, 67, 68);">
                                                        <i class="fa fa-envelope" style="width: 14px;"></i>
                                                        <span class="ml-1">{{note.content|linebreaksbr}}</span>
                                                        <!-- <span class="ml-1">{{note.content}}</span> -->
                                                    </p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>

                                    </div>

                                </div>
                                <div class="tab-pane fade" id="done">
                                    <div id="done-empty" style="display: none; margin-top: 40px; margin-bottom: -40px;">
                                        <p style="text-align: center;">没有已处理的消息记录。</p>
                                    </div>
                                    <div class="bio-skill-box">
                                        <div id="done-list" class="row">
                                            {% for note in notes_list %}
                                            <div class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 " id="done={{note.id}}" {% if not note.status == "已处理" %} hidden {%endif%}>

                                                <div class=" b-skills">

                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <h5>
                                                                {% if note.URL %}
                                                                <a href='{{note.URL}}'><u>{{note.title}}</u></a>
                                                                {% else %}
                                                                <u style="text-decoration: none">{{note.title}}</u>
                                                                {% endif %}
                                                            </h5>
                                                        </div>
                                                        <div>
                                                            {% if note.type == "知晓类" %}
                                                            <div class="btn-group">
                                                                <div style="margin-left: 8px; ">
                                                                    <div class="btn-group">
                                                                        <button type="button"
                                                                            class="btn btn-light dropdown-toggle dropdown-toggle-split"
                                                                            data-toggle="dropdown" style="display:block;white-space:nowrap;overflow:hidden; ">
                                                                            操作
                                                                        </button>
                                                                        <div class="dropdown-menu">
                                                                            <button class="dropdown-item"
                                                                                type="submit" name='post_button'
                                                                                value="{{note.id}}" id="{{note.id}}" onclick="unread.call(this);this.blur();"
                                                                            >标记为未读</button>
                                                                            <button class="dropdown-item"
                                                                                type="submit" name='post_button' id="{{note.id}}"
                                                                                value="{{note.id}}+cancel" onclick="if(confirm('你确定要删除这条消息?')){cancel.call(this);this.blur();}">删除</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% else %}
                                                            <div class="btn-group">
                                                                <div style="margin-left: 8px; ">
                                                                    <div class="btn-group">
                                                                        <button type="button"
                                                                            class="btn btn-light dropdown-toggle dropdown-toggle-split"
                                                                            data-toggle="dropdown" style="display:block;white-space:nowrap;overflow:hidden; ">
                                                                            操作
                                                                        </button>
                                                                        <div class="dropdown-menu">
                                                                            <button class="dropdown-item"
                                                                                type="submit" name='post_button' id="{{note.id}}"
                                                                                value="{{note.id}}+cancel"
                                                                                onclick="if(confirm('你确定要删除这条消息?')){cancel.call(this);this.blur();}">删除</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                    <p style="color: rgb(66, 67, 68);">
                                                        <i class="fa fa-address-book" style="width: 14px;"></i>
                                                        <span class="ml-1">来自&nbsp;<b>{{note.sender}}</b></span>
                                                    </p>

                                                    <p style="color: rgb(66, 67, 68);">
                                                        <i class="fa fa-bell" style="width: 14px;"></i>
                                                        <span class="ml-1">{{note.start_time}}发出</span>
                                                    </p>

                                                    <p style="color: rgb(66, 67, 68);">
                                                        <i class="fa fa-eye" style="width: 14px;"></i>
                                                        <span class="ml-1">{{note.finish_time}}收到</span>
                                                    </p>

                                                    <p style="color: rgb(66, 67, 68);">
                                                        <i class="fa fa-envelope" style="width: 14px;"></i>
                                                        <span class="ml-1">{{note.content|linebreaksbr}}</span>
                                                        <!-- <span class="ml-1">{{note.content}}</span> -->
                                                    </p>
                                                </div>


                                            </div>
                                            {% endfor %}
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>

            </div>
            
        </div>
        
    
</div>
<!--  END CONTENT AREA  -->


<script>
    $('.nav-tabs').on('shown.bs.tab', 'a', function (e) {
        if (e.relatedTarget) {
            $(e.relatedTarget).removeClass('active');
        }
    })
    $('.table').bootstrapTable({
        onLoadSuccess: function () {
            $('.table tr td').each(function () {

                $(this).attr("title", $(this).text());
                $(this).css("cursor", 'pointer');
            });

        }
    })
</script>

<script>
    var mail_num = Number("{{bar_display.mail_num}}");
    function refresh() {
        document.querySelector(`#undone-empty`).style.display = (document.querySelector(`#undone-list`).querySelectorAll(`:scope > :not([hidden])`).length === 0) ? `block` : `none`;
        document.querySelector(`#done-empty`).style.display = (document.querySelector(`#done-list`).querySelectorAll(`:scope > :not([hidden])`).length === 0) ? `block` : `none`;
    }
    setTimeout(refresh, 0);
    async function read() {
        const success = await save_read.call(this,"read");
        if (success) {
            document.getElementById("undone="+String(this.id)).hidden = true;
            document.getElementById("done="+String(this.id)).hidden = false;
            document.getElementById("done-list").prepend(document.getElementById("done="+String(this.id)));
            document.getElementById("mail_num").innerHTML = String(Number(document.getElementById("mail_num").innerHTML) - 1);
            refresh();
        }
    }
    async function unread() {
        const success = await save_read.call(this,"read");
        if (success) {
            document.getElementById("done="+String(this.id)).hidden = true;
            document.getElementById("undone="+String(this.id)).hidden = false;
            document.getElementById("undone-list").prepend(document.getElementById("undone="+String(this.id)));
            document.getElementById("mail_num").innerHTML = String(Number(document.getElementById("mail_num").innerHTML) + 1);
            refresh();
        }
    }
    async function cancel() {
        const success = await save_read.call(this,"cancel");
        if (success) {
            document.getElementById("done="+String(this.id)).hidden = true;
        }
    }
    async function save_read(func) {
        const { success } = await fetch(`/notifications/`, {
            headers: { "Content-Type": `text/plain` },
            method: `POST`,
            body: JSON.stringify({ id: this.id, function: func}),
        })
            .then((res) => res.json())
            .catch(() => { success: false });
        return success;
    }

</script>
{% endblock %}
