{% extends "base.html" %}

{% block add_css_file %}

{% endblock %}


{% block mainpage %}


<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">
    {% if html_display.warn_code == 1 %}
    <div class="alert alert-warning  text-center">{{ html_display.warn_message }}</div>
    {% elif html_display.warn_code == 2 %}
    <div class="alert alert-success  text-center">{{ html_display.warn_message }}</div>
    {% endif %}
        
        <div class="container">
            
            <div class="row layout-top-spacing">
                {% if bar_display.help_paragraphs %}
                    {% include 'help.html' %}
                {% endif %}
                <div class="col-lg-12 col-12 layout-top-spacing">
                    <div class="bio layout-spacing ">
                        <div class="widget-content widget-content-area">
                            <h3>通知信箱</h3>
                            <!-- <p>欢迎来到你的通知信箱！这里汇集了您在<strong>Yuanpei Profile</strong>中「已处理」和「未处理」的事务通知~</p>
                            <p>对于「知晓类」通知，点击「知道了」按钮，就可以将通知放入「已处理」信箱中啦！当然，你也可以将已读消息设置为未读。</p>
                            <p>对于需要您手动处理的事务，您可以通过点击<u>标题链接</u>到达相应页面进行事务的处理，处理完毕后，该通知会自动进入「已处理」信箱！</p>
                            </br> -->
                            <ul id="myTab" class="nav nav-tabs nav-tabs-solid nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#home" data-toggle="tab">
                                        <h5><i class="fa fa-envelope-o"></i> 待处理</h5>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#done" data-toggle="tab">
                                        <h5><i class="fa fa-envelope-o"></i> 已处理</h5>
                                    </a>
                                </li>

                            </ul>

                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade in active show" id="home">
                                    {% if undone_list|length == 0 %}
                                    <br />
                                    <p></p>
                                    <p style="text-align: center;">您的信箱很干净！没有要处理的信息.</p>
                                    <br />
                                    {% else %}
                                    <div class="bio-skill-box">
                                        <div class="row">
                                            {% for note in undone_list %}
                                            <div class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 " id="undone={{note.id}}" {% if not note.status == "待处理" %} hidden {%endif%}>

                                                <div class=" b-skills">


                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <h5>
                                                                {%if note.URL %}
                                                                <a href={{note.URL}}><u>{{note.title}}</u></a><br />
                                                                {%else%}
                                                                <u style="text-decoration: none">{{note.title}}</u><br />
                                                                {% endif %}
                                                            </h5>
                                                        </div>
                                                        <div>
                                                            {% if note.type == "知晓类" %}
                                                            <h5>
                                                                <button class="btn btn-primary" type="submit"
                                                                    name='post_button' value="{{note.id}}"
                                                                    onclick="read.call(this);this.blur();" id={{note.id}}>知道啦</button>
                                                            </h5>
                                                            {% else %}
                                                            <h5>
                                                                <a href="#" class="btn btn-primary" tabindex="-1"
                                                                    role="button"
                                                                    onclick="window.location='{{note.URL}}'">去处理</a>
                                                            </h5>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    
                                                    <p style="color: rgb(66, 67, 68);"><i
                                                                    class="fa fa-address-book"></i>{{note.sender}}</p>
                                                        
                                                    <p style="color: rgb(66, 67, 68);"><i
                                                                    class="fa fa-calendar-o"></i>收信时间：{{note.start_time}}</p>
                                                    <p style="color: rgb(66, 67, 68);"><i class="fa fa-envelope-o"></i>{{note.content}}</p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>

                                    </div>

                                    {% endif %}
                                </div>
                                <div class="tab-pane fade" id="done">
                                    {% if done_list|length == 0 %}
                                    <br />
                                    <p></p>
                                    <p style="text-align: center;">没有已处理的消息记录.</p>
                                    <br />
                                    {% else %}
                                    <div class="bio-skill-box">
                                        <div class="row">
                                            {% for note in done_list %}
                                            <div class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 " id="done={{note.id}}" {% if not note.status == "已处理" %} hidden {%endif%}>

                                                <div class=" b-skills">

                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <h5>
                                                                <a href='{{note.URL}}'><u>{{note.title}}</u></a>
                                                            </h5>
                                                        </div>
                                                        <div>
                                                            {% if note.type == "知晓类" %}
                                                            <div class="btn-group">
                                                                <div style="margin-left: 8px; ">
                                                                    <div class="btn-group">
                                                                        <button type="button"
                                                                            class="btn btn-light dropdown-toggle dropdown-toggle-split"
                                                                            data-toggle="dropdown" style="display:block;white-space:nowrap;overflow:hidden; ">
                                                                            操作
                                                                        </button>
                                                                        <div class="dropdown-menu">
                                                                            <button class="dropdown-item"
                                                                                type="submit" name='post_button'
                                                                                value="{{note.id}}" id={{note.id}} onclick="unread.call(this);this.blur();"
                                                                            >标记为未读</button>
                                                                            <button class="dropdown-item"
                                                                                type="submit" name='post_button' id={{note.id}}
                                                                                value="{{note.id}}+cancel" onclick="confirm('你确定要删除这条消息?');cancel.call(this);this.blur();">删除</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% else %}
                                                            <div class="btn-group">
                                                                <div style="margin-left: 8px; ">
                                                                    <div class="btn-group">
                                                                        <button type="button"
                                                                            class="btn btn-light dropdown-toggle dropdown-toggle-split"
                                                                            data-toggle="dropdown" style="display:block;white-space:nowrap;overflow:hidden; ">
                                                                            操作
                                                                        </button>
                                                                        <div class="dropdown-menu">
                                                                            <button class="dropdown-item"
                                                                                type="submit" name='post_button' id={{note.id}}
                                                                                value="{{note.id}}+cancel"
                                                                                onclick="confirm('你确定要删除这条消息?');cancel.call(this);this.blur();">删除</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <p style="color: rgb(66, 67, 68);"><i
                                                                    class="fa fa-calendar-o"></i>
                                                                收信时间：{{note.start_time}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <p style="color: rgb(66, 67, 68);"><i
                                                                    class="fa fa-envelope-o"></i>
                                                                {{note.content}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <p style="color: rgb(66, 67, 68);"><i
                                                                    class='fa fa-check'></i>
                                                                处理时间：{{note.finish_time}}</p>
                                                        </div>
                                                        <div>
                                                            <p style="color: rgb(66, 67, 68);"><i
                                                                    class="fa fa-address-book"></i> {{note.sender}}</p>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            {% endfor %}
                                        </div>

                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>

            </div>
            
        </div>
        
    
</div>
<!--  END CONTENT AREA  -->


<script>
    $('.nav-tabs').on('shown.bs.tab', 'a', function (e) {
        if (e.relatedTarget) {
            $(e.relatedTarget).removeClass('active');
        }
    })
</script>

<script>
    var mail_num = Number("{{bar_display.mail_num}}");
    $('.table').bootstrapTable({
        onLoadSuccess: function () {
            $('.table tr td').each(function () {

                $(this).attr("title", $(this).text());
                $(this).css("cursor", 'pointer');
            });

        }
    })
    async function read() {
        const success = await save_read.call(this,"read");
        if (success) {
            document.getElementById("undone="+String(this.id)).hidden = true;
            document.getElementById("done="+String(this.id)).hidden = false;
            mail_num = mail_num - 1;
            if(mail_num >= 100){
                document.getElementById("mail_num").innerHTML = "...";
            }
            else if(mail_num > 0){
                document.getElementById("mail_num").innerHTML = String(mail_num);
            }
            else{
                document.getElementById("mail_num").hidden = true;
            }

        }
    }
    async function unread() {
        const success = await save_read.call(this,"read");
        if (success) {
            document.getElementById("done="+String(this.id)).hidden = true;
            document.getElementById("undone="+String(this.id)).hidden = false;
            mail_num = mail_num + 1
            if(mail_num >= 100){
                document.getElementById("mail_num").innerHTML = "...";
            }
            else if(mail_num > 0){
                document.getElementById("mail_num").hidden = false;
                document.getElementById("mail_num").innerHTML = String(mail_num);
            }
            else{
                document.getElementById("mail_num").hidden = true;
            }
        }
    }
    async function cancel() {
        const success = await save_read.call(this,"cancel");
        if (success) {
            document.getElementById("done="+String(this.id)).hidden = true;
        }
    }
    async function save_read(func) {
        const { success } = await fetch(`/notifications/`, {
            headers: { "Content-Type": `text/plain` },
            method: `POST`,
            body: JSON.stringify({ id: this.id, function: func}),
        })
            .then((res) => res.json())
            .catch(() => { success: false });
        return success;
    }
</script>
{% endblock %}
