{% extends "base.html" %}

{% block mainpage %}
{% load static %}

    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link rel="stylesheet" type="text/css" href="{% static "plugins/dropify/dropify.min.css" %}">
    <link href="{% static "assets/css/users/account-setting.css" %}" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  -->


    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <!--  BEGIN CUSTOM STYLE FILE  -->
        <link rel="stylesheet" type="text/css" href="{% static "plugins/dropify/dropify.min.css" %}">
        <link href="{% static "assets/css/users/account-setting.css" %}" rel="stylesheet" type="text/css" />
        <!--  END CUSTOM STYLE FILE  -->

        <div class="layout-px-spacing">

            <div class="account-settings-container layout-top-spacing">
                {% if upload_state == True %}
                <div class="alert alert-success  text-center">修改组织信息成功</div>
                {% endif %}
                {% if expr == False %}
                <div class="alert alert-warning  text-center">没有检测到信息更新</div>
                {% endif %}
                <div class="account-content">
                    <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll"
                        data-offset="-100">
                        <form id="general-info" class="section general-info" method="POST"
                                    enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">

                                    <div class="info">
                                        <h6 class="">组织信息</h6>
                                            <div class="row d-flex justify-content-center">
                                                <div class="upload mr-3" style="border: none;">
                                                    <input type="file" id="avatar" class="dropify" name="avatar"
                                                        data-default-file="{{former_img}}" data-max-file-size="512K" />
                                                    <p class="mt-2 text-center">{{useroj.oname}}</p>
                                                </div>
                                                <div class="upload ml-3" style="border: none;">
                                                <input type="file" id="wallpaper" class="dropify" name="wallpaper"
                                                    data-default-file="{{former_wallpaper}}" data-max-file-size="2048K" />
                                                <p class="mt-2 text-center">背景图片</p>
                                                </div>
                                            </div>
                                            </div>

                            </div>
                                <div class="col-xl-12 col-lg-12 col-md-8 mt-md-0 mt-4">
                                                    <div class="form-group">
                                                        <div class="form-check">
                                                            <label for="aboutBio">组织介绍</label>
                                                            <textarea class="form-control" id="introduction" name="introduction"
                                                                placeholder="{{userinfo.introduction}}" rows="3" onclick="if(this.placeholder != ''){this.value=this.placeholder;}"></textarea>
                                                        </div>
                                                    </div>
                                            </div>
                            <div class="col-md-12 text-center mb-5" >
                                <button id="submit" class="btn btn-primary">修改组织信息</button>
                            </div>
                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block load_js_file %}
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src={% static "assets/js/libs/jquery-3.1.1.min.js" %}></script>
    <script src={% static "bootstrap/js/popper.min.js" %}></script>
    <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
    <script src={% static "plugins/perfect-scrollbar/perfect-scrollbar.min.js" %}></script>
    <script src={% static "assets/js/app.js" %}></script>
    
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src={% static "assets/js/custom.js" %}></script>
    <script>
        $(function () { $("[data-toggle='tooltip']").tooltip(); });
    </script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!--  BEGIN CUSTOM SCRIPTS FILE  -->

    <script src={% static "plugins/dropify/dropify.min.js" %}></script>
    <script src={% static "plugins/blockui/jquery.blockUI.min.js" %}></script>
    <!-- <script src="plugins/tagInput/tags-input.js"></script> -->
    <script src={% static "assets/js/users/account-settings.js" %}></script>
    <!--  END CUSTOM SCRIPTS FILE  -->
{% endblock %}
