{% extends "base.html" %}

{% load static %}

{% block mainpage %}

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <!--  BEGIN CUSTOM STYLE FILE  -->
        <link rel="stylesheet" type="text/css" href="{% static "plugins/dropify/dropify.min.css" %}">
        <link href="{% static "assets/css/users/account-setting.css" %}" rel="stylesheet" type="text/css" />
        <!--  END CUSTOM STYLE FILE  -->
        
        <div class="container">
            <div class="container">
                {% if html_display.warn_code == 2 %}
                <div class="alert alert-success  text-center">{{html_display.warn_message}}</div>
                {% elif html_display.warn_code == 1%}
                <div class="alert alert-warning  text-center">{{html_display.warn_message}}</div>
                {% endif %}
                <div class="row layout-top-spacing">

                    <div class="col-lg-12 col-sm-12 col-12 layout-spacing">
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div class="statbox widget box box-shadow">

                                    <!--  BEGIN HEADER AREA  -->
                                    <div class="widget-header">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                {% if present %}
                                                    {% with preorg.get_status_display as status %}
                                                    {%if edit%}
                                                    <h4>重新修改申请的组织信息  {{status}}</h4>
                                                    {% else %}
                                                    <h4>新建组织申请  {{status}}</h4>
                                                    {% endif %}
                                                    {%endwith%}
                                                {% else %}
                                                <h4>请填写新建组织的相关信息</h4>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <!--  BEGIN CONTENT AREA  -->
                                    <div class="widget-content widget-content-area">

                                        <form role="form" method="POST" enctype="multipart/form-data">
                                            {%if present%}
                                                    <div class="form-group">
                                                        <label>修改组织图标</label>
                                                        <br>
                                                        {% if edit %}
                                                        <input type="file" id="preavatar" class="dropify" name="avatar"
                                                           data-default-file="{{org_avatar_path}}"
                                                           data-max-file-size="512K"/>
                                                        {%else%}
                                                        <img src="{{org_avatar_path}}" width="200px" height="200px" alt="组织图标"/>
                                                        {%endif%}
                                                    </div>
                                            {%else%}
                                                <label>组织图标</label>
                                                <br>
                                                <div class="row">
                                                    <div class="upload m-auto">
                                                        <input type="file" id="avatar" class="dropify" name="avatar" 
                                                            data-default-file="{{former_img}}" data-max-file-size="512K" />
                                                    </div>
                                                </div>
                                            {%endif%}
                                            <hr>
                                            <div class="form-group">
                                                <label>组织名称</label>
                                                {%if present%}
                                                <textarea type="text" name="oname" class="form-control"
                                                          aria-label="Default" placeholder="不超过32个字节"
                                                          {%if edit == 0 %} disabled="disabled" {%endif%}>{{html_display.oname}}</textarea>

                                                {%else%}
                                                <input type="text" name="oname" class="form-control"
                                                       aria-label="Default" placeholder="不超过32个字节">
                                                {%endif%}
                                            </div>
                                            <!-- <div class="form-group">
                                                <label>组织类型</label>
                                                {% if present %}
                                                <select name="otype" class="form-control selectpicker">
                                                    {%for org_type in org_types%}
                                                    <option value={{org_type.otype_id}} {% if html_display.otype_id == org_type.otype_id %}
                                                            selected="selected"
                                                            {% endif %}>{{org_type.otype_name}}
                                                    </option>
                                                    {%endfor%}
                                                </select>
                                                {% else %}
                                                <select name="otype" class="form-control selectpicker">
                                                    {%for org_type in org_types%}
                                                    <option value={{org_type.otype_id}}>{{org_type.otype_name}}</option>
                                                    {%endfor%}
                                                </select>
                                                {% endif %}
                                            </div> -->
                                            <div class="form-group">
                                                <label>组织类型</label>
                                                <br>
                                                {%if present%}
                                                    {% if edit %}
                                                <select name="otype" class="form-control selectpicker">
                                                    {%for org_type in org_types%}
                                                    <option value={{org_type.otype_id}} {% if html_display.otype_id == org_type.otype_id %}
                                                            selected="selected"
                                                            {% endif %}>{{org_type.otype_name}}
                                                    </option>
                                                    {%endfor%}
                                                </select>
                                                    {%else%}
                                                 <textarea id="otype" name="otype" class="form-control"
                                                          aria-label="Default" {%if edit == 0 %} disabled="disabled" {%endif%}
                                                 >{{html_display.otype_name}}</textarea>
                                                    {%endif%}
                                                {%else%}
                                                <select name="otype" class="form-control selectpicker">
                                                    {%for org_type in org_types%}
                                                    <option value={{org_type.otype_id}}>{{org_type.otype_name}}</option>
                                                    {%endfor%}
                                                </select>
                                                {%endif%}
                                            </div>
                                            <div class="form-group">
                                                <label for="aintro">组织简介</label>
                                                <textarea name="introduction" class="form-control" rows="3"
                                                          placeholder="空" {%if edit == 0 and present == 1 %} disabled="disabled" {%endif%}
                                                    >{%if edit%}{{html_display.introduction}}{%endif%}</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="aintro">申请理由</label>
                                                <textarea name="application" class="form-control" rows="3" placeholder=
                                                        "申请理由不能为空"{%if edit == 0 and present == 1 %} disabled="disabled" {%endif%}
                                                >{% if edit %}{{html_display.application}}{% endif %}</textarea>
                                            </div>
                                            {%if edit%}
                                            <div align="center">
                                                <table>
                                                    <tr>
                                                        <button type="submit" class="btn btn-primary btn-lg mb-4 mr-2"
                                                    value="">修改并提交</button>
                                                    </tr>
                                                    <tr>
                                                        <button type="submit" class="btn btn-warning btn-lg mb-4 mr-2"
                                                    value="1" name="cancel_submit">取消申请</button>
                                                    </tr>
                                                </table>
                                            </div>
                                            {%elif present == 0%}
                                            <button type="submit" class="btn btn-primary btn-block mb-4 mr-2"
                                                    value="">
                                                提交
                                            </button>
                                            {%endif%}
                                        </form>
                                        <hr>
                                    {% include 'comment.html' %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--  END CONTENT AREA  -->


{% endblock %}

{% block load_js_file %}
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src={% static "assets/js/libs/jquery-3.1.1.min.js" %}></script>
    <script src={% static "bootstrap/js/popper.min.js" %}></script>
    <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
    <script src={% static "plugins/perfect-scrollbar/perfect-scrollbar.min.js" %}></script>
    <script src={% static "assets/js/app.js" %}></script>

    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src={% static "assets/js/custom.js" %}></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!--  BEGIN CUSTOM SCRIPTS FILE  -->

    <script src={% static "plugins/dropify/dropify.min.js" %}></script>
    <script src={% static "plugins/blockui/jquery.blockUI.min.js" %}></script>
    <!-- <script src="plugins/tagInput/tags-input.js"></script> -->
    <script src={% static "assets/js/users/account-settings.js" %}></script>
    <!--  END CUSTOM SCRIPTS FILE  -->
{% endblock %}




