{% extends "base.html" %}

{% block mainpage %}

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    {% include 'org_left_narbar.html' %}

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">

            {% if html_display.warn_code == 2 %}
            <div class="alert alert-success  text-center">{{html_display.warn_message}}</div>
            {% elif html_display.warn_code == 1%}
            <div class="alert alert-warning  text-center">{{html_display.warn_message}}</div>
            {% endif %}

            <div class="row ">

                <div class="col-xl-8 col-lg-6 col-md-7 col-sm-12 layout-top-spacing">

                    <ul id="myTab" class="nav nav-tabs nav-tabs-solid nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" href="#organization_info" data-toggle="tab">
                                组织信息
                            </a>
                        </li>
                
                        <li class="nav-item">
                            <a class="nav-link" href="#member_info" data-toggle="tab">
                                成员信息
                            </a>
                        </li>
                
                    </ul>
                    <div id="myTabContent" class="tab-content">

                        <div class="tab-pane fade in active show" id="organization_info">
                            <div class="user-profile layout-spacing">
                                <div class="widget-content widget-content-area">
                
                                    <div class="d-flex justify-content-between">
                                        <h3 class="">组织档案</h3>
                                        <br /><br />
                                    </div>
                
                                    <div class="text-center user-info">
                                        <img src="{{org_avatar_path}}" height="90px" width="90px" alt="avatar">
                                        <p class="">{{organization_name}}</p>
                
                                        {% if show_subscribe %}
                                        <div class="custom-control custom-switch">
                                            {% if subscribe_flag %}
                                            <input type="checkbox" class="custom-control-input" id="switch button"
                                                onclick="change_status.call(this);this.blur();" checked>
                                            <label class="custom-control-label" for="switch button">
                                                <font color="5F747B" id="subscribe">已订阅</font>
                                            </label>
                                            {% else %}
                                            <input type="checkbox" class="custom-control-input" id="switch button"
                                                onclick="change_status.call(this);this.blur();">
                                            <label class="custom-control-label" for="switch button">
                                                <font color="E1E1E1" id="subscribe">未订阅</font>
                                            </label>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="user-info-list">
                                        <div class="">
                                            <ul class="contacts-block list-unstyled">
                                                <li class="contacts-block__item">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round">
                                                        <rect x="2" y="7" width="20" height="14" rx="2" ry="2" />
                                                        <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16" />
                                                    </svg> {{organization_type_name}}
                                                </li>
                                                <li class="contacts-block__item">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round">
                                                        <line x1="12" y1="1" x2="12" y2="23" />
                                                        <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6" />
                                                    </svg> 元气值{{org.YQPoint}}
                                                </li>
                                                {% if html_display.is_myself == False %}
                                                <li class="contacts-block__item">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round">
                                                        <polyline points="20 12 20 22 4 22 4 12" />
                                                        <rect x="2" y="7" width="20" height="5" />
                                                        <line x1="12" y1="22" x2="12" y2="7" />
                                                        <path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z" />
                                                        <path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z" />
                                                    </svg> <a href="/transPage/{{html_display.org.organization_id_id}}">向ta转账</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <h3 class="">组织简介</h3>
                                        <br /><br />
                                    </div>
                                    <p>{{org.introduction}}</p>
                                    <br />
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="member_info">
                            <div class="bio layout-spacing">
                                <div class="widget-content widget-content-area" >
                                    <div class="d-flex justify-content-between">
                                        <h3 class="">成员档案</h3>
                                        <br /><br />
                                    </div>
                                    <div class="bio-skill-box" style="padding: 2%;">
                                        <div class="row">
                                            {% for member in member_list %}
                                            <div class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 ">
                                                <div class=" b-skills" style="padding: 5%;">

                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <h5>
                                                            <img src={{ member.avatar_path }} width="24" height="24" alt="avatar">
                                                            <a href='/stuinfo/{{member.person.name}}'><u>{{member.person.name}}</u></a>
                                                            </h5>
                                                        </div>
                                                        <div>
                                                            <h5>
                                                                {% if member.highest %}
                                                                <i class="fa fa-user-plus"></i>
                                                                {% else %}
                                                                <i class="fa fa-user"></i>
                                                                {% endif %}
                                                                {{member.job}}
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <p style="color: rgb(66, 67, 68);">{{member.person.stu_grade}}级</p>
                                                        </div>
                                                        <div>
                                                            {% if member.person.show_major %}
                                                            <p style="color: rgb(66, 67, 68);">
                                                                {{member.person.stu_major}}</p>
                                                            {% else %}
                                                            <p style="color: rgb(66, 67, 68);">
                                                                专业未公开</p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
                
                <!--
                        <div class="col-xl-4 col-lg-6 col-md-5 col-sm-12 layout-top-spacing">
                            <div class="layout-spacing">
                                <div class="widget-content widget-content-area">
                                    {% for member in member_list %}
                                    <div class="card">
                                        <a href="../../stuinfo/{{member.person.name}}+{{member.person.id}}" class="card-body">
                                            <div class="row">
                                                <div class="col-xl-2 ">
                                                    <img class="avatar avatar-user" src={{ member.avatar_path }} width="48"
                                                        height="48" alt="avatar">
                                                </div>
                                                <div class="col-xl-10">
                                                    <h4 class="card-title">{{member.person.name}}</h4>
                                                    {% if member.person.show_nickname == True %}
                                                    <p> {{member.person.nickname}} </p>
                                                    {% endif %}
                                                    <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                            height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                            <circle cx="12" cy="8" r="7" />
                                                            <polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88" />
                                                        </svg>
                                                        {{member.job}}
                                                    </p>
                                                    <p class="card-text"> {{member.person.biography}} </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                -->
                <div class="col-xl-4 col-lg-6 col-md-5 col-sm-12 layout-top-spacing">
                                <div class="education layout-spacing ">
                                    <div class="widget-content widget-content-area">

                                        <h3 class="">组织纪事</h3>
                                        <div class="timeline-alter">
                                            <div class="item-timeline">
                                                <div class="t-meta-date">
                                                    <p class="">04 Mar 2009</p>
                                                </div>
                                                <div class="t-dot" data-original-title="" title="">
                                                </div>
                                                <div class="t-text">
                                                    <p>Royal Collage of Art</p>
                                                    <p>Designer Illustrator</p>
                                                </div>
                                            </div>
                                            <div class="item-timeline">
                                                <div class="t-meta-date">
                                                    <p class="">25 Apr 2014</p>
                                                </div>
                                                <div class="t-dot" data-original-title="" title="">
                                                </div>
                                                <div class="t-text">
                                                    <p>Massachusetts Institute of Technology (MIT)</p>
                                                    <p>Designer Illustrator</p>
                                                </div>
                                            </div>
                                            <div class="item-timeline">
                                                <div class="t-meta-date">
                                                    <p class="">04 Apr 2018</p>
                                                </div>
                                                <div class="t-dot" data-original-title="" title="">
                                                </div>
                                                <div class="t-text">
                                                    <p>School of Art Institute of Chicago (SAIC)</p>
                                                    <p>Designer Illustrator</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                </div>

            </div>

            <div class="row ">

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 layout-top-spacing">
                    <div class="bio layout-spacing ">
                        <div class="widget-content widget-content-area">

                            <h3 class="">活动档案</h3>

                            <ul id="myTab" class="nav nav-tabs nav-tabs-solid nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#act0" data-toggle="tab">
                                        未结束
                                    </a>
                                </li>
                        
                                <li class="nav-item">
                                    <a class="nav-link" href="#act1" data-toggle="tab">
                                        已结束
                                    </a>
                                </li>
                        
                            </ul>

                            <div class="tab-content">

                                <div id="act0" class="tab-pane active">
                                    <div class="bio-skill-box">
                                        {% if continuing_activity_list_participantrec|length == 0 %}
                                            <br/>
                                            <p style="text-align: center;">没有该类别的活动</p>
                                            <br/>
                                        {% endif %}
                                        <div class="row">
                                            {% for rec in continuing_activity_list_participantrec %}
                                            <div class="col-12 col-xl-4 col-lg-6 mb-xl-5 mb-5 ">
                                                <a href="/viewActivity/{{rec.act.id}}">
                                                    <div class="d-flex b-skills">
                                                        <div class="text-nowrap" style='overflow: hidden;text-overflow: ellipsis;'>
                                                            <div class="d-flex justify-content-between">
                                                                <h5>{{rec.act.title}}
                                                                    <!--一个判断：
                                                                        进行中：
                                                                            组织：success
                                                                            个人：本身的状态/报名截止（primary/danger)
                                                                        报名中：
                                                                            组织：success
                                                                            个人：其他状态/未报名（primary/danger/secondary）
                                                                        等待中：
                                                                            组织：info
                                                                            个人：本身的状态/报名截止（primary/danger)
                                                                        审核中：都是warning
                                                                    -->
    
                                                                    {% if rec.act.status == "审核中" %}
                                                                        <span class="badge badge-pill badge-warning">{{rec.act.status}}</span>
                                                                    {% else %}
                                                                        {% if user_type == "Organization" %}
                                                                            {% if rec.act.status == "等待中" %}
                                                                                <span class="badge badge-pill badge-info">{{rec.act.status}}</span>
                                                                            {% else %}
                                                                                <span class="badge badge-pill badge-success">{{rec.act.status}}</span>
                                                                            {% endif %}
                                                                        {% else %}
    
                                                                            {% if rec.status == "无记录" %}
                                                                                {% if rec.act.status == "报名中" %}
                                                                                    <span class="badge badge-pill badge-secondary">未报名</span>
                                                                                {% else %}
                                                                                    <span class="badge badge-pill badge-danger">报名截止</span>
                                                                                {% endif %}
                                                                            {% elif rec.status == "申请失败" or rec.status == "未参与" or rec.status == "取消" %}
                                                                                <span class="badge badge-pill badge-primary">{{rec.status}}</span>
                                                                            {% else %}
                                                                                <span class="badge badge-pill badge-primary">{{rec.status}}</span>
                                                                            {% endif %}
    
                                                                        {% endif %}
                                                                    {% endif %}
    
                                                                </h5>
                                                            </div>
    
                                                            <p>{{rec.act.introduction}}</p>
                                                            <p>报名结束时间： {{rec.endbefore}}</p>
                                                            <p>活动开始时间： {{rec.act.start}}</p>
                                                            <p>已报名/最大人数：{{rec.act.current_participants}}/{{rec.act.capacity}}</p>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <p>价格：{{rec.act.YQPoint}}</p>
                                                                </div>
                                                                <div class="col">
                                                                    <p>地点：{{rec.act.location}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <!-- 加入/退出的按钮
                                                        {% if html_display.is_myself == True %}
                                                            <div class="text-right">
                                                                <a href="/welcome/" class="btn btn-primary btn-sm" role="button">管理</a>
                                                            </div>
                                                        {% elif user_type == "Person" %}
                                                            <div class="text-right">
                                                                {% if rec.act.status == "报名中" %}
                                                                    {% if rec.status == "申请中" or rec.status == "已报名" or rec.status == "已参加" %}
                                                                        <a href="/welcome/" class="btn btn-primary btn-sm" role="button">退出</a>
                                                                    {% elif rec.status == "无记录" %}
                                                                        <a href="/welcome/" class="btn btn-primary btn-sm" role="button">加入</a>
                                                                    {% endif %}
                                                                {% elif rec.act.status != "审核中" %}
                                                                    {% if rec.status == "申请中" or rec.status == "已报名" or rec.status == "已参加" %}
                                                                        <a href="/welcome/" class="btn btn-primary btn-sm" role="button">退出</a>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}
                                                        -->
                                                        
                                                    </div>
                                                </a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div id="act1" class="tab-pane fade">
                                    <div class = "bio-skill-box ">
                                        {% if ended_activity_list_participantrec|length == 0 %}
                                            <br/>
                                            <p style="text-align: center;">没有该类别的活动</p>
                                            <br/>
                                        {% endif %}
                                        <div class="row">
                                            {% for rec in ended_activity_list_participantrec %}
                                            <div class="col-12 col-xl-4 col-lg-6 mb-xl-5 mb-5 ">
                                                <div class="d-flex b-skills">
                                                    <div class="">
                                                        <div class="d-flex justify-content-between">
                                                            <h5>{{rec.act.title}}
                                                                {% if user_type == "Person" and rec.status == "已参与" %}
                                                                    <span class="badge badge-pill badge-primary">已参与</span>
                                                                {% elif user_type == "Person" and rec.status == "未参与" %}
                                                                    <span class="badge badge-pill badge-secondary">未参与</span>
                                                                {% else %}
                                                                    <span class="badge badge-pill badge-danger">{{rec.act.status}}</span>
                                                                {% endif %}
                                                            </h5>
                                                        </div>

                                                        <p>{{rec.act.introduction}}</p>
                                                        <p>报名结束时间： {{rec.act.endbefore}}</p>
                                                        <p>活动开始时间： {{rec.act.start}}</p>
                                                        <p>已报名/最大人数：{{rec.act.current_participants}}/{{rec.act.capacity}}</p>
                                                        <div class="row">
                                                            <div class="col">
                                                                <p>价格：{{rec.act.YQPoint}}</p>
                                                            </div>
                                                            <div class="col">
                                                                <p>地点：{{rec.act.location}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                                
                    </div>
                </div>
            </div>
        
        </div>
    </div>
<!--  END CONTENT AREA  -->

</div>
<!-- END MAIN CONTAINER -->

{% endblock %}


{% block add_js_file %}
<script>
    async function change_status() {
        if (!this.checked) {
            const success = await save_subscribe_status.call(this, false);
            if (success) {
                document.getElementById(`subscribe`).color = "E1E1E1";
                document.getElementById(`subscribe`).innerHTML = "未订阅";
            }
            else this.checked = true;
        } else {
            const success = await save_subscribe_status.call(this, true);
            if (success) {
                document.getElementById(`subscribe`).color = "5F747B";
                document.getElementById(`subscribe`).innerHTML = "已订阅";
            }
            else this.checked = false;
        }
    }
    async function save_subscribe_status(status) {
        const { success } = await fetch(`/save_subscribe_status`, {
            headers: { "Content-Type": `text/plain` },
            method: `POST`,
            body: JSON.stringify({ id: '{{org.organization_id.username}}', status }),
        })
            .then((res) => res.json())
            .catch(() => { success: false });
        return success;
    }
</script>
{% endblock %}

