{% extends "base.html" %}

{% block mainpage %}

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        {% include 'org_left_narbar.html' %}

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">

                {% if html_display.modpw_code %}
                    <div class="alert alert-success  text-center">修改个人信息成功</div>
                {% endif %}

                <div class="tab-content">

                    <!--  组织信息选项卡  -->
                    <div id="d0"class="tab-pane active">
                        <div class="row layout-spacing">

                            <div class="col-xl-8 col-lg-6 col-md-7 col-sm-12 layout-top-spacing">
                                
                                <div class="user-profile layout-spacing">
                                    <div class="widget-content widget-content-area">
                                        
                                        <div class="d-flex justify-content-between">
                                            <h3 class="">Organization</h3>
                                            <br/><br/>
                                        </div>
        
                                        <div class="text-center user-info">
                                            <img src={{ html_display.avatar_path }} height="90px" width="90px" alt="avatar">
                                            <p class="">{{organization_name}}</p>
                                        </div>
        
                                        <div class="user-info-list">
        
                                            <div class="">
                                                <ul class="contacts-block list-unstyled">
                                                    <li class="contacts-block__item">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"> <rect x="2" y="7" width="20" height="14" rx="2" ry="2" /> <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16" /> </svg> {{organization_type_name}}
                                                    </li>
                                                    <li class="contacts-block__item">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"> <line x1="12" y1="1" x2="12" y2="23" /> <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6" /></svg> 元气值{{org.YQPoint}} 
                                                    </li>
                                                    
                                                </ul>
                                            </div>                                    
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <h3 class="">Intro</h3>
                                            <br/><br/>
                                        </div>
                                        <p>{{org.introduction}}</p>
                                        <br />
                                    </div>
                                </div>

                                <div class="education layout-spacing ">
                                    <div class="widget-content widget-content-area">

                                        <h3 class="">Monument</h3>
                                        <div class="timeline-alter">
                                            <div class="item-timeline">
                                                <div class="t-meta-date">
                                                    <p class="">04 Mar 2009</p>
                                                </div>
                                                <div class="t-dot" data-original-title="" title="">
                                                </div>
                                                <div class="t-text">
                                                    <p>Royal Collage of Art</p>
                                                    <p>Designer Illustrator</p>
                                                </div>
                                            </div>
                                            <div class="item-timeline">
                                                <div class="t-meta-date">
                                                    <p class="">25 Apr 2014</p>
                                                </div>
                                                <div class="t-dot" data-original-title="" title="">
                                                </div>
                                                <div class="t-text">
                                                    <p>Massachusetts Institute of Technology (MIT)</p>
                                                    <p>Designer Illustrator</p>
                                                </div>
                                            </div>
                                            <div class="item-timeline">
                                                <div class="t-meta-date">
                                                    <p class="">04 Apr 2018</p>
                                                </div>
                                                <div class="t-dot" data-original-title="" title="">
                                                </div>
                                                <div class="t-text">
                                                    <p>School of Art Institute of Chicago (SAIC)</p>
                                                    <p>Designer Illustrator</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xl-4 col-lg-6 col-md-5 col-sm-12 layout-top-spacing">
                                <div class="layout-spacing">
                                    <div class="widget-content widget-content-area">
                                        {% for member in member_list %}
                                            <div class="card">
                                                <a href="../../stuinfo/{{member.person.name}}+{{member.person.id}}" class = "card-body">
                                                    <div class="row">
                                                        <div class="col-xl-2 ">
                                                            <img class="avatar avatar-user" src= {{ html_display.avatar_path }} width="48" height="48" alt="avatar">
                                                        </div>
                                                        <div class="col-xl-10">
                                                            <h4 class="card-title">{{member.person.name}}</h4>
                                                            {% if member.person.show_nickname == True %}
                                                                <p> {{member.person.nickname}} </p>
                                                            {% endif %}
                                                            <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"> <circle cx="12" cy="8" r="7" /> <polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88" /></svg>
                                                                {{member.job}} 
                                                            </p>
                                                            <p class="card-text"> {{member.person.biography}} </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  组织活动选项卡  -->
                    <div id="d1"class="tab-pane">               
                        <div class="bio layout-spacing ">
                            <div class="widget-content widget-content-area">

                                <h3 class="">Activities</h3>

                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                      <a class="nav-link active" data-toggle="tab" href="#act0">未结束的</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" data-toggle="tab" href="#act1">已结束的</a>
                                    </li>
                                </ul>
                                
                                <div class="tab-content">

                                    <div id="act0" class="tab-pane active">
                                        <div class="bio-skill-box">
                                            <div class="row">
                                                {% for rec in continuing_activity_list_participantrec %}
                                                <div class="col-12 col-xl-4 col-lg-6 mb-xl-5 mb-5 ">
                                                    <div class="d-flex b-skills">
                                                        <div class="">
                                                            <div class="d-flex justify-content-between">
                                                                <h5>{{rec.act.title}}
                                                                    <!--一个判断：
                                                                        进行中：
                                                                            组织：success
                                                                            个人：本身的状态/报名截止（primary/danger)
                                                                        报名中：
                                                                            组织：success
                                                                            个人：其他状态/未报名（primary/secondary）
                                                                        等待中：
                                                                            组织：info
                                                                            个人：本身的状态/报名截止（primary/danger)
                                                                        审核中：都是warning
                                                                    -->

                                                                    {% if rec.act.status == "审核中" %}
                                                                        <span class="badge badge-pill badge-warning">{{rec.act.status}}</span>
                                                                    {% else %}
                                                                        {% if user_type == "Organization" %}
                                                                            {% if rec.act.status == "等待中" %}
                                                                                <span class="badge badge-pill badge-info">{{rec.act.status}}</span>
                                                                            {% else %}
                                                                                <span class="badge badge-pill badge-success">{{rec.act.status}}</span>
                                                                            {% endif %}
                                                                        {% else %}
                                                                            {% if rec.act.status == "报名中" %}
                                                                                <!--
                                                                                    逻辑是：对未参加的用户显示未报名，对其他用户显示原本的状态
                                                                                -->
                                                                                {% if rec.status == "未参与" %}
                                                                                    <span class="badge badge-pill badge-secondary">未报名</span>
                                                                                {% else %}
                                                                                    <span class="badge badge-pill badge-primary">rec.status</span>
                                                                                {% endif %}
                                                                            {% else %}
                                                                                <!--
                                                                                    逻辑是：对未参加的用户显示报名截止，对其他用户显示原本的状态
                                                                                -->
                                                                                {% if rec.status == "未参与" %}
                                                                                    <span class="badge badge-pill badge-danger">报名截止</span>
                                                                                {% else %}
                                                                                    <span class="badge badge-pill badge-primary">rec.status</span>
                                                                                {% endif %}

                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endif %}

                                                                </h5>
                                                            </div>
    
                                                            <p>{{rec.act.introduction}}</p>
                                                            <p>报名结束时间： 距活动开始{{rec.act.endbefore}}</p>
                                                            <p>活动开始时间： {{rec.act.start}}</p>
                                                            <p>已报名/最大人数：{{rec.act.current_participants}}/{{rec.act.capacity}}</p>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <p>价格：{{rec.act.YQPoint}}</p>
                                                                </div>
                                                                <div class="col">
                                                                    <p>地点：{{rec.act.location}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% if html_display.is_myself == True %}
                                                            <div class="text-right">
                                                                <a href="/welcome/" class="btn btn-primary btn-sm" role="button">管理</a>
                                                            </div>
                                                        {% elif user_type == "Person" %}
                                                            <div class="text-right">
                                                                {% if rec.act.status == "报名中" %}
                                                                    {% if rec.status == "申请中" or rec.status == "已报名" or rec.status == "已参加" %}
                                                                        <a href="/welcome/" class="btn btn-primary btn-sm" role="button">退出</a>
                                                                    {% elif rec.status == "未参与" %}
                                                                        <a href="/welcome/" class="btn btn-primary btn-sm" role="button">加入</a>
                                                                    {% endif %}
                                                                {% elif rec.act.status != "审核中" %}
                                                                    {% if rec.status == "申请中" or rec.status == "已报名" or rec.status == "已参加" %}
                                                                        <a href="/welcome/" class="btn btn-primary btn-sm" role="button">退出</a>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div id="act1" class="tab-pane fade">
                                        <div class = "bio-skill-box ">
                                            <div class="row">
                                                {% for act in ended_activity_list %}
                                                <div class="col-12 col-xl-4 col-lg-6 mb-xl-5 mb-5 ">
                                                    <div class="d-flex b-skills">
                                                        <div class="">
                                                            <div class="d-flex justify-content-between">
                                                                <h5>{{act.topic}}
                                                                    <span class="badge badge-pill badge-danger">{{act.status}}</span>
                                                                </h5>
                                                            </div>
    
                                                            <p>{{rec.act.introduction}}</p>
                                                            <p>报名结束时间： 距活动开始{{rec.act.endbefore}}</p>
                                                            <p>活动开始时间： {{rec.act.start}}</p>
                                                            <p>已报名/最大人数：{{rec.act.current_participants}}/{{rec.act.capacity}}</p>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <p>价格：{{rec.act.YQPoint}}</p>
                                                                </div>
                                                                <div class="col">
                                                                    <p>地点：{{rec.act.location}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                                
                        </div>
                    </div>

                    <!-- 
                    组织成员选项卡
                    <div id="d2"class="tab-pane">
                        <div class="bio layout-spacing ">
                            <div class="widget-content widget-content-area">
                                nothing here.
                            </div>
                        </div>
                    </div>
                    组织动态选项卡
                    <div id="d3"class="tab-pane">
                        <div class="layout-top-spacing">
                            
                            <div class="education layout-spacing ">
                                <div class="widget-content widget-content-area">
                                    <h3 class="">Event</h3>
                                    <div class="timeline-alter">
                                        <div class="item-timeline">
                                            <div class="t-meta-date">
                                                <p class="">04 Mar 2009</p>
                                            </div>
                                            <div class="t-dot" data-original-title="" title="">
                                            </div>
                                            <div class="t-text">
                                                <p>Royal Collage of Art</p>
                                                <p>Designer Illustrator</p>
                                            </div>
                                        </div>
                                        <div class="item-timeline">
                                            <div class="t-meta-date">
                                                <p class="">25 Apr 2014</p>
                                            </div>
                                            <div class="t-dot" data-original-title="" title="">
                                            </div>
                                            <div class="t-text">
                                                <p>Massachusetts Institute of Technology (MIT)</p>
                                                <p>Designer Illustrator</p>
                                            </div>
                                        </div>
                                        <div class="item-timeline">
                                            <div class="t-meta-date">
                                                <p class="">04 Apr 2018</p>
                                            </div>
                                            <div class="t-dot" data-original-title="" title="">
                                            </div>
                                            <div class="t-text">
                                                <p>School of Art Institute of Chicago (SAIC)</p>
                                                <p>Designer Illustrator</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="activity layout-spacing ">
                                <div class="widget-content widget-content-area">
                                    <h3 class="">Activation</h3>
                                    <div class="progress br-30">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><div class="progress-title"><span>Freshman</span> <span>65%</span> </div></div>
                                    </div>
                                    <div class="progress br-30">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><div class="progress-title"><span>Sophomore</span> <span>50%</span> </div></div>
                                    </div>
                                    <div class="progress br-30">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><div class="progress-title"><span>Junior</span> <span>70%</span> </div></div>
                                    </div>
                                    <div class="progress br-30">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><div class="progress-title"><span>Senior</span> <span>60%</span> </div></div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->
    
{% endblock %}
