{% extends "base.html" %}

{% load static %}


{% block mainpage %}
<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    {% include 'user_left_narbar.html' %}

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="container">
            <div class="container">
                {% if html_display.warn_code %}
                <div class="alert alert-warning  text-center">{{ html_display.warn_message }}</div>
                {% endif %}
                <div class="row layout-top-spacing">

                    <div class="col-lg-12 col-sm-12 col-12 layout-spacing">
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div class="statbox widget box box-shadow">

                                    <!--  BEGIN HEADER AREA  -->
                                    <div class="widget-header">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                {% if edit %}
                                                <h4>重新修改申请的组织信息</h4>
                                                {% else %}
                                                <h4>请填写新建组织的相关信息</h4>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <!--  BEGIN CONTENT AREA  -->
                                    <div class="widget-content widget-content-area">

                                        <form role="form" method="POST">
                                            <div class="form-group">
                                                <label>组织名称</label>
                                                {%if edit%}
                                                <textarea type="text" name="oname" class="form-control"
                                                          aria-label="Default" placeholder="不超过32个字节">{{html_display.oname}}</textarea>

                                                {%else%}
                                                <input type="text" name="oname" class="form-control"
                                                       aria-label="Default" placeholder="不超过32个字节">
                                                {%endif%}
                                            </div>
                                            <div class="form-group">
                                                <label>组织类型</label>
                                                <br>
                                                {%if edit%}
                                                <select name="otype">
                                                    <option value=7{% if html_display.otype_id == 7 %}
                                                            selected="selected"
                                                            {% endif %}>书院俱乐部
                                                    </option>
                                                    <option value=8{% if html_display.otype_id == 8 %}
                                                            selected="selected"
                                                            {% endif %}>学生小组
                                                    </option>
                                                    <option value=10{% if html_display.otype_id == 10 %}
                                                            selected="selected"
                                                            {% endif %}>书院课程
                                                    </option>

                                                </select>

                                                {%else%}

                                                <select name="otype">
                                                    <option value=7>书院俱乐部</option>
                                                    <option value=8 selected="selected">学生小组</option>
                                                    <option value=10>书院课程</option>
                                                </select>
                                                {%endif%}
                                            </div>
                                            <div class="form-group">
                                                <label>组织图标</label>
                                                <br>
                                                <input type="file" id="avatar" class="dropify" name="avatar"
                                                       data-default-file="{{former_img}}"
                                                       data-max-file-size="512K"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="aintro">组织简介</label>
                                                <textarea name="introduction" class="form-control"
                                                          rows="3"
                                                          placeholder="空">{%if edit%}{{html_display.introduction}}{%endif%}</textarea>
                                            </div>
                                            <br>
                                            <br>
                                            <hr>

                                            <div class="form-group">
                                                <label for="aintro">申请理由</label>
                                                <textarea name="application" class="form-control"
                                                          rows="30"
                                                          placeholder="申请理由不能为空">{% if edit %}{{html_display.application}}{% endif %}</textarea>
                                            </div>
                                            {%if edit%}
                                            <button type="submit" class="btn btn-primary btn-block mb-4 mr-2"
                                                    value="">
                                                修改并提交
                                            </button>
                                            {%else%}
                                            <button type="submit" class="btn btn-primary btn-block mb-4 mr-2"
                                                    value="">
                                                提交
                                            </button>
                                            {%endif%}
                                        </form>
                                    {%if edit %}
                                    <br>
                                    <hr>

                                   <div>
                                        {%for comment in comments.all%}
                                        <div class="form-group">
                                            <div class="d-flex justify-content-between">
                                                   <div>
                                                <p style="color: rgb(66, 67, 68);"><i class="fa fa-calendar-o"></i>评论时间：{{comment.time}}</p>
                                                   </div>
                                                <div>
                                                    <p style="color: rgb(66, 67, 68);" align="right"><i class="fa fa-address-book"></i>
                                                        {{comment.commentator}}</p>
                                                </div>
                                            </div>

                                            <textarea name="comment" class="form-control">{{comment.text}}</textarea>
                                            {%for image in comment.comment_photos.all%}

                                            <img width="400px" height="200px" src={{image.imagepath}}>
                                                <!--移动端图片需要修正!-->
                                            {%endfor%}
                                            <hr>
                                            <br>
                                        </div>
                                        {% endfor %}
                                    </div>

                                    <form role="form" method="POST" enctype="multipart/form-data">
                                            <div>
                                                <div class="form-group">
                                                    <label><h4>评论</h4></label>
                                                    <div>
                                                        <p style="color: rgb(66, 67, 68);" align="right"><i
                                                                class="fa fa-address-book"></i> {{request.user}}</p>
                                                    </div>
                                                    <textarea type="text" id="comment" name="comment"
                                                              class="form-control"
                                                              aria-label="Default" rows="3"
                                                              placeholder="Leave a comment"></textarea>
                                                    <br>
                                                    <div>
                                                        <label title="评论图片">
                                                            <div style="text-align:left;">
                                                                <input type="file" accept="image/*" name="comment_images"
                                                                       multiple>
                                                            </div>
                                                        </label>
                                                        <div style="text-align:right;">
                                                            <button type="submit"
                                                                    class="btn btn-primary btn-sm mb-4 mr-2"
                                                                    name="comment_submit" value="1">
                                                                回复
                                                            </button>
                                                        </div>

                                                    </div>


                                                </div>
                                            </div>
                                        </form>
                                        {%endif%}


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--  END CONTENT AREA  -->

</div>
<!-- END MAIN CONTAINER -->

{% endblock %}






