{% extends "base.html" %}

{% load static %}
{% block mainpage %}

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="container">
            <div class="container">
                {% if html_display.warn_code == 2 %}
                <div class="alert alert-success  text-center">{{html_display.warn_message}}</div>
                {% elif html_display.warn_code == 1%}
                <div class="alert alert-warning  text-center">{{html_display.warn_message}}</div>
                {% endif %}
                <div class="row layout-top-spacing">

                    <div class="col-lg-12 col-sm-12 col-12 layout-spacing">
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div class="statbox widget box box-shadow">

                                    <!--  BEGIN HEADER AREA  -->
                                    <div class="widget-header">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                <div class="d-flex justify-content-between">
                                                {%if present%}
                                                {% with pre_reimb.get_status_display as status %}
                                                    {% if edit %}
                                                    <div>
                                                        <h4>修改经费申请    {{status}}</h4>
                                                    </div>
                                                    <div>
                                                        <h4>当前剩余元气值：{{me.YQPoint}}</h4>
                                                    </div>
                                                    {% else %}
                                                    <h4>经费申请    {{status}}</h4>
                                                    {% endif %}
                                                {% endwith%}
                                                {% else %}
                                                    <div>
                                                        <h4>新建经费申请</h4>
                                                    </div>

                                                    <div>
                                                        <h4>当前剩余元气值：{{me.YQPoint}}</h4>
                                                    </div>
                                                {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--  BEGIN CONTENT AREA  -->
                                    <div class="widget-content widget-content-area">

                                        <form role="form" method="POST" enctype="multipart/form-data">

                                            <div class="form-group">
                                                <label>报销活动</label>
                                                {%if present %}
                                                        <textarea name="activity_id" class="form-control" aria-label="Default"
                                                                  disabled="disabled"
                                                        >{{html_display.audit_activity.title}}({{html_display.audit_activity.start.month}}月{{html_display.audit_activity.start.day}}日 活动预算:{{html_display.audit_activity.budget}})</textarea>
                                                {%else%}
                                                <select name="activity_id"  class="form-control">
                                                        {% for activity in activities.all%}
                                                        <option value={{activity.id}}
                                                        >{{activity.title}}({{activity.start.month}}月{{activity.start.day}}日 活动预算:{{activity.budget}})
                                                            </option>
                                                        {%endfor%}
                                                    </select>
                                                {%endif%}

                                            </div>
                                                {%if present %}
                                                    {%if edit%}
                                                        <div class="form-group">
                                                            <label>报销额度</label>
                                                            <br>
                                                            <input type="number" class="form-control"
                                                                   aria-label="Text input with dropdown button"
                                                                   placeholder="上次你输入的是{{html_display.amount}}"
                                                                   id="aprice"
                                                                   name="YQP"
                                                                   placeholder="{{amount}}" step="0.1"
                                                                   οnkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,1})?).*$/g, '$1')"
                                                            >
                                                        </div>
                                                    {%else%}
                                                    <textarea id="amount" name="amount" class="form-control"
                                                          aria-label="Default" disabled="disabled">{{html_display.amount}}</textarea>
                                                    {%endif%}
                                                {%else%}
                                                <div class="form-group">
                                                            <label>报销额度</label>
                                                            <br>
                                                            <input type="number" class="form-control"
                                                                   aria-label="Text input with dropdown button"
                                                                   id="newaprice"
                                                                   name="YQP" required="required"
                                                                   placeholder="{{amount}}" step="0.1"
                                                                   οnkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,1})?).*$/g, '$1')" >
                                                        </div>
                                                {%endif%}
                                            {%if present == 0%}
                                            <div class="form-group">
                                                <label>报销材料</label>
                                                <input  type="file" accept="image/*" name="images" value="上传图片" multiple>
                                            </div>
                                            {%endif%}

                                            <div class="form-group">
                                                <label for="aintro">报销说明</label>
                                                {%if present%}
                                                        <textarea name="message" class="form-control" rows="3"
                                                          placeholder="关于本次报销的详细说明，如活动的成果、报销发票的主要内容、实报超预算的原因等"
                                                                  {%if edit == 0%}disabled="disabled"{%endif%}

                                                        >{{html_display.message}}</textarea>
                                                {%else%}
                                                <textarea name="message" class="form-control"
                                                          rows="3"
                                                          placeholder="关于本次报销的详细说明，如活动的成果、报销发票的主要内容、实报超预算的原因等"
                                                          required="required"
                                                ></textarea>
                                                {%endif%}
                                            </div>
                                            <br>
                                            <br>
                                            <hr>


                                            {%if edit%}
                                            <div align="center">
                                                <table>
                                                    <tr>
                                                        <button type="submit" class="btn btn-primary btn-lg mb-4 mr-2"
                                                    value="">修改并提交</button>
                                                    </tr>
                                                    <tr>
                                                        <button type="submit" class="btn btn-warning btn-lg mb-4 mr-2"
                                                    value="1" name="cancel_submit">取消申请</button>
                                                    </tr>
                                                </table>
                                            </div>


                                            {%elif present == 0%}
                                            <button type="submit" class="btn btn-primary btn-block mb-4 mr-2"
                                                    value="">
                                                提交
                                            </button>
                                            {%endif%}
                                        </form>
                                    {% include 'comment.html' %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--  END CONTENT AREA  -->

{% endblock %}



