{% extends "base.html" %}

{% load static %}


{% block mainpage %}
<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    {% include 'org_left_narbar.html' %}

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="container">
            <div class="container">
                {% if html_display.warn_code %}
                <div class="alert alert-warning  text-center">{{ html_display.warn_message }}</div>
                {% endif %}
                <div class="row layout-top-spacing">

                    <div class="col-lg-12 col-sm-12 col-12 layout-spacing">
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div class="statbox widget box box-shadow">

                                    <!--  BEGIN HEADER AREA  -->
                                    <div class="widget-header">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                {% if edit %}
                                                <h4>重新修改报销的相关信息</h4>
                                                {% else %}
                                                <h4>请填写报销的相关信息</h4>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <!--  BEGIN CONTENT AREA  -->
                                    <div class="widget-content widget-content-area">

                                        <form role="form" method="POST">
                                            <div class="form-group">
                                                <label>报销活动</label>
                                                {%if edit%}
                                                <textarea type="text" name="oname" class="form-control"
                                                          aria-label="Default" placeholder="不超过32个字节">
                                                    {{html_display.oname}}
                                                </textarea>

                                                {%else%}
                                                <input type="text" name="oname" class="form-control"
                                                       aria-label="Default" placeholder="不超过32个字节">
                                                {%endif%}
                                            </div>
                                            <div class="form-group">
                                                <label>组织类型</label>
                                                <br>
                                                {%if edit%}
                                                <select name="otype">
                                                    {% if html_display.otype == 7%}
                                                    <option value=7 selected="selected">书院俱乐部</option>
                                                    {%else %}
                                                    <option value=7>书院俱乐部</option>
                                                    {%endif%}

                                                    {% if html_display.otype == 8%}
                                                    <option value=8 selected="selected">学生小组</option>
                                                    {%else %}
                                                    <option value=8>学生小组</option>
                                                    {%endif%}

                                                    {% if html_display.otype == 10%}
                                                    <option value=10 selected="selected">书院课程</option>
                                                    {%else %}
                                                    <option value=10>书院课程</option>
                                                    {%endif%}
                                                    <option value=10>书院课程</option>
                                                </select>

                                                {%else%}

                                                <select name="otype">
                                                    <option value=7>书院俱乐部</option>
                                                    <option value=8 selected="selected">学生小组</option>
                                                    <option value=10>书院课程</option>
                                                </select>
                                                {%endif%}
                                            </div>

                                            <div class="form-group form-row">
                                                <label class="col-sm-2 control-label uText">俱乐部相册</label>
                                                <div class="row">
                                                    <div class="col-xs-10 col-sm-8 mTop5">
                                                        <label title="上传俱乐部相册" for="ClubImagesUpload" id="btnClubImg"
                                                               class="col-sm-2">
                                                            <input type="file" accept="image/*" name="ClubImagesUpload"
                                                                   id="ClubImagesUpload" class="hide"
                                                                   multiple="multiple">
                                                            <img src="/media/upload.png"
                                                                 class="addImg"/>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label for="aintro">备注信息</label>
                                                {%if edit%}
                                                <textarea name="message" class="form-control"
                                                          rows="3"
                                                          placeholder="空">
                                                    {{html_display.introduction}}
                                                </textarea>
                                                {%else%}
                                                <textarea name="message" class="form-control"
                                                          rows="3"
                                                          placeholder="空">
                                                </textarea>
                                                {%endif%}
                                            </div>
                                            <br>
                                            <br>
                                            <hr>


                                            {%if edit%}
                                            <button type="submit" class="btn btn-primary btn-block mb-4 mr-2" value="">
                                                修改并提交
                                            </button>
                                            {%else%}
                                            <button type="submit" class="btn btn-primary btn-block mb-4 mr-2" value="">
                                                提交
                                            </button>
                                            {%endif%}
                                        </form>

                                        {%if edit%}

                                        <br>
                                        <hr>

                                        <div>
                                            {%for comment in comments%}
                                            <div class="form-group">
                                                <label for="aintro">{{comment.commentator}}于{{comment.time}}评论</label>
                                                <textarea name="comment" class="form-control">
                                                        {{comment.text}}
                                                    </textarea>
                                            </div>
                                            {% endfor %}
                                        </div>

                                        <form role="form" method="POST">
                                            <div>
                                                <div class="form-group">
                                                    <label>评论</label>
                                                    <textarea type="text" id="comment" name="comment"
                                                              class="form-control"
                                                              aria-label="Default" rows="3"
                                                              placeholder="Leave a comment">
                                                </textarea>
                                                    <br>
                                                    <div style="text-align:right;">
                                                        <button type="submit" class="btn btn-primary btn-sm mb-4 mr-2">
                                                            回复
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                        {%endif%}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--  END CONTENT AREA  -->

</div>
<!-- END MAIN CONTAINER -->

{% endblock %}
<script>

$("#btnClubImg").click(function() {
      var $input = $("#ClubImagesUpload");
     console.log($input);//打印当前元素
});

</script>





