{% extends "base.html" %}

{% load static %}


{% block mainpage %}
<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    {% include 'user_left_narbar.html' %}

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="container">
            <div class="container">
                {% if html_display.warn_code == 2 %}
            <div class="alert alert-success  text-center">{{html_display.warn_message}}</div>
            {% elif html_display.warn_code == 1%}
            <div class="alert alert-warning  text-center">{{html_display.warn_message}}</div>
            {% endif %}
                <div class="row layout-top-spacing">

                    <div class="col-lg-12 col-sm-12 col-12 layout-spacing">
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div class="statbox widget box box-shadow">

                                    <!--  BEGIN HEADER AREA  -->
                                    <div class="widget-header">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                <h4>审核报销</h4>
                                            </div>
                                        </div>
                                    </div>

                                    <!--  BEGIN CONTENT AREA  -->
                                    <div class="widget-content widget-content-area">

                                        <form role="form" method="POST" enctype="multipart/form-data">

                                            <div class="form-group">
                                                <label>组织名称</label>
                                                <textarea id="oname" name="oname" class="form-control"
                                                          aria-label="Default">
                                                {{html_display.oname}}</textarea>
                                            </div>

                                            <div class="form-group">
                                                <label>报销活动</label>
                                                <textarea id="activity_title" name="activity_title" class="form-control"
                                                          aria-label="Default">
                                                {{html_display.activity_title}}</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label>报销额度</label>
                                                <br>
                                                <textarea id="amount" name="amount" class="form-control"
                                                          aria-label="Default">
                                                {{html_display.amount}}</textarea>
                                            </div>

                                            <div class="form-group form-row">
                                                <label class="col-sm-2 control-label uText">报销材料</label>
                                                <div class="row">
                                                    <div class="col-xs-10 col-sm-8 mTop5">
                                                        <label title="报销材料">
                                                            <input type="file" accept="image/*"
                                                                   name="images"
                                                                   class="hide"
                                                                   multiple>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label for="aintro">备注信息</label>

                                                <textarea name="message" class="form-control"
                                                          rows="3"
                                                          placeholder="空">
                                                    {{html_display.message}}</textarea>
                                            </div>

                                            <div align="center">
                                                <table>
                                                    <tr>
                                                        <button type="submit" class="btn btn-primary btn-lg mb-4 mr-2"
                                                                name="submit"
                                                                value="1">
                                                            需要修改
                                                        </button>

                                                    </tr>
                                                    <tr>
                                                        <button type="submit" class="btn btn-primary btn-lg mb-4 mr-2"
                                                                name="submit"
                                                                value="2">
                                                            通过
                                                        </button>
                                                    </tr>

                                                    <tr>
                                                        <button type="submit" class="btn btn-primary btn-lg mb-4 mr-2"
                                                                name="submit"
                                                                value="3">
                                                            拒绝
                                                        </button>
                                                    </tr>
                                                </table>
                                            </div>

                                        </form>


                                        <br>
                                        <hr>

                                        <div>
                                            {%for comment in comments%}
                                            <div class="form-group">
                                                <label for="aintro">{{comment.commentator}}于{{comment.time}}评论</label>
                                                <textarea name="comment" class="form-control">
                                                        {{comment.text}}
                                                    </textarea>
                                            </div>
                                            {% endfor %}
                                        </div>

                                        <form role="form" method="POST">
                                            <div>
                                                <div class="form-group">
                                                    <label>评论</label>
                                                    <div>
                                                        <p style="color: rgb(66, 67, 68);" align="right"><i
                                                                class="fa fa-address-book"></i> {{me.oname}}</p>
                                                    </div>
                                                    <textarea type="text" id="comment" name="comment"
                                                              class="form-control"
                                                              aria-label="Default" rows="3"
                                                              placeholder="Leave a comment">
                                                </textarea>
                                                    <br>
                                                    <div>
                                                        <label title="报销材料">
                                                            <div style="text-align:left;">
                                                                <input type="file" accept="image/*"
                                                                       name="comment_images"
                                                                       class="hide"
                                                                       multiple>
                                                            </div>
                                                        </label>
                                                        <div style="text-align:right;">
                                                            <button type="submit"
                                                                    class="btn btn-primary btn-sm mb-4 mr-2"
                                                                    name="comment_submit" value="1">
                                                                回复
                                                            </button>
                                                        </div>

                                                    </div>


                                                </div>
                                            </div>
                                        </form>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--  END CONTENT AREA  -->

</div>
<!-- END MAIN CONTAINER -->

{% endblock %}
