{% extends "base.html" %}

{% block mainpage %}
<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    {% include 'user_left_narbar.html' %}

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="container">
            <div class="container">

                <div id="navSection" data-spy="affix" class="nav sidenav">
                    
                </div>

                <div class="row layout-top-spacing">
                    
                    <div id="tableDropdown" class="col-lg-12 col-12 layout-spacing">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>人员搜索</h4>
                                    </div>          
                                </div>
                            </div>
                            <div class="widget-content widget-content-area">
                                <div class="table-responsive">
                                    <table class="table table-bordered mb-4">
                                        <thead>
                                            <tr>
                                                <!-- <th>Name</th>
                                                <th>Gender</th>
                                                <th>Year</th>
                                                <th class="text-center">Major</th> -->
                                                <!-- <th class="text-center">Action</th> -->
                                                {% for attribute in people_field %}
                                                <th class="text-center"> {{attribute}} </th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for person in people_list %}
                                            <tr>
                                                <!-- <td><a href=../../stuinfo/{{i.pname}}+{{i.id}}>{{people.pname}}</a></td> -->
                                                <!--<td>{{people.pyear}}</td>
                                                <td>{{people.pnickname}}</td>
                                                <td>{{people.pgender}}</td>
                                                <td>{{people.pmajor}}</td>
                                                <td>{{people.pemail}}</td>
                                                <td>{{people.ptel}}</td>
                                                <td>{{people.pdorm}}</td>
                                                <td>{{people.pstatus}}</td> -->
                                                {% for attribute in person.show_info %}
                                                    {% if forloop.counter == 1 %}
                                                    <!-- 说明此时要展示姓名，关联链接 -->
                                                        <td class="text-center"><a href=../../stuinfo/{{person.pname}}+{{person.id}}>{{attribute}}</a></td>
                                                    {% else %}
                                                        <td class="text-center"> {{attribute}} </td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>

                                

                            </div>
                        </div>
                    </div>
                    <!-- add by syb -->
                    <div id="tableDropdown" class="col-lg-12 col-12 layout-spacing">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>组织搜索</h4>
                                    </div>          
                                </div>
                            </div>
                            <div class="widget-content widget-content-area">
                                <div class="table-responsive">
                                    <table class="table table-bordered mb-4">
                                        <thead>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>青年志愿者协会 </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>

                                

                            </div>
                        </div>
                    </div>                
                
                    

                </div>

            </div>
        </div>
        <div class="footer-wrapper">
            <div class="footer-section f-section-1">
                <p class="">Copyright © 2020 <a target="_blank" href="../../../designreset.html">YPPF Team</a>, All rights <a href="http://www.bootstrapmb.com">Reserved </a>.</p>
            </div>
            
        </div>
    </div>
    <!--  END CONTENT AREA  -->
</div>
<!-- END MAIN CONTAINER -->
{% endblock %}