{% extends "base.html" %}

{% load static %}

{% block add_css_file %}
    <link href="{% static "assets/css/select2/select2.min.css" %}" rel="stylesheet" />
{% endblock %}

{% block mainpage %}


<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">
    <!--  BEGIN WARN_MESSAGE  -->
    
    <!-- js发送成功后展示的提示信息 -->
    <div id="warn_msg" name="warn_msg" hidden></div> 
    
    <!-- 直接进入该页面时后端给出的提示信息 -->
    {% if warn_code == 1 %}
    <div class="alert alert-warning  text-center">{{ warn_message }}</div>
    {% elif warn_code == 2 %}
    <div class="alert alert-success  text-center">{{ warn_message }}</div>
    {% endif %}
    <!--  END WARN_MESSAGE  -->
        
    <div class="container">
        <div class="row layout-top-spacing">

            {% if bar_display.help_paragraphs %}
                {% include 'help.html' %}
            {% endif %}

            <div class="col-lg-12 col-12 layout-top-spacing">
                <div class="bio layout-spacing ">
                    <div class="widget-content widget-content-area">
                        <div class="d-flex justify-content-between">
                            <h3>问答中心</h3>
                            <!-- <div class="btn-group">
                                <div style="margin-left: 8px; ">
                                    <a data-toggle="dropdown">
                                        <h5><i class="fa fa-ellipsis-h"></i></h5>
                                    </a>
                                    <div class="dropdown-menu" style="max-width: 200%; max-height: 300%;">
                                        <form role="form" method="POST" enctype="multipart/form-data">
                                            <button class="dropdown-item" type="submit"
                                                name='close_all' value="1"
                                                onclick="return confirm('你确定要将全部问答关闭吗?')">关闭全部问答</button>
                                        </form>
                                    </div>
                                </div>
                            </div> -->
                        </div>

                        
                        <!--  BEGIN TAB TITLE  -->
                        <ul id="myTab" class="nav nav-tabs nav-tabs-solid nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" href="#sent" data-toggle="tab">
                                    <h5><i class="fa fa-envelope-o"></i> 我的提问</h5>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#received" data-toggle="tab">
                                    <h5><i class="fa fa-envelope-o"></i> 我的回答</h5>
                                </a>
                            </li>
                        </ul>
                        <!--  END TAB TITLE  -->

                        <!--  BEGIN TAB CONTENT  -->
                        <div id="myTabContent" class="tab-content">
                            <!--  BEGIN SENT CHATS  -->
                            <div class="tab-pane fade in active show" id="sent">
                                <div class="bio-skill-box">
                                    <div id="sent-list" class="row">
                                        <div class="col-md-12 mb-4">
                                            <button type="button"
                                                    class="btn btn-outline-primary btn-block"
                                                    data-toggle="modal"
                                                    data-target="#newQuestionModal">
                                                发起新的提问
                                            </button>
                                        </div>

                                        <!-- BEGIN NEW QUESTION MODAL -->
                                        <div class="modal fade" id="newQuestionModal" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-labelledby="questionModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="questionModalLabel">编辑问题</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <div>
                                                        <div>
                                                            <label>主题</label>
                                                            <textarea type="text" id="comment_title" name="comment_title"
                                                                class="form-control"
                                                                aria-label="Default" rows="1"
                                                                placeholder="50字以内，可以为空"></textarea>
                                                            <br>
                                                            <label>问题描述</label>
                                                            <textarea type="text" id="comment" name="comment" 
                                                                    class="form-control"
                                                                    aria-label="Default" rows="5"
                                                                    placeholder="具体内容不能为空"></textarea> <!-- 因为创建问答要复用comment_utils.py，这里必须叫“comment”  -->
                                                            <br>
                                                            <label>
                                                                提问对象
                                                            </label>
                                                            <select name="type" id="target_type" class="form-control">
                                                                <option value="keywords" selected>
                                                                    根据关键词发送
                                                                </option>
                                                                <option value="personal">
                                                                    向指定同学发送
                                                                </option>
                                                            </select>
                                                            <br>
                                                            <div id="select_keywords_tab">
                                                                <label>关键词
                                                                    <a data-toggle="tooltip" data-placement="bottom" title="选择或输入目标回答者的年级、专业方向、选修双学位、参与学业活动等信息">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                                            class="bi bi-question-circle-fill" viewBox="0 0 22 22">
                                                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                                                                        </svg>
                                                                    </a>
                                                                </label>
                                                                <select class="select_keywords" name="keywords" value="" required multiple="multiple" style="width: 100%; z-index: 200;">
                                                                </select>
                                                            </div>
                                                            
                                                            <div id="select_receiver_tab" style="display:none">
                                                                <label>姓名
                                                                </label>
                                                                <select class="select_receiver" name="receiver" value="" required multiple="multiple" style="width: 100%; z-index: 200;">
                                                                </select>
                                                            </div>
                                                            
                                                            
                                                        </div>
                                                        <br />
                                                        <div class="d-flex justify-content-between">
                                                            <div class="" style="text-align: right;">
                                                                <label>  
                                                                    <input type="checkbox" id="comment_anonymous" name="comment_anonymous" style="vertical-align:middle;" />
                                                                    <span style="vertical-align:middle;" >匿名提问&emsp;</span>
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">放弃修改</button>
                                                <button type="/button"
                                                        class="btn btn-primary"
                                                        name="comment_submit"
                                                        id="comment_submit"
                                                        onclick="start_chat()">
                                                        发送问题
                                                </button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
										<!-- END NEW QUESTION MODAL -->

                                        {% if sent_chats.progressing|length == 0 and sent_chats.not_progressing|length == 0 %}
                                        	<div id="sent-empty" class="col-md-12">
                                    			<p style="text-align: center;">您还没有进行过任何提问.</p>
                                			</div>
                                		{% endif %}
                                        <!--  BEGIN SENT PROGRESSING CHATS  -->
                                        {% for chat in sent_chats.progressing %}
                                        <div class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 " id="sent-undone={{chat.id}}">
                                            <div class=" b-skills">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <h5>
                                                            <a href='{{chat.chat_url}}'><u>{{chat.title}}</u></a>
                                                            <span class="badge badge-primary">{{chat.status}}</span><br>
                                                        </h5>
                                                    </div>

                                                    <div class="btn-group">
                                                        <div style="margin-left: 8px; ">
                                                            <div class="btn-group">
                                                                <button type="button"
                                                                    class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                                                    data-toggle="dropdown" style="display:block;white-space:nowrap;overflow:hidden; ">
                                                                    操作
                                                                </button>
                                                                <div class="dropdown-menu">
                                                                    <a href='{{chat.chat_url}}'><button class="dropdown-item">查看详情</button></a>
                                                                    <button class="dropdown-item" type="submit" 
                                                                            name='close_chat' value="{{chat.id}}" 
                                                                            onclick="close_chat(this)">关闭问答
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-address-book" style="width: 10px;"></i>
                                                    <span class="ml-1">
                                                        {% if not chat.respondent_anonymous %}
                                                          {% if chat.questioner_anonymous %}
                                                          <b>[匿名]</b>
                                                          {% endif %}
                                                           发给&nbsp;<b>
                                                            <a href='{{chat.academic_url}}#tab=academic_map'><u>{{chat.respondent_name}}</u></a>
                                                            </b>
                                                        {% else %}
                                                        <b> 非定向提问 </b>
                                                        {% endif %}
                                                    </span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-bell" style="width: 10px;"></i>
                                                    <span class="ml-1">上次更新于{{chat.last_modification_time}}</span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-envelope" style="width: 14px;"></i>
                                                    <span class="ml-1">发起于{{chat.start_time}}</span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-comments" style="width: 14px;"></i>
                                                    <span class="ml-1">共{{chat.message_count}}条信息</span>
                                                </p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!--  END SENT PROGRESSING CHATS  -->

                                        <!--  BEGIN SENT NOT_PROGRESSING CHATS  -->
                                        {% for chat in sent_chats.not_progressing %}
                                        <div class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 " id="sent-done={{chat.id}}">
                                            <div class=" b-skills">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <h5>
                                                            <a href='{{chat.chat_url}}'><u>{{chat.title}}</u></a>
                                                            {% if chat.status == "已关闭" %}
                                                            <span class="badge badge-success">{{chat.status}}</span>
                                                            {% else %}
                                                            <span class="badge badge-danger">{{chat.status}}</span>
                                                            {% endif %}
                                                        </h5>
                                                    </div>

                                                    <div class="btn-group">
                                                        <div style="margin-left: 8px; ">
                                                            <div class="btn-group">
                                                                <button type="button"
                                                                    class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                                                    data-toggle="dropdown" style="display:block;white-space:nowrap;overflow:hidden; ">
                                                                    操作
                                                                </button>
                                                                <div class="dropdown-menu">
                                                                    <a href='{{chat.chat_url}}'><button class="dropdown-item">查看详情</button></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-address-book" style="width: 10px;"></i>
                                                    <span class="ml-1">
                                                        {% if not chat.respondent_anonymous %}
                                                          {% if chat.questioner_anonymous %}
                                                          <b>[匿名]</b>
                                                          {% endif %}
                                                           发给&nbsp;<b>
                                                            <a href='{{chat.academic_url}}#tab=academic_map'><u>{{chat.respondent_name}}</u></a>
                                                            </b>
                                                        {% else %}
                                                        <b> 非定向提问 </b>
                                                        {% endif %}
                                                    </span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-bell" style="width: 10px;"></i>
                                                    <span class="ml-1">上次更新于{{chat.last_modification_time}}</span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-envelope" style="width: 14px;"></i>
                                                    <span class="ml-1">发起于{{chat.start_time}}</span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-comments" style="width: 14px;"></i>
                                                    <span class="ml-1">共{{chat.message_count}}条信息</span>
                                                </p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!--  END SENT NOT_PROGRESSING CHATS  -->
                                    </div>
                                </div>
                            </div>
                            <!--  END SENT CHATS  -->

                            <!--  BEGIN RECEIVED CHATS  -->
                            <div class="tab-pane fade" id="received">
                                <div id="received-empty" style="display: none; margin-top: 40px; margin-bottom: -40px;">
                                    <p style="text-align: center;">您没有收到任何提问.</p>
                                </div>
                                <div class="bio-skill-box">
                                    <div id="received-list" class="row">
                                        <!--  BEGIN RECEIVED PROGRESSING CHATS  -->
                                        {% for chat in received_chats.progressing %}
                                        <div class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 " id="received-undone={{chat.id}}">
                                            <div class=" b-skills">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <h5>
                                                            <a href='{{chat.chat_url}}'><u>{{chat.title}}</u></a>
                                                            <span class="badge badge-primary">{{chat.status}}</span><br />
                                                        </h5>
                                                    </div>
                                                    
                                                    <div class="btn-group">
                                                        <div style="margin-left: 8px; ">
                                                            <div class="btn-group">
                                                                <button type="button"
                                                                    class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                                                    data-toggle="dropdown" style="display:block;white-space:nowrap;overflow:hidden; ">
                                                                    操作
                                                                </button>
                                                                <div class="dropdown-menu">
                                                                    <a href='{{chat.chat_url}}'><button class="dropdown-item">查看详情</button></a>
                                                                    <button class="dropdown-item" type="submit" 
                                                                            name='close_chat' value="{{chat.id}}" 
                                                                            onclick="close_chat(this)">关闭问答
                                                                    </button>    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-address-book" style="width: 10px;"></i>
                                                    <span class="ml-1">
                                                        <b>
                                                        {% if chat.questioner_anonymous %}
                                                        来自&nbsp;匿名用户
                                                        {% else %}
                                                        来自&nbsp;<a href='{{chat.academic_url}}#tab=academic_map'><u>{{chat.questioner_name}}</u></a>
                                                        {% endif %}
                                                        </b>
                                                    </span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-bell" style="width: 10px;"></i>
                                                    <span class="ml-1">上次更新于{{chat.last_modification_time}}</span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-envelope" style="width: 14px;"></i>
                                                    <span class="ml-1">发起于{{chat.start_time}}</span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-comments" style="width: 14px;"></i>
                                                    <span class="ml-1">共{{chat.message_count}}条信息</span>
                                                </p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!--  END RECEIVED PROGRESSING CHATS  -->

                                        <!--  BEGIN RECEIVED NOT_PROGRESSING CHATS  -->
                                        {% for chat in received_chats.not_progressing %}
                                        <div class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 " id="received-done={{chat.id}}">
                                            <div class=" b-skills">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <h5>
                                                            <a href='{{chat.chat_url}}'><u>{{chat.title}}</u></a>
                                                            {% if chat.status == "已关闭" %}
                                                            <span class="badge badge-success">{{chat.status}}</span>
                                                            {% else %}
                                                            <span class="badge badge-danger">{{chat.status}}</span>
                                                            {% endif %}
                                                        </h5>
                                                    </div>

                                                    <div class="btn-group">
                                                        <div style="margin-left: 8px; ">
                                                            <div class="btn-group">
                                                                <button type="button"
                                                                    class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                                                    data-toggle="dropdown" style="display:block;white-space:nowrap;overflow:hidden; ">
                                                                    操作
                                                                </button>
                                                                <div class="dropdown-menu">
                                                                    <a href='{{chat.chat_url}}'><button class="dropdown-item">查看详情</button></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-address-book" style="width: 10px;"></i>
                                                    <span class="ml-1">
                                                        来自&nbsp;
                                                        {% if chat.academic_url != "" %}
                                                        <b><a href='{{chat.academic_url}}#tab=academic_map'><u>{{chat.questioner_name}}</u></a></b>
                                                        {% else %}
                                                        <b>{{chat.questioner_name}}</b>
                                                        {% endif %}
                                                    </span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-bell" style="width: 10px;"></i>
                                                    <span class="ml-1">上次更新于{{chat.last_modification_time}}</span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-envelope" style="width: 14px;"></i>
                                                    <span class="ml-1">发起于{{chat.start_time}}</span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-comments" style="width: 14px;"></i>
                                                    <span class="ml-1">共{{chat.message_count}}条信息</span>
                                                </p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!--  END RECEIVED NOT_PROGRESSING CHATS  -->
                                    </div>
                                </div>
                            </div>
                            <!--  END RECEIVED CHATS  -->
                        </div>
                        <!--  END TAB CONTENT  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  END CONTENT AREA  -->
{% endblock %}

{% block add_js_file %}
<script src={% static "assets/js/select2/select2.min.js" %}></script>

<script type="text/javascript">
    // 用于选择标签的组件初始化
    function matchCustom(params, data) {
        // If there are no search terms, return all of the data
        if ($.trim(params.term) === '') {
            return data;
        }
        // Do not display the item if there is no 'text' property
        if (typeof data.text === 'undefined') {
            return null;
        }
        // `params.term` should be the term that is used for searching
        // `data.text` is the text that is displayed for the data object
        if (data.text.indexOf(params.term) > -1) {
            //var modifiedData = $.extend({}, data, true);
            //modifiedData.text += ' (matched)';
            return data;
            // You can return modified objects from here
            // This includes matching the `children` how you want in nested data sets
            //return modifiedData;
        }
        if (data.pinyin && data.pinyin.indexOf(params.term) > -1 ){
            return data;
        }
        // Return `null` if the term should not be displayed
        return null;
    }
    
    let stu_data = {{ stu_list | safe }};
    let tag_data = {{ tag_list | safe }};

    $(document).ready(function () {
        $('.select_keywords').select2({
            theme: "classic",
            placeholder: "请选择1-3个标签",
            allowClear: true,
            data: tag_data,
            matcher: matchCustom,
            maximumSelectionLength: 3,
        });
        $('.select_receiver').select2({
            theme: "classic",
            placeholder: "搜索提问目标",
            allowClear: true,
            data: stu_data,
            matcher: matchCustom,
            maximumSelectionLength: 1,
        });
        $("#target_type").on("change",(e)=>{
            let target_type = $("#target_type").val();
            if (target_type === "keywords"){
                $('#select_keywords_tab').show();
                $('#select_receiver_tab').hide();
            }
            else {
                $('#select_keywords_tab').hide();
                $('#select_receiver_tab').show();
            }
        })
    })
</script>

<script type="text/javascript">
    $('.nav-tabs').on('shown.bs.tab', 'a', function (e) {
        if (e.relatedTarget) {
            $(e.relatedTarget).removeClass('active');
        }
    })
    {% comment %} 
    $('.table').bootstrapTable({
        onLoadSuccess: function () {
            $('.table tr td').each(function () {

                $(this).attr("title", $(this).text());
                $(this).css("cursor", 'pointer');
            });

        }
    })
    {% endcomment %}
    
</script>

<script type="text/javascript">
    // post请求后会reload，reload之后需要在顶部显示warn_message，
    // 而通常情况下history.scrollRestoration="auto"会导致reload后页面滚动到刷新前浏览的位置，有可能看不见顶部的warn_message
    // 需要用下面这两个函数手工处理一下

    // 关于如何在刷新页面后执行某些操作，参考了https://stackoverflow.com/a/41905026
    // 关于scrollRestoration，参考了https://stackoverflow.com/a/33004917 。
    //      不修改scrollRestoration，直接window.scrollTo(0, 0)似乎是不行的：
    //          如果写在window.onbeforeunload里，刷新后会停在刚好看不到warn_message的位置(可能是因为warn_msg的div在刷新前的页面是hidden的)；
    //          如果写在window.onload里，则不起作用，刷新后还是停在刷新前浏览的位置

    // 此外，下面这两个函数还顺便实现了刷新页面后进入刷新前的tab
    //      如果没有这个功能的话，假设用户在"我收到的提问"tab中滑动到某个位置，随后点击刷新，会进入到默认打开的"我发出的提问"tab的这个位置，稍微有点混乱。
    window.onbeforeunload = function () {
        // 这个函数发生在每次reload之前，准确地说是unload之前
        if ('scrollRestoration' in history)  // 如果有刷新后自动滚动的功能
        {
            if (sessionStorage.getItem("reloading") == "chatRelatedReloading"){ // 刷新是js提交导致的
                history.scrollRestoration = 'manual'; // 禁用自动滚动，reload后回顶部
            }
            else { // 其他原因导致的刷新
                history.scrollRestoration = 'auto'; // 启用自动滚动
            }
        }
        // 记录当前打开的tab
        if ($(".nav-tabs .nav-item .nav-link").eq(0).hasClass("active")){
            sessionStorage.setItem("showChatsOpenTab", 0);
            sessionStorage.setItem("showChatsOpenTabName", "sent");
        }
        else {
            sessionStorage.setItem("showChatsOpenTab", 1);
            sessionStorage.setItem("showChatsOpenTabName", "received");
        }
    }

    window.onload = function() { 
        // 这个函数发生在每次reload之后，准确地说是load之后
        // 如果history.scrollRestoration = "auto"，则这个函数执行完后会自动scroll到刷新前浏览的位置；如果history.scrollRestoration = "manual"，则不会
        var reloading = sessionStorage.getItem("reloading");
        var warn_code = sessionStorage.getItem("warn_code");
        var warn_msg_content = sessionStorage.getItem("warn_message"); // js发送成功后会在sessionStorage设置warn_code、warn_message、reloading
        
        // 恢复刷新前的tab
        $(".nav-tabs .nav-item .nav-link").eq(
            sessionStorage.getItem("showChatsOpenTab")).addClass("active").parent().siblings().children().removeClass("active");
        $("#"+sessionStorage.getItem("showChatsOpenTabName")).addClass("show active").siblings().removeClass("show active");

        if (reloading == "chatRelatedReloading") { // 刷新是js提交导致的
            sessionStorage.removeItem("reloading"); // 清除掉，这样以后普通的页面刷新不会进这个if
            // 显示warn_message
            if (warn_code == 1){
                warn_msg = document.getElementById("warn_msg");
                warn_msg.className = "alert alert-warning  text-center";
                warn_msg.innerHTML = warn_msg_content
                warn_msg.hidden = false;
            }
            else if (warn_code == 2){
                warn_msg = document.getElementById("warn_msg");
                warn_msg.className = "alert alert-success  text-center";
                warn_msg.innerHTML = warn_msg_content;
                warn_msg.hidden = false;
            }
        }
    }
    
    function start_chat() { // 创建新问答
        confirm_res = confirm('是否确认提问?');
        if (confirm_res == 0){
            return;
        }
		// 准备请求
		let data = {
			comment: document.getElementById("comment").value,
			comment_submit: 1,
			comment_title: document.getElementById("comment_title").value,
			comment_anonymous: document.getElementById("comment_anonymous").checked, // 这里转换为Boolean的话是false/true，而后端需要False/True，所以在后端转为bool()
		}
		let target_type = $("#target_type").val();
        console.log(target_type)
		let target_url = "";
        if (target_type === "keywords"){
            target_url = "/startUndirectedChat/";
		    data.keywords = $(".select_keywords").select2("data").map(option => option.text).slice(0,3).join(",")
        }
        else if (target_type === "personal"){
            target_url = "/startChat/";
            data.receiver_id = $(".select_receiver").val()[0];
        }

        $.ajax({
            url: target_url,
            type: "post",
            data: data,
            success: function(context){
                // console.log(context)
                if (context.warn_code){
                    if (context.warn_message != "发送成功。") { // 发送信息成功效果比较明显，没必要专门给出warn_message了
                        sessionStorage.setItem("reloading", "chatRelatedReloading");
                        sessionStorage.setItem("warn_code", context.warn_code);
                        sessionStorage.setItem("warn_message", context.warn_message);
                    }
                }
                document.location.reload(true);
            }
        })
    }

    function close_chat(a) { // 关闭问答
        confirm_res = confirm('确认关闭该问答？关闭后，问答双方无法再通过此问答发送消息.');
        if (confirm_res == 0){
            return;
        }
        $.ajax({
            url: "/closeChat/",
            type: "post",
            data:{
                chat_id: Number(a.value),
            },
            success: function(context){
                // console.log(context)
                if (context.warn_code){
                    sessionStorage.setItem("reloading", "chatRelatedReloading");
                    sessionStorage.setItem("warn_code", context.warn_code);
                    sessionStorage.setItem("warn_message", context.warn_message);
                }
                document.location.reload(); // 刷新页面
            }
        })
    }
</script>

{% endblock %}
