{% extends "base.html" %}


{% block mainpage %}


<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">
    <!--  BEGIN WARN_MESSAGE  -->
    {% if warn_code == 1 %}
    <div class="alert alert-warning  text-center">{{ warn_message }}</div>
    {% elif warn_code == 2 %}
    <div class="alert alert-success  text-center">{{ warn_message }}</div>
    {% endif %}
    <!--  END WARN_MESSAGE  -->
        
    <div class="container">
        <div class="row layout-top-spacing">

            {% if bar_display.help_paragraphs %}
                {% include 'help.html' %}
            {% endif %}

            <div class="col-lg-12 col-12 layout-top-spacing">
                <div class="bio layout-spacing ">
                    <div class="widget-content widget-content-area">
                        <div class="d-flex justify-content-between">
                            <h3>问答中心</h3>
                            <!-- <div class="btn-group">
                                <div style="margin-left: 8px; ">
                                    <a data-toggle="dropdown">
                                        <h5><i class="fa fa-ellipsis-h"></i></h5>
                                    </a>
                                    <div class="dropdown-menu" style="max-width: 200%; max-height: 300%;">
                                        <form role="form" method="POST" enctype="multipart/form-data">
                                            <button class="dropdown-item" type="submit"
                                                name='close_all' value="1"
                                                onclick="return confirm('你确定要将全部问答关闭吗?')">关闭全部问答</button>
                                        </form>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        
                        
                        <!--  BEGIN TAB TITLE  -->
                        <ul id="myTab" class="nav nav-tabs nav-tabs-solid nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" href="#sent" data-toggle="tab">
                                    <h5><i class="fa fa-envelope-o"></i> 我发出的提问</h5>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#received" data-toggle="tab">
                                    <h5><i class="fa fa-envelope-o"></i> 我收到的提问</h5>
                                </a>
                            </li>
                        </ul>
                        <!--  END TAB TITLE  -->

                        <!--  BEGIN TAB CONTENT  -->
                        <div id="myTabContent" class="tab-content">
                            <!--  BEGIN SENT CHATS  -->
                            <div class="tab-pane fade in active show" id="sent">
                                <div id="sent-empty" style="display: none; margin-top: 40px; margin-bottom: -40px;">
                                    <p style="text-align: center;">您没有进行过任何提问，可前往感兴趣的学术地图页面发起提问.</p>
                                </div>
                                <div class="bio-skill-box">
                                    <div id="sent-list" class="row">
                                        <!--  BEGIN SENT PROGRESSING CHATS  -->
                                        {% for chat in sent_chats.progressing %}
                                        <div class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 " id="sent-undone={{chat.id}}">
                                            <div class=" b-skills">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <h5>
                                                            <a href='{{chat.chat_url}}'><u>{{chat.title}}</u></a>
                                                            <span class="badge badge-primary">{{chat.status}}</span><br />
                                                        </h5>
                                                    </div>

                                                    <div class="btn-group">
                                                        <div style="margin-left: 8px; ">
                                                            <div class="btn-group">
                                                                <button type="button"
                                                                    class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                                                    data-toggle="dropdown" style="display:block;white-space:nowrap;overflow:hidden; ">
                                                                    操作
                                                                </button>
                                                                <div class="dropdown-menu">
                                                                    <a href='{{chat.chat_url}}'><button class="dropdown-item">查看详情</button></a>
                                                                    
                                                                    <form role="form" method="POST" enctype="multipart/form-data">
                                                                        <button class="dropdown-item" type="submit" 
                                                                            name='close_chat' value="{{chat.id}}" 
                                                                            onclick="return confirm('确认关闭该问答？关闭后，问答双方无法再通过此问答发送消息.')">关闭问答</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-address-book" style="width: 10px;"></i>
                                                    <span class="ml-1">
                                                        {% if chat.anonymously_sent %}
                                                        <b>[匿名]</b>
                                                        {% endif %}
                                                        发给&nbsp;<b><a href='{{chat.academic_url}}#tab=academic_map'><u>{{chat.receiver_name}}</u></a></b>
                                                    </span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-bell" style="width: 10px;"></i>
                                                    <span class="ml-1">上次更新于{{chat.last_modification_time}}</span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-envelope" style="width: 14px;"></i>
                                                    <span class="ml-1">发起于{{chat.start_time}}</span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-comments" style="width: 14px;"></i>
                                                    <span class="ml-1">共{{chat.message_count}}条信息</span>
                                                </p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!--  END SENT PROGRESSING CHATS  -->

                                        <!--  BEGIN SENT NOT_PROGRESSING CHATS  -->
                                        {% for chat in sent_chats.not_progressing %}
                                        <div class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 " id="sent-done={{chat.id}}">
                                            <div class=" b-skills">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <h5>
                                                            <a href='{{chat.chat_url}}'><u>{{chat.title}}</u></a>
                                                            {% if chat.status == "已关闭" %}
                                                            <span class="badge badge-success">{{chat.status}}</span>
                                                            {% else %}
                                                            <span class="badge badge-danger">{{chat.status}}</span>
                                                            {% endif %}
                                                        </h5>
                                                    </div>
                                                </div>
                                                
                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-address-book" style="width: 10px;"></i>
                                                    <span class="ml-1">
                                                        {% if chat.anonymously_sent %}
                                                        <b>[匿名]</b>
                                                        {% endif %}
                                                        发给&nbsp;<b><a href='{{chat.academic_url}}#tab=academic_map'><u>{{chat.receiver_name}}</u></a></b>
                                                    </span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-bell" style="width: 10px;"></i>
                                                    <span class="ml-1">上次更新于{{chat.last_modification_time}}</span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-envelope" style="width: 14px;"></i>
                                                    <span class="ml-1">发起于{{chat.start_time}}</span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-comments" style="width: 14px;"></i>
                                                    <span class="ml-1">共{{chat.message_count}}条信息</span>
                                                </p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!--  END SENT NOT_PROGRESSING CHATS  -->
                                    </div>
                                </div>
                            </div>
                            <!--  END SENT CHATS  -->

                            <!--  BEGIN RECEIVED CHATS  -->
                            <div class="tab-pane fade" id="received">
                                <div id="received-empty" style="display: none; margin-top: 40px; margin-bottom: -40px;">
                                    <p style="text-align: center;">您没有收到任何提问.</p>
                                </div>
                                <div class="bio-skill-box">
                                    <div id="received-list" class="row">
                                        <!--  BEGIN RECEIVED PROGRESSING CHATS  -->
                                        {% for chat in received_chats.progressing %}
                                        <div class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 " id="received-undone={{chat.id}}">
                                            <div class=" b-skills">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <h5>
                                                            <a href='{{chat.chat_url}}'><u>{{chat.title}}</u></a>
                                                            <span class="badge badge-primary">{{chat.status}}</span><br />
                                                        </h5>
                                                    </div>
                                                    
                                                    <div class="btn-group">
                                                        <div style="margin-left: 8px; ">
                                                            <div class="btn-group">
                                                                <button type="button"
                                                                    class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                                                    data-toggle="dropdown" style="display:block;white-space:nowrap;overflow:hidden; ">
                                                                    操作
                                                                </button>
                                                                <div class="dropdown-menu">
                                                                    <a href='{{chat.chat_url}}'><button class="dropdown-item">查看详情</button></a>
                                                                    
                                                                    <form role="form" method="POST" enctype="multipart/form-data">
                                                                        <button class="dropdown-item" type="submit" 
                                                                            name='close_chat' value="{{chat.id}}" 
                                                                            onclick="return confirm('确认关闭该问答？关闭后，问答双方无法再通过此问答发送消息.')">关闭问答</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-address-book" style="width: 10px;"></i>
                                                    <span class="ml-1">
                                                        来自&nbsp;
                                                        {% if chat.academic_url != "" %}
                                                        <b><a href='{{chat.academic_url}}#tab=academic_map'><u>{{chat.sender_name}}</u></a></b>
                                                        {% else %}
                                                        <b>{{chat.sender_name}}</b>
                                                        {% endif %}
                                                    </span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-bell" style="width: 10px;"></i>
                                                    <span class="ml-1">上次更新于{{chat.last_modification_time}}</span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-envelope" style="width: 14px;"></i>
                                                    <span class="ml-1">发起于{{chat.start_time}}</span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-comments" style="width: 14px;"></i>
                                                    <span class="ml-1">共{{chat.message_count}}条信息</span>
                                                </p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!--  END RECEIVED PROGRESSING CHATS  -->

                                        <!--  BEGIN RECEIVED NOT_PROGRESSING CHATS  -->
                                        {% for chat in received_chats.not_progressing %}
                                        <div class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 " id="received-done={{chat.id}}">
                                            <div class=" b-skills">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <h5>
                                                            <a href='{{chat.chat_url}}'><u>{{chat.title}}</u></a>
                                                            {% if chat.status == "已关闭" %}
                                                            <span class="badge badge-success">{{chat.status}}</span>
                                                            {% else %}
                                                            <span class="badge badge-danger">{{chat.status}}</span>
                                                            {% endif %}
                                                        </h5>
                                                    </div>
                                                </div>
                                                
                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-address-book" style="width: 10px;"></i>
                                                    <span class="ml-1">
                                                        来自&nbsp;
                                                        {% if chat.academic_url != "" %}
                                                        <b><a href='{{chat.academic_url}}#tab=academic_map'><u>{{chat.sender_name}}</u></a></b>
                                                        {% else %}
                                                        <b>{{chat.sender_name}}</b>
                                                        {% endif %}
                                                    </span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-bell" style="width: 10px;"></i>
                                                    <span class="ml-1">上次更新于{{chat.last_modification_time}}</span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-envelope" style="width: 14px;"></i>
                                                    <span class="ml-1">发起于{{chat.start_time}}</span>
                                                </p>

                                                <p style="color: rgb(66, 67, 68);">
                                                    <i class="fa fa-comments" style="width: 14px;"></i>
                                                    <span class="ml-1">共{{chat.message_count}}条信息</span>
                                                </p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!--  END RECEIVED NOT_PROGRESSING CHATS  -->
                                    </div>
                                </div>
                            </div>
                            <!--  END RECEIVED CHATS  -->
                        </div>
                        <!--  END TAB CONTENT  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  END CONTENT AREA  -->


<script>
    $('.nav-tabs').on('shown.bs.tab', 'a', function (e) {
        if (e.relatedTarget) {
            $(e.relatedTarget).removeClass('active');
        }
    })
    $('.table').bootstrapTable({
        onLoadSuccess: function () {
            $('.table tr td').each(function () {

                $(this).attr("title", $(this).text());
                $(this).css("cursor", 'pointer');
            });

        }
    })
</script>

{% endblock %}
