{% extends "base.html" %}

{% block mainpage %}
<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    {% include 'user_left_narbar.html' %}

    <!--  BEGIN CONTENT AREA  -->
    <div class="container-fluid p-0" id="content">

        {% if html_display.warn_code == 2 %}
        <div class="alert alert-success text-center">{{html_display.warn_message}}</div>
        {% elif html_display.warn_code == 1%}
        <div class="alert alert-warning text-center">{{html_display.warn_message}}</div>
        {% endif %}

        <!--  BEGIN WALLPAPER SECTION  -->
        <div class="d-flex m-0 p-0 overflow-hidden" style="height: 35vh">
            <div class="d-flex w-100 align-self-center">
                <img class="w-100" src={{ context.wallpaper_path }} alt="wallpaper">
            </div>
            <div class="row m-0 w-100 position-absolute" style="height: 35vh;">
                <div class="w-100 h-100 m-0 p-0 position-absolute">
                    <div class="row w-100 m-0" style="height: 60%"></div>
                    <div class="row w-100 m-0"
                        style="height: 40%; background: -webkit-linear-gradient(top, #00000000 0%, #000000dd 100%);">
                    </div>
                </div>
                <div class="row m-0 w-100 align-self-center">
                    <div class="col-1"></div>
                    <div class="row col-6">
                        <div class="col-0">
                            <img class="img-thumbnail" src={{ context.avatar_path }} height="90px" width="90px"
                                alt="avatar">
                        </div>
                        <div class="row col-1"></div>
                        <div class="row col">
                            <h1 class="my-auto align-self-center font-weight-bold text-light"
                                style="font-size: 60px; text-shadow: 2px 2px 5px #000000">
                                {{ context.userinfo.name }}</h1>
                        </div>
                        <div class="row col-1"></div>
                        <div class="row col">
                            <p class="align-self-end">{{ context.userinfo.biography }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  END WALLPAPER SECTION  -->

        <!--  BEGIN SWITCH TAB  -->
        <ul class="nav nav-tabs nav-tabs-solid nav-justified" role="tablist">
            <li class="nav-item">
                <b class="nav-link active" data-toggle="tab" role="tab" href="#information">个人信息</b>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" href="#organization">ta的组织</a> <!-- TODO: 他/她/ta -->
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" href="#activity">ta的活动</a>
            </li>
        </ul>
        <!--  END SWITCH TAB  -->

        <div class="container-fluid tab-content" id="myTabContent">
            <!--  BEGIN INFORMATION TAB  -->
            <div class="tab-pane fade show active" id="information" role="tabpanel"></div>
            <!--  END INFORMATION TAB  -->

            <!--  BEGIN ORGANIZATION TAB  -->
            <div class="tab-pane fade" id="organization" role="tabpanel">
                <div class="container-fluid layout-px-spacing layout-top-spacing">
                    <div class="bio layout-spacing">
                        <div class="widget-content widget-content-area">

                            <h3 class="mb-0">加入的组织</h3>
                            <div class="bio-skill-box overflow-auto" style="white-space: nowrap;">

                                {% for org, pos in html_display.join_org_list %}
                                <div class="col-12 col-xl-5 col-lg-12" style="display: inline-block">
                                    <div class="b-skills">
                                        <div class="">
                                            <a href="/orginfo/{{ org.oname }}">
                                                <h5>{{ org.oname }}</h5>
                                            </a>
                                            <p>{{ org.introduction }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--  END ORGANIZATION TAB  -->

            <!--  BEGIN ACTIVITY TAB  -->
            <div class="tab-pane fade" id="activity" role="tabpanel">
                <div class="container-fluid layout-px-spacing layout-top-spacing">
                    <div class="bio education layout-spacing ">
                        <div class="widget-content widget-content-area">

                            <h3 class="mb-0">参与的活动</h3>
                            <div class="timeline-alter bio bio-skill-box">

                                {% for activity, status, activity_color, attend_color in html_display.activity_info %}
                                <div class="item-timeline">
                                    <div class="t-meta-date">
                                        <p class="">{{ activity.start }}</p>
                                    </div>
                                    <div class="t-dot" data-original-title="" title="">
                                    </div>
                                    <div class="t-text col-8">
                                        <div class="row b-skills">
                                            <div class="col-3">
                                                <a class="row m-0" href="/viewActivity/{{ activity.id }}">
                                                    <h5>{{ activity.title }}
                                                        <span class="text-{{ activity_color }}">
                                                            [{{ activity.status }}]</span>
                                                    </h5>
                                                </a>
                                                <p class="row">{{ activity.organization_id }}</p>
                                            </div>
                                            <div class="row col-9">
                                                <p class="col-10">{{ activity.introduction }}</p>
                                                <p class="col-2 text-{{ attend_color }} float-right">
                                                    {{ status }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  END ACTIVITY TAB  -->
        </div>

    </div>
    <!--  END CONTENT AREA  -->
</div>
<!-- END MAIN CONTAINER -->
{% endblock %}