{% extends "base.html" %}

{% block mainpage %}

<div class="main-content" id="content">

    <!--  BEGIN CONTENT AREA  -->

    {% if html_display.warn_code == 2 %}
    <div class="alert alert-success text-center mb-0">{{html_display.warn_message}}</div>
    {% elif html_display.warn_code == 1%}
    <div class="alert alert-warning text-center mb-0">{{html_display.warn_message}}</div>
    {% endif %}

    <!--  BEGIN WALLPAPER SECTION  -->
    <div class="d-flex m-0 p-0 overflow-hidden" style="height: 35vh">
        <div class="d-flex w-100 align-self-center">
            <img class="w-100" src={{ context.wallpaper_path }} alt="wallpaper">
        </div>
        <div class="row m-0 w-100 position-absolute" style="height: 35vh;">
            <div class="w-100 h-100 m-0 p-0 position-absolute">
                <div class="row w-100 m-0" style="height: 60%"></div>
                <div class="row w-100 m-0"
                    style="height: 40%; background: -webkit-linear-gradient(top, #00000000 0%, #000000dd 100%);">
                </div>
            </div>
            <div class="row m-0 w-100 align-self-center">
                <div class="col-1"></div>
                <div class="row col-11">
                    <div class="col-1"></div>
                    <div class="col-0">
                        <img class="img-thumbnail" src={{ context.avatar_path }} alt="avatar" style="height: 90px;
                            width: 90px;">
                    </div>
                    <div style="width: 25px;"></div>
                    <div class="row col-0" style="width: max-width;">
                        <h1 class="my-auto align-self-center font-weight-bold text-light"
                            style="font-size: 60px; text-shadow: 2px 2px 5px #000000">
                            {{ context.person.name }}</h1>
                    </div>
                    <div style="width: 25px;"></div>
                    <div class="row col-lg-6 col-md-12">
                        <div class="col-1"></div>
                        <p class="col-10 align-self-end text-white mt-3 px-0"
                            style="color:aliceblue; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-shadow: 0px 0px 2px #000000">
                            {{ context.person.biography }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  END WALLPAPER SECTION  -->

    <!--  BEGIN SWITCH TAB  -->
    <ul class="nav nav-tabs nav-tabs-solid nav-justified" role="tablist">
        <li class="nav-item">
            <b class="nav-link active" data-toggle="tab" role="tab" href="#information">个人信息</b>
        </li>
        <li class="nav-item">
            <b class="nav-link" data-toggle="tab" role="tab" href="#organization">{{ context.title }}的组织</b>
        </li>
        <li class="nav-item">
            <b class="nav-link" data-toggle="tab" role="tab" href="#activity">{{ context.title }}的活动</b>
        </li>
    </ul>
    <!--  END SWITCH TAB  -->

    <div class="container-fluid tab-content" id="myTabContent">
        <!--  BEGIN INFORMATION TAB  -->
        <div class="tab-pane fade show active" id="information" role="tabpanel">
            <div class="col layout-top-spacing">

                <div class="user-profile layout-spacing">
                    <div class="widget-content widget-content-area">

                        <div class="d-flex justify-content-between">
                            <h3 class="">个人档案</h3>
                            <br /><br />
                        </div>

                        <div class="text-center user-info">
                            <img src={{ context.avatar_path }} height="90px" width="90px" alt="avatar">
                            <p class="">{{ context.person.name }}</p>
                        </div>

                        <div class="user-info-list">
                            <div class="">
                                <ul class="contacts-block list-unstyled">
                                    {% if context.person.show_nickname %}
                                    <li class="contacts-block__item">
                                        <div class="w-100 row p-0 m-0">
                                            <div class="col-0 p-0 m-0">
                                                <!-- at-sign -->
                                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
                                                    stroke-width="2" fill="none" stroke-linecap="round"
                                                    stroke-linejoin="round" class="css-i6dzq1">
                                                    <circle cx="12" cy="12" r="4"></circle>
                                                    <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path>
                                                </svg>
                                            </div>
                                            <div class="col p-0 m-1">
                                                {{ context.person.nickname }}
                                            </div>
                                        </div>
                                    </li>
                                    {% endif %}

                                    <li class="contacts-block__item">
                                        <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
                                            stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                            class="css-i6dzq1">
                                            <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
                                            <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z">
                                            </path>
                                        </svg>
                                        {% if context.person.stu_grade != "None" and context.person.stu_grade != "" %}
                                        {{ context.person.stu_grade }}级
                                        {% endif %}
                                        {% if context.person.stu_class != "None" and context.person.stu_class != "" %}
                                        {{ context.person.stu_class }}班
                                        {% endif %}
                                    </li>

                                    {% if context.person.show_major %}
                                    <li class="contacts-block__item ">
                                        <!-- git-branch -->
                                        <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
                                            stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                            class="css-i6dzq1">
                                            <line x1="6" y1="3" x2="6" y2="15"></line>
                                            <circle cx="18" cy="6" r="3"></circle>
                                            <circle cx="6" cy="18" r="3"></circle>
                                            <path d="M18 9a9 9 0 0 1-9 9"></path>
                                        </svg> {{ context.person.stu_major }}
                                    </li>
                                    {% endif %}

                                    {% if context.person.show_dorm %}
                                    <li class="contacts-block__item">
                                        <!-- home -->
                                        <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
                                            stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                            class="css-i6dzq1">
                                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                        </svg> {{ context.person.stu_dorm }}
                                    </li>
                                    {% endif %}

                                    {% if context.person.show_tel %}
                                    <li class="contacts-block__item">
                                        <!-- phone -->
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-phone">
                                            <path
                                                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                                            </path>
                                        </svg>
                                        {{context.person.telephone}}
                                    </li>
                                    {% endif %}

                                    {% if context.person.show_email %}
                                    <li class="contacts-block__item">
                                        <a href="mailto: {{ context.email }}">
                                            <!-- mail -->
                                            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
                                                stroke-width="2" fill="none" stroke-linecap="round"
                                                stroke-linejoin="round" class="css-i6dzq1">
                                                <path
                                                    d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                                                </path>
                                                <polyline points="22,6 12,13 2,6"></polyline>
                                            </svg> {{ context.person.email }}
                                        </a>
                                    </li>
                                    {% endif %}

                                    {% if html_display.is_myself == False %}
                                    <li class="contacts-block__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <polyline points="20 12 20 22 4 22 4 12" />
                                            <rect x="2" y="7" width="20" height="5" />
                                            <line x1="12" y1="22" x2="12" y2="7" />
                                            <path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z" />
                                            <path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z" />
                                        </svg>
                                        <a href="/transPage/{{context.person.person_id_id}}">
                                            向{{ context.title }}转账</a>
                                    </li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--  END INFORMATION TAB  -->

        <!--  BEGIN ORGANIZATION TAB  -->
        <div class="tab-pane fade" id="organization" role="tabpanel">

            <div class="layout-px-spacing layout-top-spacing">
                <div class="bio layout-spacing">

                    <!--  BEGIN OWNED ORGANIZATIONS  -->
                    <div class="widget-content widget-content-area my-3">

                        <div class="row">
                            <h3 class="col mb-0">管理的组织</h3>
                        </div>

                        <div class="bio-skill-box">
                            {% if html_display.owned_orgs_info is None %}
                            <p style="text-align: center;">没有管理的组织</p>
                            {% else %}
                            <div class="row">
                                {% for org, ava, pos in html_display.owned_orgs_info %}
                                <div class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 ">
                                    <div
                                        style="padding-left: 2%;padding-right: 2%; background-image: url({{ ava }}); background-size: 55%; background-repeat: no-repeat; background-position: right;">
                                        <div class=" b-skills row" style="background-color: #ffffffcc;">
                                            <div class="col-9 container-fluid">
                                                <a href="/orginfo/{{ org.oname }}">
                                                    <h5>{{ org.oname }}</h5>
                                                </a>
                                                <p
                                                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                    {{ org.introduction }}</p>
                                                <!-- where's the custom static css file? -->
                                            </div>
                                            <div class="col-3 pr-0">
                                                <p>职务 <b class="text-muted">{{ pos }}</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!--  END OWNED ORGANIZATIONS  -->

                    <!--  BEGIN JOINED ORGANIZATIONS  -->
                    <div class="widget-content widget-content-area my-3">

                        <div class="row">
                            <h3 class="col mb-0">加入的组织</h3>
                            {% if html_display.is_myself == False and user_type == 'Person' %}
                            <div class="col-0 mr-4 custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="org-show-same-button"
                                    onclick="toggle_same.call(this, `org`, `组织`, `inline-block`, '共同');this.blur();">
                                <label class="custom-control-label" id="org-show-same-label"
                                    for="org-show-same-button">所有组织</label>
                            </div>
                            {% endif %}
                        </div>


                        <div class="bio-skill-box">

                            {% if html_display.joined_orgs_info is None %}
                            <p style="text-align: center;">没有加入的组织或未公开</p>
                            {% else %}
                            <p id="custom-org-none" style="text-align: center; display: none;">没有共同的组织</p>
                            <div class="row">
                                {% for org, ava, pos, same in html_display.joined_orgs_info %}
                                <div
                                    class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 custom-org-card custom-org-issame-{{ same }}">
                                    <div
                                        style="padding-left: 2%;padding-right: 2%; background-image: url({{ ava }}); background-size: 55%; background-repeat: no-repeat; background-position: right;">
                                        <div class=" b-skills row" style="background-color: #ffffffcc;">
                                            <div class="col-9 container-fluid">
                                                <a href="/orginfo/{{ org.oname }}">
                                                    <h5>{{ org.oname }}</h5>
                                                </a>
                                                <p
                                                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                    {{ org.introduction }}</p>
                                            </div>
                                            <div class="col-3 pr-0">
                                                <p>职务 <b class="text-muted">{{ pos }}</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                            {% endif %}
                        </div>

                    </div>
                    <!--  END JOINED ORGANIZATIONS  -->

                    <!--  BEGIN HIDDEN ORGANIZATIONS  -->
                    {% if html_display.is_myself == True %}
                    <div class="widget-content widget-content-area my-3">

                        <div class="row">
                            <h3 class="col mb-0">隐藏的组织</h3>
                        </div>

                        <div class="bio-skill-box">

                            {% if html_display.hidden_orgs_info is None %}
                            <p style="text-align: center;">没有隐藏的组织</p>
                            {% else %}
                            <div class="row">
                                {% for org, ava, pos, status in html_display.hidden_orgs_info %}
                                <div class="col-12 col-xl-6 col-lg-12 mb-xl-4 mb-4 ">
                                    <div
                                        style="padding-left: 2%;padding-right: 2%; background-image: url({{ ava }}); background-size: 55%; background-repeat: no-repeat; background-position: right;">
                                        <div class=" b-skills row" style="background-color: #ffffffcc;">
                                            <div class="col-9 container-fluid">
                                                <a href="/orginfo/{{ org.oname }}">
                                                    <h5>{{ org.oname }}</h5>
                                                </a>
                                                <p
                                                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                    {{ org.introduction }}</p>
                                            </div>
                                            <div class="col-3 pr-0">
                                                <p>职务 <b class="text-muted">{{ pos }}</b></p>
                                                <p>状态 <b class="text-muted">{{ status }}</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                            {% endif %}
                        </div>

                    </div>
                    {% endif %}
                    <!--  END HIDDEN ORGANIZATIONS  -->

                </div>
            </div>

        </div>
        <!--  END ORGANIZATION TAB  -->

        <!--  BEGIN ACTIVITY TAB  -->
        <div class="tab-pane fade" id="activity" role="tabpanel">
            <div class="container-fluid layout-px-spacing layout-top-spacing">
                <div class="bio education layout-spacing ">
                    <div class="widget-content widget-content-area">

                        <div class="row">
                            <h3 class="col mb-0">参与的活动</h3>
                            {% if html_display.is_myself == False %}
                            <div class="col-0 mr-4 custom-control custom-switch">
                                {% if user_type == 'Person' %}
                                <input type="checkbox" class="custom-control-input" id="activity-show-same-button"
                                    onclick="toggle_same.call(this, `activity`, `活动`, `flex`, `共同`);this.blur();">
                                {% endif %}
                                {% if user_type == 'Organization' %}
                                <input type="checkbox" class="custom-control-input" id="activity-show-same-button"
                                    onclick="toggle_same.call(this, `activity`, `活动`, `flex`, `我的`);this.blur();">
                                {% endif %}
                                <label class="custom-control-label" id="activity-show-same-label"
                                    for="activity-show-same-button">所有活动</label>
                            </div>
                            {% endif %}
                        </div>

                        <div class="timeline-alter bio bio-skill-box">

                            {% if html_display.activity_info is None %}
                            <p style="text-align: center;">没有参与的活动</p>
                            {% else %}
                            <p id="custom-activity-none" style="display: none; text-align: center;">没有共同的活动</p>
                            {% for a, start, end, status, same, activity_c, attend_c in html_display.activity_info %}
                            <div class="item-timeline custom-activity-card custom-activity-issame-{{ same }}">
                                <div class="t-meta-date">
                                    <p>{{ start }}-</p>
                                    <p>{{ end }}&nbsp;</p>
                                </div>
                                <div class="t-dot" data-original-title="" title="">
                                </div>
                                <div class="t-text col-lg-8 col-md-12">
                                    <div class="row b-skills px-0">
                                        <div class="col-6 ml-2">
                                            <a class="row m-0" href="/viewActivity/{{ a.id }}">
                                                <h5
                                                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                    <span class="text-{{ activity_c }} mr-1">
                                                        [{{ a.status }}]
                                                    </span>
                                                    <u>{{ a.title }}元培学院2020级本科生军训</u>
                                                </h5>
                                            </a>
                                            <p class="row ml-0">
                                                <span class="mr-1">{{ a.organization_id }}</span>
                                            </p>
                                        </div>
                                        <div class="row col-6 pr-0">
                                            <p class="col-7"
                                                style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                {% if a.introduction == '' %}
                                                没有介绍～
                                                {% else %}
                                                {{ a.introduction }}
                                                {% endif %}
                                            </p>
                                            <p class="col-5 text-{{ attend_c }} float-right pr-2">
                                                {{ status }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  END ACTIVITY TAB  -->

    </div>
    <!--  END CONTENT AREA  -->

</div>
{% endblock %}

{% block add_js_file %}
<script type="text/javascript">
    function toggle_same(type, labelName, display, prefix) {
        const cards = document.querySelectorAll(`.custom-${type}-card`);
        if (this.checked) {
            const label = document.querySelector(`#${type}-show-same-label`);
            label.innerHTML = `${prefix}${labelName}`;

            const hasSame = false;
            cards.forEach((card) => {
                const same = card.classList.contains(`custom-${type}-issame-True`);
                if (!same) card.style.display = 'none';
                else hasSame = true;
            });

            if (hasSame === false) {
                const p = document.querySelector(`#custom-${type}-none`);
                if (p !== null) p.style.display = `block`;
            }

            this.checked = true;
        } else {
            const label = document.querySelector(`#${type}-show-same-label`);
            label.innerHTML = `所有${labelName}`;

            cards.forEach((card) => card.style.display = display)

            const p = document.querySelector(`#custom-${type}-none`);
            if (p !== null) p.style.display = `none`;

            this.checked = false;
        }
    }
</script>
{% endblock %}