{% extends "base.html" %}
{% load static %}

{% block add_css_file %}
<link href={% static "assets/css/authentication/form-2.css" %} rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<link rel="stylesheet" type="text/css" href={% static "assets/css/forms/theme-checkbox-radio.css" %}>
<link rel="stylesheet" type="text/css" href={% static "assets/css/forms/switches.css" %}>
{% endblock %}

{% block mainpage %}
    <div id="content" class="main-content">

        <div class="form-container outer">
            <center>
                <div class="form-form">
                    <div class="form-form-wrap">
                        <div class="form-container">
                            <div class="form-content">
                                <div class="d-flex user-meta">
                                    <img src={{transaction_context.avatar}} class="usr-profile" alt="avatar">
                                    <div class="">
                                        <p class="">向{{transaction_context.name}}转账</p>
                                    </div>
                                </div>

                                <form class="text-left" method="POST">
                                    <div class="form">

                                        <div id="pw-field" class="field-wrapper input mb-2">
                                            <div class="d-flex justify-content-between">
                                                <label>转账金额(可用{{transaction_context.YQPoint_limit}}元气值)</label>
                                                <a href="{{transaction_context.return_url}}" class="forgot-pass-link">返回</a>
                                            </div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-lock">
                                                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                                <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                            </svg>
                                            <input  type="number" class="form-control" name="amount"
                                                placeholder="最小精度为0.1" οnkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,1})?).*$/g, '$1')"
                                                min="0.1", step="0.1" required="required">
                                            {% if transaction_context.service is not None and transaction_context.service != -1 %}
                                            <input type="hidden" name="service" value={{transaction_context.service}}>
                                            {% endif %}
                                            <!--modified by wxy-->
                                        </div>

                                        <div class="form">
                                            <div id="new-field" class="field-wrapper input mb-2">
                                                <div class="d-flex justify-content-between">
                                                    <label for="new">转账备注</label>
                                                    <!--modified by pht-->
                                                </div>
                                                <textarea name="msg"  class="form-control"
                                                    rows="3">{{transaction_context.message | default_if_none : ""}}</textarea>
                                                
                                                <!--modified by wxy-->
                                            </div>

                                            <div class="d-sm-flex justify-content-between">
                                                <div class="field-wrapper">
                                                    <button type="submit" class="btn btn-primary" value=""
                                                    onclick="return confirm('{% if user_type == 'Organization' %}你正在使用小组账号，{% endif %}确定向{{transaction_context.name}}发起转账？确定后将无法撤回！')"
                                                        id="">确认发起</button>
                                                    <!--modified by wxy-->
                                                </div>

                                            </div>

                                        </div>
                                        {% if html_display.warn_code%}
                                        <div class="alert alert-warning  text-center">{{html_display.warn_message}}</div>
                                        {% endif %}

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
    
{% endblock %}

{% block add_js_file %}
<!-- END GLOBAL MANDATORY SCRIPTS -->
<script src={% static "assets/js/authentication/form-2.js" %}></script>

<!--added by wxy-->

{% endblock %}