{% extends "base.html" %}

{% block mainpage %}
{% load static %}

    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link rel="stylesheet" type="text/css" href="{% static "plugins/dropify/dropify.min.css" %}">
    <link href="{% static "assets/css/users/account-setting.css" %}" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  -->

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    {% include 'user_left_narbar.html' %}

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <!--  BEGIN CUSTOM STYLE FILE  -->
        <link rel="stylesheet" type="text/css" href="{% static "plugins/dropify/dropify.min.css" %}">
        <link href="{% static "assets/css/users/account-setting.css" %}" rel="stylesheet" type="text/css" />
        <!--  END CUSTOM STYLE FILE  -->

        <div class="layout-px-spacing">

            <div class="account-settings-container layout-top-spacing">
                {% if upload_state == True %}
                <div class="alert alert-success  text-center">修改个人信息成功</div>
                {% endif %}
                {% if expr == False %}
                <div class="alert alert-warning  text-center">没有检测到信息更新</div>
                {% endif %}
                <div class="account-content">
                    <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll"
                        data-offset="-100">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                                <form id="general-info" class="section general-info" method="POST"
                                    enctype="multipart/form-data">
                                    <div class="info">
                                        <h6 class="">General Information</h6>

                                        <div class="row">
                                            <!-- <div class="col-lg-11 mx-auto">
                                                    <div class="row">
                                                        <div class="col-xl-2 col-lg-12 col-md-4" >  -->
                                            <div class="upload mt-4 pr-md-4 ">
                                                <input type="file" id="avatar" class="dropify" name="avatar"
                                                    data-default-file="{{former_img}}" data-max-file-size="512K" />
                                                <p class="mt-2 text-center">不支持中文名</p>
                                            </div>
                                            <!-- </div> -->
                                            <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                                <div class="form">
                                                    <div class="row">

                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label for="fullName">Tel</label>
                                                                <input type="text" class="form-control mb-4" id="tel"
                                                                    name="tel" placeholder="{{userinfo.telephone}}">
                                                            </div>
                                                        </div>
                                                        <!-- <div class="col-sm-6">
                                                                        <label class="dob-input">Date of Birth</label>
                                                                        <div class="d-sm-flex d-block">
                                                                            <div class="form-group mr-1">
                                                                                <select class="form-control" id="exampleFormControlSelect1" name="day">
                                                                                  <option>Day</option>
                                                                                  <option>1</option>
                                                                                  <option>2</option>
                                                                                  <option>3</option>
                                                                                  <option>4</option>
                                                                                  <option>5</option>
                                                                                  <option>6</option>
                                                                                  <option>7</option>
                                                                                  <option>8</option>
                                                                                  <option>9</option>
                                                                                  <option>10</option>
                                                                                  <option>11</option>
                                                                                  <option>12</option>
                                                                                  <option>13</option>
                                                                                  <option>14</option>
                                                                                  <option>15</option>
                                                                                  <option>16</option>
                                                                                  <option>17</option>
                                                                                  <option>18</option>
                                                                                  <option>19</option>
                                                                                  <option selected>20</option>
                                                                                  <option>21</option>
                                                                                  <option>22</option>
                                                                                  <option>23</option>
                                                                                  <option>24</option>
                                                                                  <option>25</option>
                                                                                  <option>26</option>
                                                                                  <option>27</option>
                                                                                  <option>28</option>
                                                                                  <option>29</option>
                                                                                  <option>30</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group mr-1">
                                                                                <select class="form-control" id="month" name="month">
                                                                                    <option>Month</option>
                                                                                    <option selected>Jan</option>
                                                                                    <option>Feb</option>
                                                                                    <option>Mar</option>
                                                                                    <option>Apr</option>
                                                                                    <option>May</option>
                                                                                    <option>Jun</option>
                                                                                    <option>Jul</option>
                                                                                    <option>Aug</option>
                                                                                    <option>Sep</option>
                                                                                    <option>Oct</option>
                                                                                    <option>Nov</option>
                                                                                    <option>Dec</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group mr-1">
                                                                                <select class="form-control" id="year" name="year">
                                                                                  <option>Year</option>
                                                                                  <option>2018</option>
                                                                                  <option>2017</option>
                                                                                  <option>2016</option>
                                                                                  <option>2015</option>
                                                                                  <option>2014</option>
                                                                                  <option>2013</option>
                                                                                  <option>2012</option>
                                                                                  <option>2011</option>
                                                                                  <option>2010</option>
                                                                                  <option>2009</option>
                                                                                  <option>2008</option>
                                                                                  <option>2007</option>
                                                                                  <option>2006</option>
                                                                                  <option>2005</option>
                                                                                  <option>2004</option>
                                                                                  <option>2003</option>
                                                                                  <option>2002</option>
                                                                                  <option>2001</option>
                                                                                  <option>2000</option>
                                                                                  <option>1999</option>
                                                                                  <option>1998</option>
                                                                                  <option>1997</option>
                                                                                  <option>1996</option>
                                                                                  <option>1995</option>
                                                                                  <option>1994</option>
                                                                                  <option>1993</option>
                                                                                  <option>1992</option>
                                                                                  <option>1991</option>
                                                                                  <option>1990</option>
                                                                                  <option selected>1989</option>
                                                                                  <option>1988</option>
                                                                                  <option>1987</option>
                                                                                  <option>1986</option>
                                                                                  <option>1985</option>
                                                                                  <option>1984</option>
                                                                                  <option>1983</option>
                                                                                  <option>1982</option>
                                                                                  <option>1981</option>
                                                                                  <option>1980</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    
                                                                    </div> -->
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="profession">Major</label>
                                                        <input type="text" class="form-control mb-4" id="major"
                                                            name="major" placeholder="{{userinfo.stu_major}}">
                                                        <label for="profession">Email</label>
                                                        <input type="text" class="form-control mb-4" id="email"
                                                            name="email" placeholder="{{userinfo.email}}">
                                                        <label for="aboutBio">Bio</label>
                                                        <textarea class="form-control" id="aboutBio" name="aboutBio"
                                                            placeholder="{{userinfo.biography}}" rows="10"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                            </div>
                            <div class="col-md-12 text-right mb-5">
                                <button id="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                        </form>
                    </div>












                </div>
            </div>
        </div>


    </div>


</div>

{% endblock %}

{% block load_js_file %}
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src={% static "assets/js/libs/jquery-3.1.1.min.js" %}></script>
    <script src={% static "bootstrap/js/popper.min.js" %}></script>
    <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
    <script src={% static "plugins/perfect-scrollbar/perfect-scrollbar.min.js" %}></script>
    <script src={% static "assets/js/app.js" %}></script>
    
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src={% static "assets/js/custom.js" %}></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!--  BEGIN CUSTOM SCRIPTS FILE  -->

    <script src={% static "plugins/dropify/dropify.min.js" %}></script>
    <script src={% static "plugins/blockui/jquery.blockUI.min.js" %}></script>
    <!-- <script src="plugins/tagInput/tags-input.js"></script> -->
    <script src={% static "assets/js/users/account-settings.js" %}></script>
    <!--  END CUSTOM SCRIPTS FILE  -->
{% endblock %}
