{% extends "base.html" %}

{% block mainpage %}

<!-- BEGIN MAIN CONTAINER  -->
<div class="main-container sidebar-closed " id="container">

    <div class="overlay show"></div>
    <div class="search-overlay"></div>

    {% if html_display.user_type == "Person" %}
    {% include 'user_left_narbar.html' %}
    {% else %}
    {% include 'org_left_narbar.html' %}
    {% endif %}

    
    <!--  BEGIN CONTENT PART  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            {% if html_display.warn_code == 2 %}
                <div class="alert alert-success  text-center">{{html_display.warn_message}}</div>
            {% elif html_display.warn_code == 1%}
                <div class="alert alert-warning  text-center">{{html_display.warn_message}}</div>
            {% endif %}
            <div class="row layout-top-spacing">
                <div class="jumbotron">
                    <div class="container">
                        <h1 class="display-3">你好，元培！</h1>
                        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                    </div>
                </div>
                
                <div class="container">

                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-4">
                        <h2>元培团委</h2>
                        <p>庆祝共产党成立100周年，学院举办学党史教育活动。 </p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>元培学生会</h2>
                        <p>绍兴论坛举办在即，点击查看详情。 </p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>元培学学学</h2>
                        <p>通识课改革问卷已发布，请同学们点此处填写！</p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                    </div>
                </div>
                <hr>
            </div>
            
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-4">
                    <h2>元培书房</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                    </div>
                    <div class="col-md-4">
                    <h2>元培设计组</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                    </div>
                    <div class="col-md-4">
                    <h2>元培地下电影院</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                    </div>
                </div>
                <hr>
            </div>
            
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-4">
                    <h2>元培辩论队</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <!--  END CONTENT PART  -->
</div>
<!-- END MAIN CONTAINER -->

<!-- BEGIN FOOTER  -->
<div class="footer-wrapper">
    <div class="footer-section f-section-1">
        <p class="">Copyright © 2020 <a target="_blank" href="../../../designreset.html">DesignReset</a>, All rights <a href="http://www.bootstrapmb.com">Reserved </a>.</p>
    </div>
    <div class="footer-section f-section-2">
        <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
    </div>
</div>
<!-- END FOOTER  -->

{% endblock %}