<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>元气值分发的单个实例</title>
</head>
<body>
    <form action="?dis_id={{dis.id}}" method="POST">
        {% csrf_token %}
        <!-- {{ dis_form.as_p }} -->
        {% for field in dis_form %}
            <p>
                {% if field == dis_form.start_time %}
                    {{field.label_tag}}
                    <input type="datetime-local" name="start_time" value="{{start_time}}" />
                {% else %}
                    {{field.label_tag}} {{field}}
                {% endif %}
            </p>
        {% endfor %}
        <div>
            <input type="submit">
        </div>
    </form>
</body>
</html>