version: '3.7'

services:
  mysql:
    image: mysql:5.7
    volumes:
      - yppf-mysql-data:/var/lib/mysql
      - yppf-mysql-config:/etc/mysql
    command:
      [
        "mysqld",
        "--character-set-server=utf8mb4",
        "--collation-server=utf8mb4_bin"
      ]
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: yppf

  yppf:
    image: yuanpei/yppf
    # command: sh -c "sleep 10 &&
    #                 python3 manage.py makemigrations && 
    #                 python3 manage.py migrate &&
    #                 python3 manage.py runserver 0.0.0.0:8000"
    ports:
      - 8000:80
    volumes:
      - .././:/code
    depends_on:
      - mysql

volumes:
  yppf-mysql-data:
  yppf-mysql-config:
