name: basetest

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:

  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Configure local json
      run: |
        bash scripts/default_config.sh

    - name: Start containers
      run: |
        docker-compose -f .devcontainer/docker-compose.yml up -d

    - name: Setup DB
      run: |
        docker compose -f .devcontainer/docker-compose.yml exec -u vscode -T yppf python3 manage.py migrate

    - name: Test 
      run: |
        docker compose -f .devcontainer/docker-compose.yml exec -u vscode -T yppf python3 manage.py test

    - name: Dump docker logs on failure
      if: failure()
      uses: jwalton/gh-docker-logs@v2
