name: unittest

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:

  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Configure local json
      run: |
        bash env/config.sh

    - name: Start containers
      run: |
        docker-compose -f env/docker-compose.yml up -d

    - name: Test 
      run: |
        docker-compose -f env/docker-compose.yml run yppf python3 manage.py test
